n8n/linked_in_post_sharing.workflow.json
{
  "active": true,
  "connections": {
    "accept_post": {
      "main": [
        [
          {
            "node": "switch_user_accept",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "switch_user_accept": {
      "main": [
        [
          {
            "node": "send_2_linkedin",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "execute_post_creator",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "set_error_cancelled",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "set_error_cancelled": {
      "main": [
        [
          {
            "node": "end_form",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "send_2_linkedin": {
      "main": [
        [
          {
            "node": "send_published_notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "send_published_notification": {
      "main": [
        [
          {
            "node": "end_form",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "parse_form_input": {
      "main": [
        [
          {
            "node": "download_content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "download_content": {
      "main": [
        [
          {
            "node": "execute_post_creator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "end_form": {
      "main": [
        []
      ]
    },
    "check_subworkflow_error": {
      "main": [
        [
          {
            "node": "accept_post",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "end_form",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "execute_post_creator": {
      "main": [
        [
          {
            "node": "check_subworkflow_error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "main_trigger": {
      "main": [
        [
          {
            "node": "parse_form_input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-05-17T19:28:23.598Z",
  "id": "ly0hy9UadcLEcp7W",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "LinkedIn Post Sharing",
  "nodes": [
    {
      "parameters": {
        "formFields": {
          "values": [
            {
              "fieldType": "html",
              "html": "<div>\n  <h3>Waiting for your approval to share on LinkedIn...</h3>\n  <p>\n    <strong>URL</strong>\n  </p>\n  <p>\n    <span>{{ $('parse_form_input').item.json.URL }}</span>\n  </p>\n  <p>\n    <strong>CONTENT</strong>\n  </p>\n  <p>\n    <pre>{{ $json.text }}</pre>\n  </p>\n</div>"
            },
            {
              "fieldLabel": "Confirm?",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "YES"
                  },
                  {
                    "option": "CANCEL"
                  },
                  {
                    "option": "RETRY"
                  }
                ]
              },
              "requiredField": true
            }
          ]
        },
        "options": {
          "buttonLabel": "Continue",
          "customCss": ":root {\n\t--font-family: 'Open Sans', sans-serif;\n\t--font-weight-normal: 400;\n\t--font-weight-bold: 600;\n\t--font-size-body: 12px;\n\t--font-size-label: 14px;\n\t--font-size-test-notice: 12px;\n\t--font-size-input: 14px;\n\t--font-size-header: 20px;\n\t--font-size-paragraph: 14px;\n\t--font-size-link: 12px;\n\t--font-size-error: 12px;\n\t--font-size-html-h1: 28px;\n\t--font-size-html-h2: 20px;\n\t--font-size-html-h3: 16px;\n\t--font-size-html-h4: 14px;\n\t--font-size-html-h5: 12px;\n\t--font-size-html-h6: 10px;\n\t--font-size-subheader: 14px;\n\n\t/* Colors */\n\t--color-background: #fbfcfe;\n\t--color-test-notice-text: #e6a23d;\n\t--color-test-notice-bg: #fefaf6;\n\t--color-test-notice-border: #f6dcb7;\n\t--color-card-bg: #ffffff;\n\t--color-card-border: #dbdfe7;\n\t--color-card-shadow: rgba(99, 77, 255, 0.06);\n\t--color-link: #7e8186;\n\t--color-header: #525356;\n\t--color-label: #555555;\n\t--color-input-border: #dbdfe7;\n\t--color-input-text: #71747A;\n\t--color-focus-border: rgb(90, 76, 194);\n\t--color-submit-btn-bg: #ff6d5a;\n\t--color-submit-btn-text: #ffffff;\n\t--color-error: #ea1f30;\n\t--color-required: #ff6d5a;\n\t--color-clear-button-bg: #7e8186;\n\t--color-html-text: #555;\n\t--color-html-link: #ff6d5a;\n\t--color-header-subtext: #7e8186;\n\n\t/* Border Radii */\n\t--border-radius-card: 8px;\n\t--border-radius-input: 6px;\n\t--border-radius-clear-btn: 50%;\n\t--card-border-radius: 8px;\n\n\t/* Spacing */\n\t--padding-container-top: 24px;\n\t--padding-card: 24px;\n\t--padding-test-notice-vertical: 12px;\n\t--padding-test-notice-horizontal: 24px;\n\t--margin-bottom-card: 16px;\n\t--padding-form-input: 12px;\n\t--card-padding: 24px;\n\t--card-margin-bottom: 16px;\n\n\t/* Dimensions */\n\t--container-width: 448px;\n\t--submit-btn-height: 48px;\n\t--checkbox-size: 18px;\n\n\t/* Others */\n\t--box-shadow-card: 0px 4px 16px 0px var(--color-card-shadow);\n\t--opacity-placeholder: 0.5;\n}\n\npre {\n    white-space: pre-wrap;       /* Since CSS 2.1 */\n    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */\n    white-space: -pre-wrap;      /* Opera 4-6 */\n    white-space: -o-pre-wrap;    /* Opera 7 */\n    word-wrap: break-word;       /* Internet Explorer 5.5+ */\n}"
        }
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 1,
      "position": [
        400,
        -576
      ],
      "id": "9821ad46-b710-4145-a624-16d75c49c07a",
      "name": "accept_post",
      "webhookId": "053088cb-10d0-4c4a-bc18-8cec49ab0af8"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json['Confirm?'] }}",
                    "rightValue": "YES",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "1ff89881-6b63-4c71-b452-518d97a6e351"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "ff5900ad-ed83-4755-a621-d0a21c4cbc39",
                    "leftValue": "={{ $json['Confirm?'] }}",
                    "rightValue": "RETRY",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "d02ebf8b-39af-4e99-8a2f-94ff2b8eb2d9",
                    "leftValue": "={{ $json['Confirm?'] }}",
                    "rightValue": "CANCEL",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": 2
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        624,
        -496
      ],
      "id": "1c03ffd6-36da-497c-b5a2-fa6934388036",
      "name": "switch_user_accept"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6a77a0ee-e904-467b-9f9f-e04aa3ddf203",
              "name": "ERROR",
              "value": "CANCELLED",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1072,
        -400
      ],
      "id": "39ceb77b-1f7a-424a-b394-a017d13f0296",
      "name": "set_error_cancelled"
    },
    {
      "parameters": {
        "person": "ZK1zEXWkav",
        "text": "={{ $('execute_post_creator').item.json.text }}",
        "shareMediaCategory": "ARTICLE",
        "additionalFields": {
          "originalUrl": "={{ $('parse_form_input').item.json.URL }}",
          "visibility": "PUBLIC"
        }
      },
      "type": "n8n-nodes-base.linkedIn",
      "typeVersion": 1,
      "position": [
        848,
        -608
      ],
      "id": "5c35fd57-85db-46d5-b912-e46b37751f91",
      "name": "send_2_linkedin",
      "credentials": {
        "linkedInOAuth2Api": {
          "id": "dNaa8BbpK1D8IDZZ",
          "name": "LinkedIn account"
        }
      }
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C08RQNXQV3P",
          "mode": "list",
          "cachedResultName": "workflows"
        },
        "text": "=Published Post ({{ $('main_trigger').item.json.URL }}) in LinkedIn!",
        "otherOptions": {
          "includeLinkToWorkflow": true
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        1072,
        -608
      ],
      "id": "47bd0b7c-6d65-4f71-a571-c70b71178409",
      "name": "send_published_notification",
      "webhookId": "9b312988-a3b0-4385-a7a7-2ca3e66c8f7f",
      "credentials": {
        "slackApi": {
          "id": "DszMmPE7WwOjHQjz",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "98368679-ae9b-49ca-a79c-3eb2a9532430",
              "name": "URL",
              "value": "={{ $json.URL || \"https://www.alvsanand.com/blog/2024/04/02/yet-another-kubernetes-to-do-list/\" }}",
              "type": "string"
            },
            {
              "id": "8f072eda-32d8-438f-95ba-a50f23d7703f",
              "name": "EXTRA_RULES",
              "value": "={{ $json.EXTRA_RULES }}",
              "type": "string"
            },
            {
              "id": "dae78c99-7039-465d-af4a-c1738c50eed5",
              "name": "MAX_WORDS",
              "value": "={{ $json.MAX_WORDS || 300 }}",
              "type": "number"
            },
            {
              "id": "0c0a5f34-23e6-47d0-928d-f01205dd4ee3",
              "name": "ERROR",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -480,
        -496
      ],
      "id": "bd057123-ae25-4d6d-97b5-539a7b0dea50",
      "name": "parse_form_input"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "qUfjfWLGEjV96ljf",
          "mode": "list",
          "cachedResultName": "Download Content"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "URL": "={{ $json.URL }}"
          },
          "matchingColumns": [
            "URL"
          ],
          "schema": [
            {
              "id": "URL",
              "displayName": "URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -256,
        -496
      ],
      "id": "909ffab8-5348-4f2f-9c28-75871fba2269",
      "name": "download_content"
    },
    {
      "parameters": {
        "operation": "completion",
        "completionTitle": "Finished LinkedIn Post Workflow",
        "completionMessage": "=ERRORS: {{ $json.ERROR || \"None\" }}",
        "limitWaitTime": true,
        "resumeUnit": "minutes",
        "options": {}
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 1,
      "position": [
        1280,
        -496
      ],
      "id": "1f02c0c8-d554-40b1-ac2c-8e98fb42b80d",
      "name": "end_form",
      "webhookId": "b89f66a9-0683-4e89-8709-0befa5ae58c3"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.ERROR || \"\" }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "empty",
                      "singleValue": true
                    },
                    "id": "fc19486a-369f-4500-9f0c-d803d0e28a33"
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        192,
        -576
      ],
      "id": "b04048ec-9c4d-4f05-8eba-373c0acf74b9",
      "name": "check_subworkflow_error"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "PaeHFdCsdoVbQx11",
          "mode": "list",
          "cachedResultName": "LinkedIn Post Creator"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "MAX_WORDS": "={{ $('parse_form_input').item.json.MAX_WORDS }}",
            "URL": "={{ $('parse_form_input').item.json.URL }}",
            "EXTRA_RULES": "={{ $('parse_form_input').item.json.EXTRA_RULES }}",
            "CONTENT": "={{ $('download_content').item.json.contentMkdown }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "EXTRA_RULES",
              "displayName": "EXTRA_RULES",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "CONTENT",
              "displayName": "CONTENT",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "URL",
              "displayName": "URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "MAX_WORDS",
              "displayName": "MAX_WORDS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -48,
        -496
      ],
      "id": "7d4e170f-0906-47ee-a893-9d79224e7268",
      "name": "execute_post_creator"
    },
    {
      "parameters": {
        "formTitle": "LinkedIn Post Workflow",
        "formFields": {
          "values": [
            {
              "fieldLabel": "URL",
              "placeholder": "https://example.com/some_article",
              "requiredField": true
            },
            {
              "fieldLabel": "MAX_WORDS",
              "fieldType": "=number",
              "placeholder": "300",
              "fieldOptions": {
                "values": [
                  {}
                ]
              }
            },
            {
              "fieldLabel": "EXTRA_RULES",
              "fieldType": "textarea"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        -704,
        -496
      ],
      "id": "7e699ae3-3801-4a64-9c7c-b9b4d72937fb",
      "name": "main_trigger",
      "webhookId": "e9400822-40ab-4a0f-a01f-a191dd52a960"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "executionTimeout": 3600
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-07-27T13:48:06.580Z",
  "versionId": "ce59658e-af2a-4621-8890-db50035d3bc1"
}