n8n/test_form.workflow.json
{
  "active": false,
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "If recommended",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If not recommended",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If not recommended": {
      "main": [
        [
          {
            "node": "Thanks for the feedback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If recommended": {
      "main": [
        [
          {
            "node": "Thanks for the review",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-05-19T11:23:34.300Z",
  "id": "SKWGptusoQVxhr0M",
  "isArchived": false,
  "meta": null,
  "name": "Test Form",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Form with mutually exclusive branching",
        "formDescription": "This form contains branches, but only one branch will ever be executed.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Would you recommend this site?",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Yes"
                  },
                  {
                    "option": "No"
                  }
                ]
              },
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        160,
        260
      ],
      "id": "0556a41f-299d-439f-b8e6-823e1cdace5c",
      "name": "On form submission",
      "webhookId": "d869b846-111d-4f53-96e4-2c4a533d9ed6"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json['Would you recommend this site?'] }}",
                    "rightValue": "Yes",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Yes"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "1dd9b1f5-6f48-4182-ae04-f47c37e3fa98",
                    "leftValue": "={{ $json['Would you recommend this site?'] }}",
                    "rightValue": "No",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "No"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        380,
        260
      ],
      "id": "5e55e642-5bd8-424f-abc6-6fe786550cf0",
      "name": "Switch"
    },
    {
      "parameters": {
        "formFields": {
          "values": [
            {
              "fieldLabel": "What can we do to improve?",
              "fieldType": "textarea"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 1,
      "position": [
        600,
        460
      ],
      "id": "cf5efc9d-06b2-4092-a4d4-291c84e51e70",
      "name": "If not recommended",
      "webhookId": "3579ba77-7ba2-4a97-8a29-a228aac297d5"
    },
    {
      "parameters": {
        "operation": "completion",
        "completionTitle": "Thank you for your review!",
        "options": {}
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 1,
      "position": [
        820,
        60
      ],
      "id": "4c8c9219-6362-455f-9009-52114904b1fa",
      "name": "Thanks for the review",
      "webhookId": "bce3f77b-3005-4989-bd61-b9c5ff19e59e"
    },
    {
      "parameters": {
        "operation": "completion",
        "completionTitle": "Thank you for your feedback",
        "options": {}
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 1,
      "position": [
        820,
        460
      ],
      "id": "400fa4f1-55bd-442a-8471-b2c97d4a1e91",
      "name": "Thanks for the feedback",
      "webhookId": "8b1a34e2-aa24-4c12-841c-79f6491cb779"
    },
    {
      "parameters": {
        "content": "## Form with mutually exclusive branching\nThis form contains a branch where only one of the two paths will execute, depending on your selections.",
        "width": 380
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1,
      "id": "92473c83-5915-4c68-bef8-8547b2aa7d8f",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "This Switch node determines which branch will execute.\n\nThe switch uses data from a dropdown field with single selection enforced, so only one path will execute.",
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        600,
        260
      ],
      "typeVersion": 1,
      "id": "18b72550-5679-433f-9ee0-7b7863d4bfba",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "formFields": {
          "values": [
            {
              "fieldLabel": "Leave your review below",
              "fieldType": "textarea"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 1,
      "position": [
        600,
        60
      ],
      "id": "613cc4df-41ef-40b8-83be-316964b8a639",
      "name": "If recommended",
      "webhookId": "f8298b40-1f61-465b-b228-30a659075f30"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-05-22T14:37:57.659Z",
  "versionId": "c7d50250-b971-491a-afd5-95903df8be0a"
}