n8n/workflows/linked_in_post_sharing.workflow.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-03-14T08:59:44.085Z",
    "createdAt": "2026-03-14T08:59:41.438Z",
    "versionId": "0cff147e-bb58-4daa-a55d-61c8e7b63aee",
    "workflowId": "oxARWWyxenKgmv6A",
    "nodes": [
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.data.approved }}",
                      "rightValue": "true",
                      "operator": {
                        "type": "boolean",
                        "operation": "true",
                        "singleValue": true
                      },
                      "id": "1ff89881-6b63-4c71-b452-518d97a6e351"
                    }
                  ],
                  "combinator": "and"
                }
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "ff5900ad-ed83-4755-a621-d0a21c4cbc39",
                      "leftValue": "={{ $json.data.approved }}",
                      "rightValue": "RETRY",
                      "operator": {
                        "type": "boolean",
                        "operation": "false",
                        "singleValue": true
                      }
                    }
                  ],
                  "combinator": "and"
                }
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.2,
        "position": [
          1216,
          -1824
        ],
        "id": "645093c0-7a43-484e-a3c3-788ff57b0167",
        "name": "switch_user_accept"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "6a77a0ee-e904-467b-9f9f-e04aa3ddf203",
                "name": "ERROR",
                "value": "CANCELLED",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          2112,
          -1472
        ],
        "id": "8d0270dd-64d0-4e93-a3b9-dce397f21a11",
        "name": "set_error_cancelled"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "qUfjfWLGEjV96ljf",
            "mode": "list",
            "cachedResultUrl": "/workflow/qUfjfWLGEjV96ljf",
            "cachedResultName": "Download Content"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "URL": "={{ $('select_article_to_post').item.json.URL }}"
            },
            "matchingColumns": [
              "URL"
            ],
            "schema": [
              {
                "id": "URL",
                "displayName": "URL",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {
            "waitForSubWorkflow": true
          }
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.2,
        "position": [
          96,
          -1824
        ],
        "id": "74d70931-55a5-43ce-9f15-c533072d52f8",
        "name": "download_content"
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.ERROR || \"\" }}",
                      "rightValue": "",
                      "operator": {
                        "type": "string",
                        "operation": "empty",
                        "singleValue": true
                      },
                      "id": "fc19486a-369f-4500-9f0c-d803d0e28a33"
                    }
                  ],
                  "combinator": "and"
                }
              }
            ]
          },
          "options": {
            "fallbackOutput": "extra"
          }
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.2,
        "position": [
          544,
          -1904
        ],
        "id": "c1a5ef20-0aba-4b70-a901-4642a44589e7",
        "name": "check_subworkflow_error"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "PaeHFdCsdoVbQx11",
            "mode": "list",
            "cachedResultUrl": "/workflow/PaeHFdCsdoVbQx11",
            "cachedResultName": "LinkedIn Post Creator"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "MAX_WORDS": "={{ $('select_article_to_post').item.json.MAX_WORDS || 300 }}",
              "URL": "={{ $('select_article_to_post').item.json.URL }}",
              "EXTRA_RULES": "={{ $('select_article_to_post').item.json.EXTRA_RULES }}",
              "CONTENT": "={{ $('download_content').item.json.contentMkdown }}",
              "ENABLE_CHECK": true
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "EXTRA_RULES",
                "displayName": "EXTRA_RULES",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string"
              },
              {
                "id": "CONTENT",
                "displayName": "CONTENT",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string"
              },
              {
                "id": "URL",
                "displayName": "URL",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string"
              },
              {
                "id": "MAX_WORDS",
                "displayName": "MAX_WORDS",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "number"
              },
              {
                "id": "ENABLE_CHECK",
                "displayName": "ENABLE_CHECK",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "boolean",
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {
            "waitForSubWorkflow": true
          }
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.2,
        "position": [
          320,
          -1824
        ],
        "id": "bbb9075e-10fd-4ae2-a023-a95a8ec9c48b",
        "name": "execute_post_creator",
        "notesInFlow": false
      },
      {
        "parameters": {
          "documentId": {
            "__rl": true,
            "value": "1HdJsvIaWuWu8_dDtoU-lql3ZLgbFMAe0xZ4AnYnMgPI",
            "mode": "list",
            "cachedResultName": "content_planner",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1HdJsvIaWuWu8_dDtoU-lql3ZLgbFMAe0xZ4AnYnMgPI/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": "gid=0",
            "mode": "list",
            "cachedResultName": "articles_2_linkedin",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1HdJsvIaWuWu8_dDtoU-lql3ZLgbFMAe0xZ4AnYnMgPI/edit#gid=0"
          },
          "options": {
            "dataLocationOnSheet": {
              "values": {
                "rangeDefinition": "detectAutomatically",
                "readRowsUntil": "firstEmptyRow"
              }
            }
          }
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.6,
        "position": [
          -576,
          -1824
        ],
        "id": "37f0e405-74e7-448c-bc27-a8764cb0f3b2",
        "name": "read_articles_sheet",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "pGARJmt50qz64xOo",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const priorityOrder = {\n  HIGH: 0,\n  MEDIUM: 1,\n  LOW: 2\n};\nconst filteredEntries = $input.all().map(item=>item.json).filter(item => item.URL && /^(QUEUE)$/.test(item.STATUS)).toSorted((a, b) => {\n  const aPriority = priorityOrder[a.PRIORITY] ?? 3;\n  const bPriority = priorityOrder[b.PRIORITY] ?? 3;\n\n  if (aPriority !== bPriority) {\n    return aPriority - bPriority; // sort by priority\n  }\n\n  return a.row_number - b.row_number; // sort by row_number ascending\n});\n\n//console.log(filteredEntries.slice(0))\n\nreturn filteredEntries.slice(0, 1);"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -352,
          -1824
        ],
        "id": "8c22f52d-03e5-4958-a175-869d9e67b38d",
        "name": "select_article_to_post"
      },
      {
        "parameters": {
          "select": "channel",
          "channelId": {
            "__rl": true,
            "value": "C08RQNXQV3P",
            "mode": "list",
            "cachedResultName": "workflows"
          },
          "text": "=Error Publishing Post ({{ $execution.url }}) in LinkedIn: {{ $json.ERROR }}",
          "otherOptions": {
            "includeLinkToWorkflow": true
          }
        },
        "type": "n8n-nodes-base.slack",
        "typeVersion": 2.3,
        "position": [
          2336,
          -2160
        ],
        "id": "82833b18-bc22-4574-8a88-0ce455fcf431",
        "name": "send_error_notification",
        "webhookId": "faa5f272-06d5-4d4d-ad75-e17f49c6fbc8",
        "credentials": {
          "slackApi": {
            "id": "DszMmPE7WwOjHQjz",
            "name": "Slack account"
          }
        }
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.data.approved }}",
                      "rightValue": "true",
                      "operator": {
                        "type": "boolean",
                        "operation": "true",
                        "singleValue": true
                      },
                      "id": "1ff89881-6b63-4c71-b452-518d97a6e351"
                    }
                  ],
                  "combinator": "and"
                }
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "ff5900ad-ed83-4755-a621-d0a21c4cbc39",
                      "leftValue": "={{ $json.data.approved }}",
                      "rightValue": "RETRY",
                      "operator": {
                        "type": "boolean",
                        "operation": "false",
                        "singleValue": true
                      }
                    }
                  ],
                  "combinator": "and"
                }
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.2,
        "position": [
          1664,
          -1472
        ],
        "id": "855fefce-3dcf-49c8-8a22-6dfc6ca3fd77",
        "name": "switch_user_retry"
      },
      {
        "parameters": {
          "operation": "sendAndWait",
          "select": "channel",
          "channelId": {
            "__rl": true,
            "value": "C08RQNXQV3P",
            "mode": "list",
            "cachedResultName": "workflows"
          },
          "message": "=Do You want to Retry or Cancel the post for URL {{ $('select_article_to_post').item.json.URL }}\"?",
          "approvalOptions": {
            "values": {
              "approvalType": "double",
              "approveLabel": "Retry",
              "disapproveLabel": "Cancel"
            }
          },
          "options": {}
        },
        "type": "n8n-nodes-base.slack",
        "typeVersion": 2.3,
        "position": [
          1440,
          -1536
        ],
        "id": "fcfc0f50-17d8-41aa-95a1-8025fde13cb9",
        "name": "notification_retry_or_cancel",
        "webhookId": "000ae367-e34e-4ae3-97e2-8a35dd30487e",
        "credentials": {
          "slackApi": {
            "id": "DszMmPE7WwOjHQjz",
            "name": "Slack account"
          }
        }
      },
      {
        "parameters": {
          "operation": "sendAndWait",
          "select": "channel",
          "channelId": {
            "__rl": true,
            "value": "C08RQNXQV3P",
            "mode": "list",
            "cachedResultName": "workflows"
          },
          "message": "=Waiting for your approval the text  for a LinkedIn Post...\n\nURL: {{ $('select_article_to_post').item.json.URL }}\n\n## POST ##\n{{ $('execute_post_creator').item.json.text }}",
          "approvalOptions": {
            "values": {
              "approvalType": "double"
            }
          },
          "options": {}
        },
        "type": "n8n-nodes-base.slack",
        "typeVersion": 2.3,
        "position": [
          992,
          -1824
        ],
        "id": "1c9dd693-88dc-4f29-bd6e-1c8873d066c3",
        "name": "notification_accept",
        "webhookId": "000ae367-e34e-4ae3-97e2-8a35dd30487e",
        "credentials": {
          "slackApi": {
            "id": "DszMmPE7WwOjHQjz",
            "name": "Slack account"
          }
        }
      },
      {
        "parameters": {
          "operation": "update",
          "documentId": {
            "__rl": true,
            "value": "1HdJsvIaWuWu8_dDtoU-lql3ZLgbFMAe0xZ4AnYnMgPI",
            "mode": "list",
            "cachedResultName": "content_planner",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1HdJsvIaWuWu8_dDtoU-lql3ZLgbFMAe0xZ4AnYnMgPI/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": "gid=0",
            "mode": "list",
            "cachedResultName": "articles_2_linkedin",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1HdJsvIaWuWu8_dDtoU-lql3ZLgbFMAe0xZ4AnYnMgPI/edit#gid=0"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "UPDATE_DATE": "={{ (new Date()).toISOString() }}",
              "STATUS": "WAITING_APPROVAL",
              "row_number": "={{ $('select_article_to_post').item.json.row_number }}"
            },
            "matchingColumns": [
              "row_number"
            ],
            "schema": [
              {
                "id": "URL",
                "displayName": "URL",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "STATUS",
                "displayName": "STATUS",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "PRIORITY",
                "displayName": "PRIORITY",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "UPDATE_DATE",
                "displayName": "UPDATE_DATE",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "RELEASE_DATE",
                "displayName": "RELEASE_DATE",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "EXTRA_PROMPT",
                "displayName": "EXTRA_PROMPT",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "LINKEDIN_URL",
                "displayName": "LINKEDIN_URL",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "row_number",
                "displayName": "row_number",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "readOnly": true,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.6,
        "position": [
          768,
          -1824
        ],
        "id": "ecab579e-be70-4192-b062-ec20a8f75427",
        "name": "update_status_waiting_approval",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "pGARJmt50qz64xOo",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "operation": "update",
          "documentId": {
            "__rl": true,
            "value": "1HdJsvIaWuWu8_dDtoU-lql3ZLgbFMAe0xZ4AnYnMgPI",
            "mode": "list",
            "cachedResultName": "content_planner",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1HdJsvIaWuWu8_dDtoU-lql3ZLgbFMAe0xZ4AnYnMgPI/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": "gid=0",
            "mode": "list",
            "cachedResultName": "articles_2_linkedin",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1HdJsvIaWuWu8_dDtoU-lql3ZLgbFMAe0xZ4AnYnMgPI/edit#gid=0"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "UPDATE_DATE": "={{ (new Date()).toISOString() }}",
              "STATUS": "CANCELED",
              "row_number": "={{ $('select_article_to_post').item.json.row_number }}"
            },
            "matchingColumns": [
              "row_number"
            ],
            "schema": [
              {
                "id": "URL",
                "displayName": "URL",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "STATUS",
                "displayName": "STATUS",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "PRIORITY",
                "displayName": "PRIORITY",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "UPDATE_DATE",
                "displayName": "UPDATE_DATE",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "RELEASE_DATE",
                "displayName": "RELEASE_DATE",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "EXTRA_PROMPT",
                "displayName": "EXTRA_PROMPT",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "LINKEDIN_URL",
                "displayName": "LINKEDIN_URL",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "row_number",
                "displayName": "row_number",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "readOnly": true,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.6,
        "position": [
          1888,
          -1472
        ],
        "id": "eb40731c-a3ee-4290-aaaa-fc0d5c0ba38b",
        "name": "update_status_cancelled",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "pGARJmt50qz64xOo",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "operation": "update",
          "documentId": {
            "__rl": true,
            "value": "1HdJsvIaWuWu8_dDtoU-lql3ZLgbFMAe0xZ4AnYnMgPI",
            "mode": "list",
            "cachedResultName": "content_planner",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1HdJsvIaWuWu8_dDtoU-lql3ZLgbFMAe0xZ4AnYnMgPI/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": "gid=0",
            "mode": "list",
            "cachedResultName": "articles_2_linkedin",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1HdJsvIaWuWu8_dDtoU-lql3ZLgbFMAe0xZ4AnYnMgPI/edit#gid=0"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "UPDATE_DATE": "={{ (new Date()).toISOString() }}",
              "STATUS": "IN_PROGRESS",
              "row_number": "={{ $json.row_number }}",
              "EXECUTION_ID": "={{ $execution.id }}"
            },
            "matchingColumns": [
              "row_number"
            ],
            "schema": [
              {
                "id": "URL",
                "displayName": "URL",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "STATUS",
                "displayName": "STATUS",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "PRIORITY",
                "displayName": "PRIORITY",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "UPDATE_DATE",
                "displayName": "UPDATE_DATE",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "RELEASE_DATE",
                "displayName": "RELEASE_DATE",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "EXTRA_RULES",
                "displayName": "EXTRA_RULES",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "LINKEDIN_URL",
                "displayName": "LINKEDIN_URL",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "EXECUTION_ID",
                "displayName": "EXECUTION_ID",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "row_number",
                "displayName": "row_number",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": true,
                "readOnly": true,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.6,
        "position": [
          -128,
          -1824
        ],
        "id": "c2222ba2-20f4-4c2d-beaa-1cf3bf1037c5",
        "name": "update_status_in_progress",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "pGARJmt50qz64xOo",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "content": "## Link to the [Google Sheet](https://docs.google.com/spreadsheets/d/1HdJsvIaWuWu8_dDtoU-lql3ZLgbFMAe0xZ4AnYnMgPI)",
          "height": 376,
          "width": 852
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -368,
          -2320
        ],
        "id": "829c548e-3346-48b4-aba0-7a279af974f0",
        "name": "Sticky Note"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.manualTrigger",
        "typeVersion": 1,
        "position": [
          -800,
          -1920
        ],
        "id": "4274b2df-ee1e-4bee-833b-c2a66adfb5bf",
        "name": "click_trigger"
      },
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "cronExpression",
                "expression": "0 0 13 * * 1,4"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.2,
        "position": [
          -800,
          -1728
        ],
        "id": "f122c73e-d541-4c27-9ce3-f76e8ebc2c61",
        "name": "schedule_trigger"
      },
      {
        "parameters": {
          "operation": "update",
          "documentId": {
            "__rl": true,
            "value": "1HdJsvIaWuWu8_dDtoU-lql3ZLgbFMAe0xZ4AnYnMgPI",
            "mode": "list",
            "cachedResultName": "content_planner",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1HdJsvIaWuWu8_dDtoU-lql3ZLgbFMAe0xZ4AnYnMgPI/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": "gid=0",
            "mode": "list",
            "cachedResultName": "articles_2_linkedin",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1HdJsvIaWuWu8_dDtoU-lql3ZLgbFMAe0xZ4AnYnMgPI/edit#gid=0"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "UPDATE_DATE": "={{ (new Date()).toISOString() }}",
              "STATUS": "ERROR",
              "row_number": "={{ $('select_article_to_post').item.json.row_number }}"
            },
            "matchingColumns": [
              "row_number"
            ],
            "schema": [
              {
                "id": "URL",
                "displayName": "URL",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "STATUS",
                "displayName": "STATUS",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "PRIORITY",
                "displayName": "PRIORITY",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "UPDATE_DATE",
                "displayName": "UPDATE_DATE",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "RELEASE_DATE",
                "displayName": "RELEASE_DATE",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "EXTRA_PROMPT",
                "displayName": "EXTRA_PROMPT",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "LINKEDIN_URL",
                "displayName": "LINKEDIN_URL",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "row_number",
                "displayName": "row_number",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "readOnly": true,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.6,
        "position": [
          1888,
          -2160
        ],
        "id": "73412927-f864-4d67-82d3-e7dd35356165",
        "name": "update_status_error",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "pGARJmt50qz64xOo",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "6a77a0ee-e904-467b-9f9f-e04aa3ddf203",
                "name": "ERROR",
                "value": "ERROR",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          2112,
          -2160
        ],
        "id": "40a0eda7-f8f2-4923-a6b6-3889547fbaa9",
        "name": "set_error_error"
      },
      {
        "parameters": {
          "person": "ZK1zEXWkav",
          "text": "={{ $('execute_post_creator').item.json.text }}",
          "shareMediaCategory": "IMAGE",
          "binaryPropertyName": "={{ $('convert_image').item.binary.data }}",
          "additionalFields": {
            "visibility": "PUBLIC"
          }
        },
        "type": "n8n-nodes-base.linkedIn",
        "typeVersion": 1,
        "position": [
          2784,
          -2048
        ],
        "id": "5560c591-f119-4e30-af95-d12a69e7111a",
        "name": "send_2_linkedin_omImage",
        "credentials": {
          "linkedInOAuth2Api": {
            "id": "dNaa8BbpK1D8IDZZ",
            "name": "LinkedIn account"
          }
        }
      },
      {
        "parameters": {
          "select": "channel",
          "channelId": {
            "__rl": true,
            "value": "C08RQNXQV3P",
            "mode": "list",
            "cachedResultName": "workflows"
          },
          "text": "=Published Post ({{ $('select_article_to_post').item.json.URL }}) in LinkedIn (https://www.linkedin.com/feed/update/{{ $('send_2_linkedin_omImage').item.json.urn }})!",
          "otherOptions": {
            "includeLinkToWorkflow": true
          }
        },
        "type": "n8n-nodes-base.slack",
        "typeVersion": 2.3,
        "position": [
          3008,
          -2048
        ],
        "id": "f995a3c8-97f6-4f19-ac90-22b330bb0255",
        "name": "send_published_notification_a",
        "webhookId": "faa5f272-06d5-4d4d-ad75-e17f49c6fbc8",
        "credentials": {
          "slackApi": {
            "id": "DszMmPE7WwOjHQjz",
            "name": "Slack account"
          }
        }
      },
      {
        "parameters": {
          "operation": "update",
          "documentId": {
            "__rl": true,
            "value": "1HdJsvIaWuWu8_dDtoU-lql3ZLgbFMAe0xZ4AnYnMgPI",
            "mode": "list",
            "cachedResultName": "content_planner",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1HdJsvIaWuWu8_dDtoU-lql3ZLgbFMAe0xZ4AnYnMgPI/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": "gid=0",
            "mode": "list",
            "cachedResultName": "articles_2_linkedin",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1HdJsvIaWuWu8_dDtoU-lql3ZLgbFMAe0xZ4AnYnMgPI/edit#gid=0"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "RELEASE_DATE": "={{ (new Date()).toISOString() }}",
              "UPDATE_DATE": "={{ (new Date()).toISOString() }}",
              "STATUS": "PUBLISHED",
              "row_number": "={{ $('select_article_to_post').item.json.row_number }}",
              "LINKEDIN_URL": "=https://www.linkedin.com/feed/update/{{ $('send_2_linkedin_omImage').item.json.urn }}"
            },
            "matchingColumns": [
              "row_number"
            ],
            "schema": [
              {
                "id": "URL",
                "displayName": "URL",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "STATUS",
                "displayName": "STATUS",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "PRIORITY",
                "displayName": "PRIORITY",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "UPDATE_DATE",
                "displayName": "UPDATE_DATE",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "RELEASE_DATE",
                "displayName": "RELEASE_DATE",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "EXTRA_PROMPT",
                "displayName": "EXTRA_PROMPT",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "LINKEDIN_URL",
                "displayName": "LINKEDIN_URL",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "row_number",
                "displayName": "row_number",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "readOnly": true,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.6,
        "position": [
          3232,
          -2048
        ],
        "id": "33dcb552-400c-4549-aed8-f1b16b359e8a",
        "name": "update_status_published_a",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "pGARJmt50qz64xOo",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.ERROR || \"\" }}",
                      "rightValue": "",
                      "operator": {
                        "type": "string",
                        "operation": "empty",
                        "singleValue": true
                      },
                      "id": "fc19486a-369f-4500-9f0c-d803d0e28a33"
                    }
                  ],
                  "combinator": "and"
                }
              }
            ]
          },
          "options": {
            "fallbackOutput": "extra"
          }
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.2,
        "position": [
          1664,
          -2000
        ],
        "id": "bfa5428a-e3a8-4bfc-9d3f-8cb52bb94bfa",
        "name": "check_subworkflow_error_image"
      },
      {
        "parameters": {
          "operation": "sendAndWait",
          "select": "channel",
          "channelId": {
            "__rl": true,
            "value": "C08RQNXQV3P",
            "mode": "list",
            "cachedResultName": "workflows"
          },
          "message": "=Waiting for final approval the image for a LinkedIn Post...\n\n## IMAGE PROMPT USED ##\n{{ $('execute_image_creator').item.json.ogImageUrl || \"NONE\" }}",
          "approvalOptions": {
            "values": {
              "approvalType": "double"
            }
          },
          "options": {}
        },
        "type": "n8n-nodes-base.slack",
        "typeVersion": 2.3,
        "position": [
          2336,
          -1952
        ],
        "id": "9d363239-40eb-4a6a-8969-9eb5d1ff123e",
        "name": "notification_accept_image",
        "webhookId": "000ae367-e34e-4ae3-97e2-8a35dd30487e",
        "credentials": {
          "slackApi": {
            "id": "DszMmPE7WwOjHQjz",
            "name": "Slack account"
          }
        }
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.data.approved }}",
                      "rightValue": "true",
                      "operator": {
                        "type": "boolean",
                        "operation": "true",
                        "singleValue": true
                      },
                      "id": "1ff89881-6b63-4c71-b452-518d97a6e351"
                    }
                  ],
                  "combinator": "and"
                }
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "ff5900ad-ed83-4755-a621-d0a21c4cbc39",
                      "leftValue": "={{ $json.data.approved }}",
                      "rightValue": "RETRY",
                      "operator": {
                        "type": "boolean",
                        "operation": "false",
                        "singleValue": true
                      }
                    }
                  ],
                  "combinator": "and"
                }
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.2,
        "position": [
          2560,
          -1952
        ],
        "id": "e971f33d-c851-4b90-a01d-d1ef6f4fab81",
        "name": "switch_user_accept_image"
      },
      {
        "parameters": {
          "operation": "sendAndWait",
          "select": "channel",
          "channelId": {
            "__rl": true,
            "value": "C08RQNXQV3P",
            "mode": "list",
            "cachedResultName": "workflows"
          },
          "message": "=Do You want to Retry or Cancel the image for URL {{ $('select_article_to_post').item.json.URL }}\"?",
          "approvalOptions": {
            "values": {
              "approvalType": "double",
              "approveLabel": "Retry",
              "disapproveLabel": "Cancel"
            }
          },
          "options": {}
        },
        "type": "n8n-nodes-base.slack",
        "typeVersion": 2.3,
        "position": [
          2784,
          -1856
        ],
        "id": "806af053-2496-4559-ac48-8a46b691588c",
        "name": "notification_retry_or_cancel_image",
        "webhookId": "000ae367-e34e-4ae3-97e2-8a35dd30487e",
        "credentials": {
          "slackApi": {
            "id": "DszMmPE7WwOjHQjz",
            "name": "Slack account"
          }
        }
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "a9tFFs8qkRu8taC2",
            "mode": "list",
            "cachedResultUrl": "/workflow/a9tFFs8qkRu8taC2",
            "cachedResultName": "LinkedIn Image Creator"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "POST_CONTENT": "={{ $('execute_post_creator').item.json.text }}"
            },
            "matchingColumns": [
              "POST_CONTENT"
            ],
            "schema": [
              {
                "id": "POST_CONTENT",
                "displayName": "POST_CONTENT",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          1440,
          -1920
        ],
        "id": "935e4a12-1639-42be-83de-837f18ca2e2b",
        "name": "execute_image_creator"
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.data.approved }}",
                      "rightValue": "true",
                      "operator": {
                        "type": "boolean",
                        "operation": "true",
                        "singleValue": true
                      },
                      "id": "1ff89881-6b63-4c71-b452-518d97a6e351"
                    }
                  ],
                  "combinator": "and"
                }
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "ff5900ad-ed83-4755-a621-d0a21c4cbc39",
                      "leftValue": "={{ $json.data.approved }}",
                      "rightValue": "RETRY",
                      "operator": {
                        "type": "boolean",
                        "operation": "false",
                        "singleValue": true
                      }
                    }
                  ],
                  "combinator": "and"
                }
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.2,
        "position": [
          3008,
          -1776
        ],
        "id": "846d0765-ae21-448f-b918-c5f097b850b0",
        "name": "switch_user_retry_image"
      },
      {
        "parameters": {
          "resource": "file",
          "binaryPropertyName": "={{ $('convert_image').item.binary.data }}",
          "options": {
            "channelId": "C08RQNXQV3P"
          }
        },
        "type": "n8n-nodes-base.slack",
        "typeVersion": 2.3,
        "position": [
          2112,
          -1952
        ],
        "id": "3bc779cd-5735-4d75-b418-bff9c0ed4bbf",
        "name": "notification_sent_image",
        "webhookId": "000ae367-e34e-4ae3-97e2-8a35dd30487e",
        "credentials": {
          "slackApi": {
            "id": "DszMmPE7WwOjHQjz",
            "name": "Slack account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const data = JSON.parse($input.first().json[\"omImage \"]);\nconst base64Data = data.url.split(',')[1];\nconst buffer = Buffer.from(base64Data, 'base64');\n\nreturn  [{\n  json: {},\n  binary: {\n    data: {\n      mimeType: 'image/png',\n      fileName: 'ai_image.png',\n      fileExtension: 'png',\n      data: buffer,\n    }\n  }\n}];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1888,
          -1952
        ],
        "id": "26fad2d6-790b-4530-a245-8b333a76fb98",
        "name": "convert_image"
      }
    ],
    "connections": {
      "switch_user_accept": {
        "main": [
          [
            {
              "node": "execute_image_creator",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "notification_retry_or_cancel",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "set_error_cancelled": {
        "main": [
          [
            {
              "node": "send_error_notification",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "download_content": {
        "main": [
          [
            {
              "node": "execute_post_creator",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "check_subworkflow_error": {
        "main": [
          [
            {
              "node": "update_status_waiting_approval",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "update_status_error",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "execute_post_creator": {
        "main": [
          [
            {
              "node": "check_subworkflow_error",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "read_articles_sheet": {
        "main": [
          [
            {
              "node": "select_article_to_post",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "select_article_to_post": {
        "main": [
          [
            {
              "node": "update_status_in_progress",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "switch_user_retry": {
        "main": [
          [
            {
              "node": "execute_post_creator",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "update_status_cancelled",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "notification_retry_or_cancel": {
        "main": [
          [
            {
              "node": "switch_user_retry",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "notification_accept": {
        "main": [
          [
            {
              "node": "switch_user_accept",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "update_status_waiting_approval": {
        "main": [
          [
            {
              "node": "notification_accept",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "send_error_notification": {
        "main": [
          []
        ]
      },
      "update_status_in_progress": {
        "main": [
          [
            {
              "node": "download_content",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "update_status_cancelled": {
        "main": [
          [
            {
              "node": "set_error_cancelled",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "click_trigger": {
        "main": [
          [
            {
              "node": "read_articles_sheet",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "schedule_trigger": {
        "main": [
          [
            {
              "node": "read_articles_sheet",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "update_status_error": {
        "main": [
          [
            {
              "node": "set_error_error",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "set_error_error": {
        "main": [
          [
            {
              "node": "send_error_notification",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "send_2_linkedin_omImage": {
        "main": [
          [
            {
              "node": "send_published_notification_a",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "send_published_notification_a": {
        "main": [
          [
            {
              "node": "update_status_published_a",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "check_subworkflow_error_image": {
        "main": [
          [
            {
              "node": "convert_image",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "update_status_error",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "notification_accept_image": {
        "main": [
          [
            {
              "node": "switch_user_accept_image",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "switch_user_accept_image": {
        "main": [
          [
            {
              "node": "send_2_linkedin_omImage",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "notification_retry_or_cancel_image",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "notification_retry_or_cancel_image": {
        "main": [
          [
            {
              "node": "switch_user_retry_image",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "execute_image_creator": {
        "main": [
          [
            {
              "node": "check_subworkflow_error_image",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "switch_user_retry_image": {
        "main": [
          [
            {
              "node": "execute_image_creator",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "notification_sent_image": {
        "main": [
          [
            {
              "node": "notification_accept_image",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "convert_image": {
        "main": [
          [
            {
              "node": "notification_sent_image",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "no name",
    "name": "Version 0cff147e",
    "description": "",
    "autosaved": true
  },
  "activeVersionId": "0cff147e-bb58-4daa-a55d-61c8e7b63aee",
  "connections": {
    "switch_user_accept": {
      "main": [
        [
          {
            "node": "execute_image_creator",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "notification_retry_or_cancel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "set_error_cancelled": {
      "main": [
        [
          {
            "node": "send_error_notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "download_content": {
      "main": [
        [
          {
            "node": "execute_post_creator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "check_subworkflow_error": {
      "main": [
        [
          {
            "node": "update_status_waiting_approval",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "update_status_error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "execute_post_creator": {
      "main": [
        [
          {
            "node": "check_subworkflow_error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "read_articles_sheet": {
      "main": [
        [
          {
            "node": "select_article_to_post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "select_article_to_post": {
      "main": [
        [
          {
            "node": "update_status_in_progress",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "switch_user_retry": {
      "main": [
        [
          {
            "node": "execute_post_creator",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "update_status_cancelled",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "notification_retry_or_cancel": {
      "main": [
        [
          {
            "node": "switch_user_retry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "notification_accept": {
      "main": [
        [
          {
            "node": "switch_user_accept",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update_status_waiting_approval": {
      "main": [
        [
          {
            "node": "notification_accept",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "send_error_notification": {
      "main": [
        []
      ]
    },
    "update_status_in_progress": {
      "main": [
        [
          {
            "node": "download_content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update_status_cancelled": {
      "main": [
        [
          {
            "node": "set_error_cancelled",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "click_trigger": {
      "main": [
        [
          {
            "node": "read_articles_sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "schedule_trigger": {
      "main": [
        [
          {
            "node": "read_articles_sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update_status_error": {
      "main": [
        [
          {
            "node": "set_error_error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "set_error_error": {
      "main": [
        [
          {
            "node": "send_error_notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "send_2_linkedin_omImage": {
      "main": [
        [
          {
            "node": "send_published_notification_a",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "send_published_notification_a": {
      "main": [
        [
          {
            "node": "update_status_published_a",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "check_subworkflow_error_image": {
      "main": [
        [
          {
            "node": "convert_image",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "update_status_error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "notification_accept_image": {
      "main": [
        [
          {
            "node": "switch_user_accept_image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "switch_user_accept_image": {
      "main": [
        [
          {
            "node": "send_2_linkedin_omImage",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "notification_retry_or_cancel_image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "notification_retry_or_cancel_image": {
      "main": [
        [
          {
            "node": "switch_user_retry_image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "execute_image_creator": {
      "main": [
        [
          {
            "node": "check_subworkflow_error_image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "switch_user_retry_image": {
      "main": [
        [
          {
            "node": "execute_image_creator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "notification_sent_image": {
      "main": [
        [
          {
            "node": "notification_accept_image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "convert_image": {
      "main": [
        [
          {
            "node": "notification_sent_image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-05-26T15:30:12.395Z",
  "id": "oxARWWyxenKgmv6A",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "LinkedIn Post Sharing",
  "nodes": [
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.data.approved }}",
                    "rightValue": "true",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "id": "1ff89881-6b63-4c71-b452-518d97a6e351"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "ff5900ad-ed83-4755-a621-d0a21c4cbc39",
                    "leftValue": "={{ $json.data.approved }}",
                    "rightValue": "RETRY",
                    "operator": {
                      "type": "boolean",
                      "operation": "false",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1216,
        -1824
      ],
      "id": "645093c0-7a43-484e-a3c3-788ff57b0167",
      "name": "switch_user_accept"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6a77a0ee-e904-467b-9f9f-e04aa3ddf203",
              "name": "ERROR",
              "value": "CANCELLED",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2112,
        -1472
      ],
      "id": "8d0270dd-64d0-4e93-a3b9-dce397f21a11",
      "name": "set_error_cancelled"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "qUfjfWLGEjV96ljf",
          "mode": "list",
          "cachedResultUrl": "/workflow/qUfjfWLGEjV96ljf",
          "cachedResultName": "Download Content"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "URL": "={{ $('select_article_to_post').item.json.URL }}"
          },
          "matchingColumns": [
            "URL"
          ],
          "schema": [
            {
              "id": "URL",
              "displayName": "URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        96,
        -1824
      ],
      "id": "74d70931-55a5-43ce-9f15-c533072d52f8",
      "name": "download_content"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.ERROR || \"\" }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "empty",
                      "singleValue": true
                    },
                    "id": "fc19486a-369f-4500-9f0c-d803d0e28a33"
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        544,
        -1904
      ],
      "id": "c1a5ef20-0aba-4b70-a901-4642a44589e7",
      "name": "check_subworkflow_error"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "PaeHFdCsdoVbQx11",
          "mode": "list",
          "cachedResultUrl": "/workflow/PaeHFdCsdoVbQx11",
          "cachedResultName": "LinkedIn Post Creator"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "MAX_WORDS": "={{ $('select_article_to_post').item.json.MAX_WORDS || 300 }}",
            "URL": "={{ $('select_article_to_post').item.json.URL }}",
            "EXTRA_RULES": "={{ $('select_article_to_post').item.json.EXTRA_RULES }}",
            "CONTENT": "={{ $('download_content').item.json.contentMkdown }}",
            "ENABLE_CHECK": true
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "EXTRA_RULES",
              "displayName": "EXTRA_RULES",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "CONTENT",
              "displayName": "CONTENT",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "URL",
              "displayName": "URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "MAX_WORDS",
              "displayName": "MAX_WORDS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number"
            },
            {
              "id": "ENABLE_CHECK",
              "displayName": "ENABLE_CHECK",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "boolean",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        320,
        -1824
      ],
      "id": "bbb9075e-10fd-4ae2-a023-a95a8ec9c48b",
      "name": "execute_post_creator",
      "notesInFlow": false
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1HdJsvIaWuWu8_dDtoU-lql3ZLgbFMAe0xZ4AnYnMgPI",
          "mode": "list",
          "cachedResultName": "content_planner",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1HdJsvIaWuWu8_dDtoU-lql3ZLgbFMAe0xZ4AnYnMgPI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "articles_2_linkedin",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1HdJsvIaWuWu8_dDtoU-lql3ZLgbFMAe0xZ4AnYnMgPI/edit#gid=0"
        },
        "options": {
          "dataLocationOnSheet": {
            "values": {
              "rangeDefinition": "detectAutomatically",
              "readRowsUntil": "firstEmptyRow"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -576,
        -1824
      ],
      "id": "37f0e405-74e7-448c-bc27-a8764cb0f3b2",
      "name": "read_articles_sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "pGARJmt50qz64xOo",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const priorityOrder = {\n  HIGH: 0,\n  MEDIUM: 1,\n  LOW: 2\n};\nconst filteredEntries = $input.all().map(item=>item.json).filter(item => item.URL && /^(QUEUE)$/.test(item.STATUS)).toSorted((a, b) => {\n  const aPriority = priorityOrder[a.PRIORITY] ?? 3;\n  const bPriority = priorityOrder[b.PRIORITY] ?? 3;\n\n  if (aPriority !== bPriority) {\n    return aPriority - bPriority; // sort by priority\n  }\n\n  return a.row_number - b.row_number; // sort by row_number ascending\n});\n\n//console.log(filteredEntries.slice(0))\n\nreturn filteredEntries.slice(0, 1);"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -352,
        -1824
      ],
      "id": "8c22f52d-03e5-4958-a175-869d9e67b38d",
      "name": "select_article_to_post"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C08RQNXQV3P",
          "mode": "list",
          "cachedResultName": "workflows"
        },
        "text": "=Error Publishing Post ({{ $execution.url }}) in LinkedIn: {{ $json.ERROR }}",
        "otherOptions": {
          "includeLinkToWorkflow": true
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        2336,
        -2160
      ],
      "id": "82833b18-bc22-4574-8a88-0ce455fcf431",
      "name": "send_error_notification",
      "webhookId": "faa5f272-06d5-4d4d-ad75-e17f49c6fbc8",
      "credentials": {
        "slackApi": {
          "id": "DszMmPE7WwOjHQjz",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.data.approved }}",
                    "rightValue": "true",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "id": "1ff89881-6b63-4c71-b452-518d97a6e351"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "ff5900ad-ed83-4755-a621-d0a21c4cbc39",
                    "leftValue": "={{ $json.data.approved }}",
                    "rightValue": "RETRY",
                    "operator": {
                      "type": "boolean",
                      "operation": "false",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1664,
        -1472
      ],
      "id": "855fefce-3dcf-49c8-8a22-6dfc6ca3fd77",
      "name": "switch_user_retry"
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C08RQNXQV3P",
          "mode": "list",
          "cachedResultName": "workflows"
        },
        "message": "=Do You want to Retry or Cancel the post for URL {{ $('select_article_to_post').item.json.URL }}\"?",
        "approvalOptions": {
          "values": {
            "approvalType": "double",
            "approveLabel": "Retry",
            "disapproveLabel": "Cancel"
          }
        },
        "options": {
          "appendAttribution": true
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        1440,
        -1536
      ],
      "id": "fcfc0f50-17d8-41aa-95a1-8025fde13cb9",
      "name": "notification_retry_or_cancel",
      "webhookId": "000ae367-e34e-4ae3-97e2-8a35dd30487e",
      "credentials": {
        "slackApi": {
          "id": "DszMmPE7WwOjHQjz",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C08RQNXQV3P",
          "mode": "list",
          "cachedResultName": "workflows"
        },
        "message": "=Waiting for your approval the text  for a LinkedIn Post...\n\nURL: {{ $('select_article_to_post').item.json.URL }}\n\n## POST ##\n{{ $('execute_post_creator').item.json.text }}",
        "approvalOptions": {
          "values": {
            "approvalType": "double"
          }
        },
        "options": {
          "appendAttribution": true
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        992,
        -1824
      ],
      "id": "1c9dd693-88dc-4f29-bd6e-1c8873d066c3",
      "name": "notification_accept",
      "webhookId": "000ae367-e34e-4ae3-97e2-8a35dd30487e",
      "credentials": {
        "slackApi": {
          "id": "DszMmPE7WwOjHQjz",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1HdJsvIaWuWu8_dDtoU-lql3ZLgbFMAe0xZ4AnYnMgPI",
          "mode": "list",
          "cachedResultName": "content_planner",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1HdJsvIaWuWu8_dDtoU-lql3ZLgbFMAe0xZ4AnYnMgPI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "articles_2_linkedin",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1HdJsvIaWuWu8_dDtoU-lql3ZLgbFMAe0xZ4AnYnMgPI/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "UPDATE_DATE": "={{ (new Date()).toISOString() }}",
            "STATUS": "WAITING_APPROVAL",
            "row_number": "={{ $('select_article_to_post').item.json.row_number }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "URL",
              "displayName": "URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "STATUS",
              "displayName": "STATUS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "PRIORITY",
              "displayName": "PRIORITY",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "UPDATE_DATE",
              "displayName": "UPDATE_DATE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "RELEASE_DATE",
              "displayName": "RELEASE_DATE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "EXTRA_PROMPT",
              "displayName": "EXTRA_PROMPT",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "LINKEDIN_URL",
              "displayName": "LINKEDIN_URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        768,
        -1824
      ],
      "id": "ecab579e-be70-4192-b062-ec20a8f75427",
      "name": "update_status_waiting_approval",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "pGARJmt50qz64xOo",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1HdJsvIaWuWu8_dDtoU-lql3ZLgbFMAe0xZ4AnYnMgPI",
          "mode": "list",
          "cachedResultName": "content_planner",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1HdJsvIaWuWu8_dDtoU-lql3ZLgbFMAe0xZ4AnYnMgPI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "articles_2_linkedin",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1HdJsvIaWuWu8_dDtoU-lql3ZLgbFMAe0xZ4AnYnMgPI/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "UPDATE_DATE": "={{ (new Date()).toISOString() }}",
            "STATUS": "CANCELED",
            "row_number": "={{ $('select_article_to_post').item.json.row_number }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "URL",
              "displayName": "URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "STATUS",
              "displayName": "STATUS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "PRIORITY",
              "displayName": "PRIORITY",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "UPDATE_DATE",
              "displayName": "UPDATE_DATE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "RELEASE_DATE",
              "displayName": "RELEASE_DATE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "EXTRA_PROMPT",
              "displayName": "EXTRA_PROMPT",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "LINKEDIN_URL",
              "displayName": "LINKEDIN_URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        1888,
        -1472
      ],
      "id": "eb40731c-a3ee-4290-aaaa-fc0d5c0ba38b",
      "name": "update_status_cancelled",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "pGARJmt50qz64xOo",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1HdJsvIaWuWu8_dDtoU-lql3ZLgbFMAe0xZ4AnYnMgPI",
          "mode": "list",
          "cachedResultName": "content_planner",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1HdJsvIaWuWu8_dDtoU-lql3ZLgbFMAe0xZ4AnYnMgPI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "articles_2_linkedin",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1HdJsvIaWuWu8_dDtoU-lql3ZLgbFMAe0xZ4AnYnMgPI/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "UPDATE_DATE": "={{ (new Date()).toISOString() }}",
            "STATUS": "IN_PROGRESS",
            "row_number": "={{ $json.row_number }}",
            "EXECUTION_ID": "={{ $execution.id }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "URL",
              "displayName": "URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "STATUS",
              "displayName": "STATUS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "PRIORITY",
              "displayName": "PRIORITY",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "UPDATE_DATE",
              "displayName": "UPDATE_DATE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "RELEASE_DATE",
              "displayName": "RELEASE_DATE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "EXTRA_RULES",
              "displayName": "EXTRA_RULES",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "LINKEDIN_URL",
              "displayName": "LINKEDIN_URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "EXECUTION_ID",
              "displayName": "EXECUTION_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -128,
        -1824
      ],
      "id": "c2222ba2-20f4-4c2d-beaa-1cf3bf1037c5",
      "name": "update_status_in_progress",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "pGARJmt50qz64xOo",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Link to the [Google Sheet](https://docs.google.com/spreadsheets/d/1HdJsvIaWuWu8_dDtoU-lql3ZLgbFMAe0xZ4AnYnMgPI)",
        "height": 376,
        "width": 852
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -368,
        -2320
      ],
      "id": "829c548e-3346-48b4-aba0-7a279af974f0",
      "name": "Sticky Note"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -800,
        -1920
      ],
      "id": "4274b2df-ee1e-4bee-833b-c2a66adfb5bf",
      "name": "click_trigger"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 0 13 * * 1,4"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -800,
        -1728
      ],
      "id": "f122c73e-d541-4c27-9ce3-f76e8ebc2c61",
      "name": "schedule_trigger"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1HdJsvIaWuWu8_dDtoU-lql3ZLgbFMAe0xZ4AnYnMgPI",
          "mode": "list",
          "cachedResultName": "content_planner",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1HdJsvIaWuWu8_dDtoU-lql3ZLgbFMAe0xZ4AnYnMgPI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "articles_2_linkedin",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1HdJsvIaWuWu8_dDtoU-lql3ZLgbFMAe0xZ4AnYnMgPI/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "UPDATE_DATE": "={{ (new Date()).toISOString() }}",
            "STATUS": "ERROR",
            "row_number": "={{ $('select_article_to_post').item.json.row_number }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "URL",
              "displayName": "URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "STATUS",
              "displayName": "STATUS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "PRIORITY",
              "displayName": "PRIORITY",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "UPDATE_DATE",
              "displayName": "UPDATE_DATE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "RELEASE_DATE",
              "displayName": "RELEASE_DATE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "EXTRA_PROMPT",
              "displayName": "EXTRA_PROMPT",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "LINKEDIN_URL",
              "displayName": "LINKEDIN_URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        1888,
        -2160
      ],
      "id": "73412927-f864-4d67-82d3-e7dd35356165",
      "name": "update_status_error",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "pGARJmt50qz64xOo",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6a77a0ee-e904-467b-9f9f-e04aa3ddf203",
              "name": "ERROR",
              "value": "ERROR",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2112,
        -2160
      ],
      "id": "40a0eda7-f8f2-4923-a6b6-3889547fbaa9",
      "name": "set_error_error"
    },
    {
      "parameters": {
        "person": "ZK1zEXWkav",
        "text": "={{ $('execute_post_creator').item.json.text }}",
        "shareMediaCategory": "IMAGE",
        "binaryPropertyName": "={{ $('convert_image').item.binary.data }}",
        "additionalFields": {
          "visibility": "PUBLIC"
        }
      },
      "type": "n8n-nodes-base.linkedIn",
      "typeVersion": 1,
      "position": [
        2784,
        -2048
      ],
      "id": "5560c591-f119-4e30-af95-d12a69e7111a",
      "name": "send_2_linkedin_omImage",
      "credentials": {
        "linkedInOAuth2Api": {
          "id": "dNaa8BbpK1D8IDZZ",
          "name": "LinkedIn account"
        }
      }
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C08RQNXQV3P",
          "mode": "list",
          "cachedResultName": "workflows"
        },
        "text": "=Published Post ({{ $('select_article_to_post').item.json.URL }}) in LinkedIn (https://www.linkedin.com/feed/update/{{ $('send_2_linkedin_omImage').item.json.urn }})!",
        "otherOptions": {
          "includeLinkToWorkflow": true
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        3008,
        -2048
      ],
      "id": "f995a3c8-97f6-4f19-ac90-22b330bb0255",
      "name": "send_published_notification_a",
      "webhookId": "faa5f272-06d5-4d4d-ad75-e17f49c6fbc8",
      "credentials": {
        "slackApi": {
          "id": "DszMmPE7WwOjHQjz",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1HdJsvIaWuWu8_dDtoU-lql3ZLgbFMAe0xZ4AnYnMgPI",
          "mode": "list",
          "cachedResultName": "content_planner",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1HdJsvIaWuWu8_dDtoU-lql3ZLgbFMAe0xZ4AnYnMgPI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "articles_2_linkedin",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1HdJsvIaWuWu8_dDtoU-lql3ZLgbFMAe0xZ4AnYnMgPI/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "RELEASE_DATE": "={{ (new Date()).toISOString() }}",
            "UPDATE_DATE": "={{ (new Date()).toISOString() }}",
            "STATUS": "PUBLISHED",
            "row_number": "={{ $('select_article_to_post').item.json.row_number }}",
            "LINKEDIN_URL": "=https://www.linkedin.com/feed/update/{{ $('send_2_linkedin_omImage').item.json.urn }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "URL",
              "displayName": "URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "STATUS",
              "displayName": "STATUS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "PRIORITY",
              "displayName": "PRIORITY",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "UPDATE_DATE",
              "displayName": "UPDATE_DATE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "RELEASE_DATE",
              "displayName": "RELEASE_DATE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "EXTRA_PROMPT",
              "displayName": "EXTRA_PROMPT",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "LINKEDIN_URL",
              "displayName": "LINKEDIN_URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        3232,
        -2048
      ],
      "id": "33dcb552-400c-4549-aed8-f1b16b359e8a",
      "name": "update_status_published_a",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "pGARJmt50qz64xOo",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.ERROR || \"\" }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "empty",
                      "singleValue": true
                    },
                    "id": "fc19486a-369f-4500-9f0c-d803d0e28a33"
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1664,
        -2000
      ],
      "id": "bfa5428a-e3a8-4bfc-9d3f-8cb52bb94bfa",
      "name": "check_subworkflow_error_image"
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C08RQNXQV3P",
          "mode": "list",
          "cachedResultName": "workflows"
        },
        "message": "=Waiting for final approval the image for a LinkedIn Post...\n\n## IMAGE PROMPT USED ##\n{{ $('execute_image_creator').item.json.ogImageUrl || \"NONE\" }}",
        "approvalOptions": {
          "values": {
            "approvalType": "double"
          }
        },
        "options": {
          "appendAttribution": true
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        2336,
        -1952
      ],
      "id": "9d363239-40eb-4a6a-8969-9eb5d1ff123e",
      "name": "notification_accept_image",
      "webhookId": "000ae367-e34e-4ae3-97e2-8a35dd30487e",
      "credentials": {
        "slackApi": {
          "id": "DszMmPE7WwOjHQjz",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.data.approved }}",
                    "rightValue": "true",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "id": "1ff89881-6b63-4c71-b452-518d97a6e351"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "ff5900ad-ed83-4755-a621-d0a21c4cbc39",
                    "leftValue": "={{ $json.data.approved }}",
                    "rightValue": "RETRY",
                    "operator": {
                      "type": "boolean",
                      "operation": "false",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        2560,
        -1952
      ],
      "id": "e971f33d-c851-4b90-a01d-d1ef6f4fab81",
      "name": "switch_user_accept_image"
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C08RQNXQV3P",
          "mode": "list",
          "cachedResultName": "workflows"
        },
        "message": "=Do You want to Retry or Cancel the image for URL {{ $('select_article_to_post').item.json.URL }}\"?",
        "approvalOptions": {
          "values": {
            "approvalType": "double",
            "approveLabel": "Retry",
            "disapproveLabel": "Cancel"
          }
        },
        "options": {
          "appendAttribution": true
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        2784,
        -1856
      ],
      "id": "806af053-2496-4559-ac48-8a46b691588c",
      "name": "notification_retry_or_cancel_image",
      "webhookId": "000ae367-e34e-4ae3-97e2-8a35dd30487e",
      "credentials": {
        "slackApi": {
          "id": "DszMmPE7WwOjHQjz",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "a9tFFs8qkRu8taC2",
          "mode": "list",
          "cachedResultUrl": "/workflow/a9tFFs8qkRu8taC2",
          "cachedResultName": "LinkedIn Image Creator"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "POST_CONTENT": "={{ $('execute_post_creator').item.json.text }}"
          },
          "matchingColumns": [
            "POST_CONTENT"
          ],
          "schema": [
            {
              "id": "POST_CONTENT",
              "displayName": "POST_CONTENT",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1440,
        -1920
      ],
      "id": "935e4a12-1639-42be-83de-837f18ca2e2b",
      "name": "execute_image_creator"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.data.approved }}",
                    "rightValue": "true",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "id": "1ff89881-6b63-4c71-b452-518d97a6e351"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "ff5900ad-ed83-4755-a621-d0a21c4cbc39",
                    "leftValue": "={{ $json.data.approved }}",
                    "rightValue": "RETRY",
                    "operator": {
                      "type": "boolean",
                      "operation": "false",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        3008,
        -1776
      ],
      "id": "846d0765-ae21-448f-b918-c5f097b850b0",
      "name": "switch_user_retry_image"
    },
    {
      "parameters": {
        "resource": "file",
        "binaryPropertyName": "={{ $('convert_image').item.binary.data }}",
        "options": {
          "channelId": "C08RQNXQV3P"
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        2112,
        -1952
      ],
      "id": "3bc779cd-5735-4d75-b418-bff9c0ed4bbf",
      "name": "notification_sent_image",
      "webhookId": "000ae367-e34e-4ae3-97e2-8a35dd30487e",
      "credentials": {
        "slackApi": {
          "id": "DszMmPE7WwOjHQjz",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const data = JSON.parse($input.first().json[\"omImage \"]);\nconst base64Data = data.url.split(',')[1];\nconst buffer = Buffer.from(base64Data, 'base64');\n\nreturn  [{\n  json: {},\n  binary: {\n    data: {\n      mimeType: 'image/png',\n      fileName: 'ai_image.png',\n      fileExtension: 'png',\n      data: buffer,\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1888,
        -1952
      ],
      "id": "26fad2d6-790b-4530-a245-8b333a76fb98",
      "name": "convert_image"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "executionTimeout": 3600,
    "errorWorkflow": "yOLSrRQsp4rv1Wjv",
    "timeSavedMode": "fixed",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "shared": [
    {
      "updatedAt": "2025-05-26T15:30:12.395Z",
      "createdAt": "2025-05-26T15:30:12.395Z",
      "role": "workflow:owner",
      "workflowId": "oxARWWyxenKgmv6A",
      "projectId": "zcGU09G6dy4Oah3l"
    }
  ],
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    },
    "node:schedule_trigger": {
      "recurrenceRules": []
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-03-14T12:21:24.355Z",
  "versionId": "83822416-a161-4496-8cfb-47e234d08dd6"
}