n8n/workflows/linked_in_image_creator.workflow.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-05-25T19:01:28.237Z",
    "createdAt": "2026-05-25T19:01:25.731Z",
    "versionId": "b40e3f57-4b06-4013-9c7a-032f1cf98c54",
    "workflowId": "a9tFFs8qkRu8taC2",
    "nodes": [
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "ccca262b-f5ad-4784-88a6-36ac5077ccf8",
                "name": "POST_CONTENT",
                "value": "={{ $json.POST_CONTENT || \"I've spent enough time debugging data pipelines to know that the role of a data engineer is shifting faster than most are willing to admit. \\n\\nI saw this post from Joe Reis regarding his concept of the Great Data Reckoning. He argues that we have moved past the demo phase of AI. Models are now capable of generating production-quality pipelines, SQL, and infrastructure configurations that previously took weeks of manual effort.\\n\\nWhat caught my eye in his reflection is the distinction between configuration knowledge and business judgment. Many of us built careers on knowing exactly which YAML parameters to tweak in a dbt project or how to tune a specific Kafka connector. While that technical depth was a moat five years ago, it is quickly becoming a commodity.\\n\\nIn my experience building Enterprise AI platforms, the actual code is rarely the hardest part. The difficulty lies in the institutional knowledge—knowing why a specific warehouse schema was designed that way or how to handle data quality issues that AI cannot perceive without deep context.\\n\\nIf your daily work is mostly following documented procedures to move data, the automation risk is real. The shift is moving away from being a tool expert toward being a domain expert who uses these models to eliminate toil. We have to move from being cost centers to being directly tied to revenue-generating activities.\\n\\nAre you already using the latest models to handle your boilerplate infrastructure code, or is your team still doing the heavy lifting manually?\" }}",
                "type": "string"
              },
              {
                "id": "b072d171-1af0-407c-8b16-ee61278bbd52",
                "name": "ERROR",
                "value": "",
                "type": "string"
              },
              {
                "id": "52b87bd1-627b-4af4-b73a-433a1b3caccd",
                "name": "IMAGE_MODEL",
                "value": "google/gemini-3.1-flash-image-preview",
                "type": "string"
              },
              {
                "id": "708efbf7-5a7f-4dd7-a5b4-1eb73ac77883",
                "name": "IMAGE_MODEL_FALLBACK",
                "value": "google/gemini-2.5-flash-image",
                "type": "string"
              },
              {
                "id": "c5c01700-e75b-4be5-afd4-bba2e2324bea",
                "name": "TEXT_MODEL",
                "value": "models/gemini-3.1-pro-preview",
                "type": "string"
              },
              {
                "id": "2f650b34-52f6-4aec-9375-8aa7abcb7d8b",
                "name": "TEXT_MODEL_FALLBACK",
                "value": "deepseek/deepseek-v4-pro",
                "type": "string"
              }
            ]
          },
          "includeOtherFields": true,
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          192,
          64
        ],
        "id": "f90d598b-e17c-4706-ae18-c5c7f911507b",
        "name": "set_workflow_vars"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "59d2348a-a3bb-49eb-b8f6-27faa0fe801f",
                "name": "omImage ",
                "value": "={{ $json.choices[0].message.images[0].image_url }}",
                "type": "string"
              },
              {
                "id": "eb7a859b-2738-4fea-83c0-e80d5bc089d2",
                "name": "prompt",
                "value": "={{ $('parse_llm_output').item.json.text }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          2112,
          64
        ],
        "id": "3a12d97a-c600-4c4c-963e-e3ee1eba0755",
        "name": "set_output"
      },
      {
        "parameters": {
          "workflowInputs": {
            "values": [
              {
                "name": "POST_CONTENT"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          -32,
          64
        ],
        "id": "9c17321d-6a85-4d7c-bb22-e5100e32793c",
        "name": "main_trigger"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "09xEuVQj207pjK4x",
            "mode": "list",
            "cachedResultUrl": "/workflow/09xEuVQj207pjK4x",
            "cachedResultName": "DownloadTemplate"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "template_vars": "={{ {\n\"POST_CONTENT\": $('set_workflow_vars').item.json.POST_CONTENT,\n\"ART_DIRECTION\": [\n'cinematic 3D render: near-black background, one glowing focal object, volumetric light, subtle depth of field',\n'dramatic macro photography of a physical metaphor: shallow depth of field, moody studio lighting, dark backdrop',\n'isometric miniature scene: highly detailed tiny world on a dark backdrop, single saturated accent color',\n'retro-futurist poster: bold flat shapes, heavy grain texture, strong diagonal composition, two-color palette',\n'blueprint noir: dark navy technical blueprint background, precise white and cyan line work, one orange highlighted element',\n'glass-and-neon minimalism: translucent 3D glass shapes on near-black, one neon accent color, soft reflections',\n'papercraft diorama: layered cut-paper scene, strong directional shadows, one saturated accent color on a dark base',\n'chalk on black slate: expressive hand-drawn strokes, white chalk with a single element in vivid colored chalk'\n][Math.floor(Math.random() * 8)]\n} }}",
              "template_name": "prompts/linkedin_image_prompt.md"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "template_name",
                "displayName": "template_name",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string"
              },
              {
                "id": "template_vars",
                "displayName": "template_vars",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "object"
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.2,
        "position": [
          1088,
          64
        ],
        "id": "00ce6e44-f57c-4461-97ea-0fa39c0852d4",
        "name": "download_image_prompt"
      },
      {
        "parameters": {
          "modelName": "={{ $('set_workflow_vars').item.json.TEXT_MODEL }}",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
        "typeVersion": 1,
        "position": [
          1328,
          288
        ],
        "id": "8490484e-c651-4418-96f7-fc96f2294c5d",
        "name": "ai_model",
        "retryOnFail": true,
        "waitBetweenTries": 5000,
        "notesInFlow": false,
        "credentials": {
          "googlePalmApi": {
            "id": "ohBCg8rvjDPWEVQT",
            "name": "Google Gemini(PaLM) Api account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// Parse the <visual> block: mode decides whether we render Mermaid or call the image model.\nconst raw = $input.first().json.text || '';\nconst grab = (tag) => {\n  const m = raw.match(new RegExp('<' + tag + '>([\\\\s\\\\S]*?)</' + tag + '>'));\n  return m ? m[1].trim() : '';\n};\nconst mode = (grab('mode') || 'hero').toLowerCase();\nconst mermaid = grab('mermaid').replace(/^```(mermaid)?\\s*/, '').replace(/```\\s*$/, '').trim();\nconst imagePrompt = grab('image_prompt');\nreturn [{\n  json: {\n    mode,\n    concept: grab('concept'),\n    headline: grab('headline'),\n    text: mode === 'diagram' && mermaid ? mermaid : (imagePrompt || raw),\n  },\n}];\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1664,
          64
        ],
        "id": "28470e89-7ec6-488f-9f72-dc4dc5530a18",
        "name": "parse_llm_output"
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "={{ $('download_image_prompt').item.json.output }}",
          "needsFallback": true
        },
        "type": "@n8n/n8n-nodes-langchain.chainLlm",
        "typeVersion": 1.6,
        "position": [
          1312,
          64
        ],
        "id": "13da9da5-498c-4f76-ace1-aa0ee01829d7",
        "name": "create_image_prompt_ai",
        "retryOnFail": true,
        "maxTries": 5,
        "waitBetweenTries": 5000
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "c1d2e3f4-a5b6-4c7d-8e9f-0a1b2c3d4e5f",
                "leftValue": "={{ $json.mode }}",
                "rightValue": "diagram",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          1888,
          -64
        ],
        "id": "b2c3d4e5-f6a7-4b8c-9d0e-1f2a3b4c5d6e",
        "name": "if_diagram_mode"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://kroki.io/mermaid/png",
          "sendBody": true,
          "contentType": "raw",
          "rawContentType": "text/plain",
          "body": "={{ $json.text }}",
          "options": {
            "response": {
              "response": {
                "responseFormat": "file"
              }
            }
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          2112,
          -160
        ],
        "id": "d4e5f6a7-b8c9-4d0e-af1a-2b3c4d5e6f7a",
        "name": "render_mermaid"
      },
      {
        "parameters": {
          "jsCode": "// Convert the rendered PNG to the same data-URL JSON shape the hero branch produces.\nconst buffer = await this.helpers.getBinaryDataBuffer(0, 'data');\nreturn [{\n  json: {\n    'omImage ': JSON.stringify({ url: 'data:image/png;base64,' + buffer.toString('base64') }),\n    prompt: $('parse_llm_output').item.json.text,\n  },\n}];\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2336,
          -160
        ],
        "id": "e5f6a7b8-c9d0-4e1f-8a2b-3c4d5e6f7a8b",
        "name": "set_output_diagram"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://openrouter.ai/api/v1/chat/completions",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpBearerAuth",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"model\": \"{{ $('set_workflow_vars').item.json.IMAGE_MODEL }}\",\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": {{ $json.text.toJsonString() }}\n    }\n  ],\n  \"modalities\": [\n    \"image\",\n    \"text\"\n  ]\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          2112,
          64
        ],
        "id": "df83d38f-9bfb-4456-b59b-d39c57a275a9",
        "name": "generate_image",
        "retryOnFail": true,
        "maxTries": 2,
        "waitBetweenTries": 5000,
        "credentials": {
          "httpBearerAuth": {
            "id": "w1lsvBaScdYqzahC",
            "name": "OpenRouter account"
          }
        }
      },
      {
        "parameters": {
          "model": "={{ $('set_workflow_vars').item.json.TEXT_MODEL_FALLBACK }}",
          "options": {
            "maxRetries": 2
          }
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
        "typeVersion": 1,
        "position": [
          1456,
          288
        ],
        "id": "157f9dfa-26b9-4f69-8796-500f297c2389",
        "name": "ai_model_fallback",
        "credentials": {
          "openRouterApi": {
            "id": "QBmSiBlACt26uQAX",
            "name": "OpenRouter account"
          }
        }
      }
    ],
    "connections": {
      "set_workflow_vars": {
        "main": [
          [
            {
              "node": "download_image_prompt",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "main_trigger": {
        "main": [
          [
            {
              "node": "set_workflow_vars",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "download_image_prompt": {
        "main": [
          [
            {
              "node": "create_image_prompt_ai",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "ai_model": {
        "ai_languageModel": [
          [
            {
              "node": "create_image_prompt_ai",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "parse_llm_output": {
        "main": [
          [
            {
              "node": "if_diagram_mode",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "create_image_prompt_ai": {
        "main": [
          [
            {
              "node": "parse_llm_output",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "generate_image": {
        "main": [
          [
            {
              "node": "set_output",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "ai_model_fallback": {
        "ai_languageModel": [
          [
            {
              "node": "create_image_prompt_ai",
              "type": "ai_languageModel",
              "index": 1
            }
          ]
        ]
      },
      "if_diagram_mode": {
        "main": [
          [
            {
              "node": "render_mermaid",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "generate_image",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "render_mermaid": {
        "main": [
          [
            {
              "node": "set_output_diagram",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "nodeGroups": [],
    "authors": "no name",
    "name": "Version b40e3f57",
    "description": "",
    "autosaved": true
  },
  "activeVersionId": "b40e3f57-4b06-4013-9c7a-032f1cf98c54",
  "connections": {
    "set_workflow_vars": {
      "main": [
        [
          {
            "node": "download_image_prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "main_trigger": {
      "main": [
        [
          {
            "node": "set_workflow_vars",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "download_image_prompt": {
      "main": [
        [
          {
            "node": "create_image_prompt_ai",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ai_model": {
      "ai_languageModel": [
        [
          {
            "node": "create_image_prompt_ai",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "parse_llm_output": {
      "main": [
        [
          {
            "node": "if_diagram_mode",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "create_image_prompt_ai": {
      "main": [
        [
          {
            "node": "parse_llm_output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "generate_image": {
      "main": [
        [
          {
            "node": "set_output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ai_model_fallback": {
      "ai_languageModel": [
        [
          {
            "node": "create_image_prompt_ai",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "if_diagram_mode": {
      "main": [
        [
          {
            "node": "render_mermaid",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "generate_image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "render_mermaid": {
      "main": [
        [
          {
            "node": "set_output_diagram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-03-02T21:20:32.904Z",
  "id": "a9tFFs8qkRu8taC2",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "LinkedIn Image Creator",
  "nodeGroups": [],
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ccca262b-f5ad-4784-88a6-36ac5077ccf8",
              "name": "POST_CONTENT",
              "value": "={{ $json.POST_CONTENT || \"I've spent enough time debugging data pipelines to know that the role of a data engineer is shifting faster than most are willing to admit. \\n\\nI saw this post from Joe Reis regarding his concept of the Great Data Reckoning. He argues that we have moved past the demo phase of AI. Models are now capable of generating production-quality pipelines, SQL, and infrastructure configurations that previously took weeks of manual effort.\\n\\nWhat caught my eye in his reflection is the distinction between configuration knowledge and business judgment. Many of us built careers on knowing exactly which YAML parameters to tweak in a dbt project or how to tune a specific Kafka connector. While that technical depth was a moat five years ago, it is quickly becoming a commodity.\\n\\nIn my experience building Enterprise AI platforms, the actual code is rarely the hardest part. The difficulty lies in the institutional knowledge—knowing why a specific warehouse schema was designed that way or how to handle data quality issues that AI cannot perceive without deep context.\\n\\nIf your daily work is mostly following documented procedures to move data, the automation risk is real. The shift is moving away from being a tool expert toward being a domain expert who uses these models to eliminate toil. We have to move from being cost centers to being directly tied to revenue-generating activities.\\n\\nAre you already using the latest models to handle your boilerplate infrastructure code, or is your team still doing the heavy lifting manually?\" }}",
              "type": "string"
            },
            {
              "id": "b072d171-1af0-407c-8b16-ee61278bbd52",
              "name": "ERROR",
              "value": "",
              "type": "string"
            },
            {
              "id": "52b87bd1-627b-4af4-b73a-433a1b3caccd",
              "name": "IMAGE_MODEL",
              "value": "google/gemini-3.1-flash-image-preview",
              "type": "string"
            },
            {
              "id": "708efbf7-5a7f-4dd7-a5b4-1eb73ac77883",
              "name": "IMAGE_MODEL_FALLBACK",
              "value": "google/gemini-2.5-flash-image",
              "type": "string"
            },
            {
              "id": "c5c01700-e75b-4be5-afd4-bba2e2324bea",
              "name": "TEXT_MODEL",
              "value": "models/gemini-3.1-pro-preview",
              "type": "string"
            },
            {
              "id": "2f650b34-52f6-4aec-9375-8aa7abcb7d8b",
              "name": "TEXT_MODEL_FALLBACK",
              "value": "deepseek/deepseek-v4-pro",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        192,
        64
      ],
      "id": "f90d598b-e17c-4706-ae18-c5c7f911507b",
      "name": "set_workflow_vars"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "59d2348a-a3bb-49eb-b8f6-27faa0fe801f",
              "name": "omImage ",
              "value": "={{ $json.choices[0].message.images[0].image_url }}",
              "type": "string"
            },
            {
              "id": "eb7a859b-2738-4fea-83c0-e80d5bc089d2",
              "name": "prompt",
              "value": "={{ $('parse_llm_output').item.json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2112,
        64
      ],
      "id": "3a12d97a-c600-4c4c-963e-e3ee1eba0755",
      "name": "set_output"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "POST_CONTENT"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -32,
        64
      ],
      "id": "9c17321d-6a85-4d7c-bb22-e5100e32793c",
      "name": "main_trigger"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "09xEuVQj207pjK4x",
          "mode": "list",
          "cachedResultUrl": "/workflow/09xEuVQj207pjK4x",
          "cachedResultName": "DownloadTemplate"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "template_vars": "={{ {\n\"POST_CONTENT\": $('set_workflow_vars').item.json.POST_CONTENT,\n\"ART_DIRECTION\": [\n'cinematic 3D render: near-black background, one glowing focal object, volumetric light, subtle depth of field',\n'dramatic macro photography of a physical metaphor: shallow depth of field, moody studio lighting, dark backdrop',\n'isometric miniature scene: highly detailed tiny world on a dark backdrop, single saturated accent color',\n'retro-futurist poster: bold flat shapes, heavy grain texture, strong diagonal composition, two-color palette',\n'blueprint noir: dark navy technical blueprint background, precise white and cyan line work, one orange highlighted element',\n'glass-and-neon minimalism: translucent 3D glass shapes on near-black, one neon accent color, soft reflections',\n'papercraft diorama: layered cut-paper scene, strong directional shadows, one saturated accent color on a dark base',\n'chalk on black slate: expressive hand-drawn strokes, white chalk with a single element in vivid colored chalk'\n][Math.floor(Math.random() * 8)]\n} }}",
            "template_name": "prompts/linkedin_image_prompt.md"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "template_name",
              "displayName": "template_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "template_vars",
              "displayName": "template_vars",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1088,
        64
      ],
      "id": "00ce6e44-f57c-4461-97ea-0fa39c0852d4",
      "name": "download_image_prompt"
    },
    {
      "parameters": {
        "modelName": "={{ $('set_workflow_vars').item.json.TEXT_MODEL }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1328,
        288
      ],
      "id": "8490484e-c651-4418-96f7-fc96f2294c5d",
      "name": "ai_model",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "notesInFlow": false,
      "credentials": {
        "googlePalmApi": {
          "id": "ohBCg8rvjDPWEVQT",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse the <visual> block: mode decides whether we render Mermaid or call the image model.\nconst raw = $input.first().json.text || '';\nconst grab = (tag) => {\n  const m = raw.match(new RegExp('<' + tag + '>([\\\\s\\\\S]*?)</' + tag + '>'));\n  return m ? m[1].trim() : '';\n};\nconst mode = (grab('mode') || 'hero').toLowerCase();\nconst mermaid = grab('mermaid').replace(/^```(mermaid)?\\s*/, '').replace(/```\\s*$/, '').trim();\nconst imagePrompt = grab('image_prompt');\nreturn [{\n  json: {\n    mode,\n    concept: grab('concept'),\n    headline: grab('headline'),\n    text: mode === 'diagram' && mermaid ? mermaid : (imagePrompt || raw),\n  },\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1664,
        64
      ],
      "id": "28470e89-7ec6-488f-9f72-dc4dc5530a18",
      "name": "parse_llm_output"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('download_image_prompt').item.json.output }}",
        "needsFallback": true
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.6,
      "position": [
        1312,
        64
      ],
      "id": "13da9da5-498c-4f76-ace1-aa0ee01829d7",
      "name": "create_image_prompt_ai",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c1d2e3f4-a5b6-4c7d-8e9f-0a1b2c3d4e5f",
              "leftValue": "={{ $json.mode }}",
              "rightValue": "diagram",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1888,
        -64
      ],
      "id": "b2c3d4e5-f6a7-4b8c-9d0e-1f2a3b4c5d6e",
      "name": "if_diagram_mode"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://kroki.io/mermaid/png",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "text/plain",
        "body": "={{ $json.text }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2112,
        -160
      ],
      "id": "d4e5f6a7-b8c9-4d0e-af1a-2b3c4d5e6f7a",
      "name": "render_mermaid"
    },
    {
      "parameters": {
        "jsCode": "// Convert the rendered PNG to the same data-URL JSON shape the hero branch produces.\nconst buffer = await this.helpers.getBinaryDataBuffer(0, 'data');\nreturn [{\n  json: {\n    'omImage ': JSON.stringify({ url: 'data:image/png;base64,' + buffer.toString('base64') }),\n    prompt: $('parse_llm_output').item.json.text,\n  },\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2336,
        -160
      ],
      "id": "e5f6a7b8-c9d0-4e1f-8a2b-3c4d5e6f7a8b",
      "name": "set_output_diagram"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"{{ $('set_workflow_vars').item.json.IMAGE_MODEL }}\",\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": {{ $json.text.toJsonString() }}\n    }\n  ],\n  \"modalities\": [\n    \"image\",\n    \"text\"\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2112,
        64
      ],
      "id": "df83d38f-9bfb-4456-b59b-d39c57a275a9",
      "name": "generate_image",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpBearerAuth": {
          "id": "w1lsvBaScdYqzahC",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "model": "={{ $('set_workflow_vars').item.json.TEXT_MODEL_FALLBACK }}",
        "options": {
          "maxRetries": 2
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1456,
        288
      ],
      "id": "157f9dfa-26b9-4f69-8796-500f297c2389",
      "name": "ai_model_fallback",
      "credentials": {
        "openRouterApi": {
          "id": "QBmSiBlACt26uQAX",
          "name": "OpenRouter account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "timeSavedMode": "fixed",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "shared": [
    {
      "updatedAt": "2026-03-02T21:20:32.904Z",
      "createdAt": "2026-03-02T21:20:32.904Z",
      "role": "workflow:owner",
      "workflowId": "a9tFFs8qkRu8taC2",
      "projectId": "zcGU09G6dy4Oah3l"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-05-25T19:01:26.697Z",
  "versionId": "b40e3f57-4b06-4013-9c7a-032f1cf98c54"
}