n8n/workflows/linked_in_post_creator.workflow.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-07-08T19:55:58.464Z",
    "createdAt": "2026-07-08T19:55:57.509Z",
    "versionId": "b83ef0cd-09bc-4bdc-9036-72b9b5a12f7f",
    "workflowId": "PaeHFdCsdoVbQx11",
    "nodes": [
      {
        "parameters": {
          "promptType": "define",
          "text": "={{ $('download_post_prompt').item.json.output }}",
          "needsFallback": true,
          "messages": {
            "messageValues": [
              {
                "message": "={{ $('download_post_system_prompt').item.json.output }}"
              }
            ]
          }
        },
        "type": "@n8n/n8n-nodes-langchain.chainLlm",
        "typeVersion": 1.6,
        "position": [
          -400,
          624
        ],
        "id": "50cb2636-8c73-487d-955b-7fc5bcf9c2a0",
        "name": "create_post_ai",
        "alwaysOutputData": false,
        "retryOnFail": true,
        "waitBetweenTries": 5000,
        "maxTries": 5
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "={{ $('download_post_review_prompt').item.json.output }}",
          "needsFallback": true
        },
        "type": "@n8n/n8n-nodes-langchain.chainLlm",
        "typeVersion": 1.6,
        "position": [
          624,
          624
        ],
        "id": "3e043a86-d8a1-4a8e-83e9-3f0206ae46be",
        "name": "check_rules_llm",
        "retryOnFail": true,
        "waitBetweenTries": 5000,
        "maxTries": 5
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.output }}",
                      "rightValue": "true",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      },
                      "id": "ef976d0c-a5e3-4a2f-8740-82b3edbdb3ce"
                    }
                  ],
                  "combinator": "and"
                }
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "1f7bef35-3f55-4abe-87a7-c30b8961ae2e",
                      "leftValue": "={{ $runIndex }}",
                      "rightValue": "={{ $('set_workflow_vars').item.json.MAX_TRIES }}",
                      "operator": {
                        "type": "number",
                        "operation": "gt"
                      }
                    }
                  ],
                  "combinator": "and"
                }
              }
            ]
          },
          "options": {
            "fallbackOutput": "extra"
          }
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.2,
        "position": [
          1200,
          720
        ],
        "id": "a31977d0-afd5-4a83-8a5c-2e56ad81c6f5",
        "name": "switch_check_rules_llm"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "6a77a0ee-e904-467b-9f9f-e04aa3ddf203",
                "name": "ERROR",
                "value": "MAX_RETRIES_EXCEEDED",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1424,
          784
        ],
        "id": "706b9faf-f555-4585-a484-2fa940f06e18",
        "name": "set_error_max_tries"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "7f8f3783-1e58-470f-8731-866fff1519a3",
                "name": "text",
                "value": "={{ /<output>([\\s\\S]*?)<\\/output>/.exec($json.text)?.[1].trim().replace(\"SOME_URL\", $('set_workflow_vars').item.json.URL) || $json.text }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -48,
          496
        ],
        "id": "411a449a-d19c-44a1-887c-0fd0c4b25c87",
        "name": "parse_llm_output"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "3278d703-6413-4117-95ef-f5e639096d2b",
                "name": "RULES",
                "value": "={{ $('download_post_rules_prompt').item.json.output }}",
                "type": "string"
              },
              {
                "id": "97804ec0-c646-438a-bbc8-fad3b1081264",
                "name": "MAX_TRIES",
                "value": 3,
                "type": "number"
              },
              {
                "id": "b072d171-1af0-407c-8b16-ee61278bbd52",
                "name": "ERROR",
                "value": "",
                "type": "string"
              },
              {
                "id": "b090338e-13b0-4b58-b768-6a826051edf8",
                "name": "POST_TYPE",
                "value": "={{ $('main_trigger').item.json.POST_TYPE || \"LinkedIn Post\" }}",
                "type": "string"
              },
              {
                "id": "8b1c6021-99ec-4daa-9f4a-f5d583ac2daf",
                "name": "URL",
                "value": "={{ $('main_trigger').item.json.URL || \"https://www.alvsanand.com\" }}",
                "type": "string"
              },
              {
                "id": "52b87bd1-627b-4af4-b73a-433a1b3caccd",
                "name": "MODEL",
                "value": "models/gemini-3.1-pro-preview",
                "type": "string"
              },
              {
                "id": "708efbf7-5a7f-4dd7-a5b4-1eb73ac77883",
                "name": "MODEL_FALLBACK",
                "value": "deepseek/deepseek-v4-pro",
                "type": "string"
              },
              {
                "id": "45561a7c-0cb2-4bff-a5e2-a4bbe69d14e3",
                "name": "ENABLE_CHECK",
                "value": "={{ $('main_trigger').item.json.ENABLE_CHECK || 'false' }}",
                "type": "string"
              }
            ]
          },
          "includeOtherFields": true,
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -1296,
          624
        ],
        "id": "492a7fce-fccf-4aa2-9d05-a47fad71ca74",
        "name": "set_workflow_vars"
      },
      {
        "parameters": {
          "jsCode": "// Randomly pick variety directives so consecutive posts never share the same shape.\n// Duplicated entries act as weights.\nconst pick = (arr) => arr[Math.floor(Math.random() * arr.length)];\n\nconst hook = pick([\n  'CONTRARIAN CLAIM: open with a blunt statement that challenges accepted practice',\n  'WAR STORY: open with a concrete incident or observation from production work',\n  'HARD NUMBER: open with a specific figure, cost, or metric and why it matters',\n  'MISCONCEPTION: open by naming a common misconception and correcting it',\n  'NEWS REACTION: open with your immediate, opinionated take on the announcement or release',\n  'TRADE-OFF: open by framing the underlying trade-off most people ignore',\n]);\n\nconst format = pick([\n  'PURE PROSE: no bullet points at all, 3-5 flowing paragraphs',\n  'PURE PROSE: no bullet points at all, 3-5 flowing paragraphs',\n  'PUNCHY: several very short paragraphs, at least two of them a single sentence',\n  'PUNCHY: several very short paragraphs, at least two of them a single sentence',\n  'ONE BULLET BLOCK: exactly one bullet list of 3-4 short items, with prose before and after',\n]);\n\nconst length = pick([\n  'SHORT: aim for roughly 40% of the word limit',\n  'MEDIUM: aim for roughly 70% of the word limit',\n  'MEDIUM: aim for roughly 70% of the word limit',\n  'FULL: use most of the word limit',\n]);\n\nconst closing = pick([\n  'DIRECT QUESTION: end the body with one specific question to technical peers',\n  'DIRECT QUESTION: end the body with one specific question to technical peers',\n  'SHARED EXPERIENCE: end by inviting others to share how they handle it, phrased as a statement, no question mark',\n  'HOT TAKE: end the body on a blunt one-line statement, no question, no invitation',\n  'HOT TAKE: end the body on a blunt one-line statement, no question, no invitation',\n  'NONE: end when the argument is complete, with no closing question or invitation',\n]);\n\nconst VARIETY_DIRECTIVES = [\n  `- Hook — ${hook}.`,\n  `- Format — ${format}.`,\n  `- Length — ${length}.`,\n  `- Closing — ${closing}. The \"Source here\" line and hashtags always follow the body regardless.`,\n].join('\\n');\n\nreturn [{ json: { ...$input.first().json, VARIETY_DIRECTIVES } }];\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -1072,
          624
        ],
        "id": "357ed4ee-6ca6-491f-b12a-1cfbb8ad0771",
        "name": "set_variety_directives"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "2b0bc19a-ed15-45a0-9022-a59e2c9e56d1",
                "name": "text",
                "value": "={{ $('parse_llm_output').item.json.text }}",
                "type": "string"
              },
              {
                "id": "59d2348a-a3bb-49eb-b8f6-27faa0fe801f",
                "name": "omImage ",
                "value": "",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1424,
          416
        ],
        "id": "3e6695b8-409c-416c-9352-d76077099083",
        "name": "set_output"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "09xEuVQj207pjK4x",
            "mode": "list",
            "cachedResultUrl": "/workflow/09xEuVQj207pjK4x",
            "cachedResultName": "DownloadTemplate"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "template_vars": "={{ {\n\"RULES\": $('set_workflow_vars').item.json.RULES,\n\"EXTRA_RULES\": $('main_trigger').item.json.EXTRA_RULES,\n\"CONTENT\": $('main_trigger').item.json.CONTENT,\n\"VARIETY_DIRECTIVES\": $('set_variety_directives').item.json.VARIETY_DIRECTIVES,\n} }}",
              "template_name": "prompts/linkedin_post.md"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "template_name",
                "displayName": "template_name",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string"
              },
              {
                "id": "template_vars",
                "displayName": "template_vars",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "object"
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.2,
        "position": [
          -848,
          624
        ],
        "id": "d41216ac-1fca-45c2-a211-20c92e8b84bb",
        "name": "download_post_prompt"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "09xEuVQj207pjK4x",
            "mode": "list",
            "cachedResultUrl": "/workflow/09xEuVQj207pjK4x",
            "cachedResultName": "DownloadTemplate"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "template_vars": "={{ {} }}",
              "template_name": "prompts/linkedin_post_system.md"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "template_name",
                "displayName": "template_name",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string"
              },
              {
                "id": "template_vars",
                "displayName": "template_vars",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "object"
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.2,
        "position": [
          -624,
          624
        ],
        "id": "9bd956fa-7e3a-4647-89aa-cbd08e1679b9",
        "name": "download_post_system_prompt"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "09xEuVQj207pjK4x",
            "mode": "list",
            "cachedResultName": "DownloadTemplate"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "template_vars": "={{ {\n\"RULES\": $('set_workflow_vars').item.json.RULES,\n\"EXTRA_RULES\": $('main_trigger').item.json.EXTRA_RULES,\n\"URL\": $('main_trigger').item.json.URL,\n\"TEXT\": $json.text,\n\"VARIETY_DIRECTIVES\": $('set_variety_directives').item.json.VARIETY_DIRECTIVES,\n} }}",
              "template_name": "prompts/linkedin_post_review.md"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "template_name",
                "displayName": "template_name",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string"
              },
              {
                "id": "template_vars",
                "displayName": "template_vars",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "object"
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.2,
        "position": [
          400,
          624
        ],
        "id": "d8ed8e06-1b09-4e5b-8d5a-99e9ebd6e1d9",
        "name": "download_post_review_prompt"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "09xEuVQj207pjK4x",
            "mode": "list",
            "cachedResultName": "DownloadTemplate"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "template_vars": "={{ {\"MAX_WORDS\": $('main_trigger').item.json.MAX_WORDS || 200 } }}",
              "template_name": "prompts/linkedin_post_rules.md"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "template_name",
                "displayName": "template_name",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string"
              },
              {
                "id": "template_vars",
                "displayName": "template_vars",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "object"
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.2,
        "position": [
          -1520,
          624
        ],
        "id": "7e089a0e-f5e9-411a-be00-5baacb08dc24",
        "name": "download_post_rules_prompt"
      },
      {
        "parameters": {
          "workflowInputs": {
            "values": [
              {
                "name": "EXTRA_RULES"
              },
              {
                "name": "CONTENT"
              },
              {
                "name": "URL"
              },
              {
                "name": "MAX_WORDS",
                "type": "number"
              },
              {
                "name": "ENABLE_CHECK"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          -1744,
          624
        ],
        "id": "95a92357-e7a8-43a4-a569-e83b4d0be200",
        "name": "main_trigger"
      },
      {
        "parameters": {
          "jsCode": "for (const item of $input.all()) {\n  const { text } = item.json;\n\n  const output = text.includes('<output>') && text.includes('</output>')\n    ? text.split('<output>')[1].split('</output>')[0]\n    : 'false';\n  \n  item.json.output = output;\n}\n\nreturn $input.all();"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          976,
          624
        ],
        "id": "85d10ebd-caa5-4b89-9629-d0110fbe7f60",
        "name": "parse_llm_check_output"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "loose",
              "version": 2
            },
            "conditions": [
              {
                "id": "524e1406-ed4b-436d-90aa-59fa6cb55916",
                "leftValue": "={{ $('set_workflow_vars').item.json.ENABLE_CHECK }}",
                "rightValue": "true",
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "looseTypeValidation": true,
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          176,
          496
        ],
        "id": "1e68d709-e7c1-4bcd-9479-3b09d9c34a62",
        "name": "if_enabled_check"
      },
      {
        "parameters": {
          "modelName": "={{ $('set_workflow_vars').item.json.MODEL }}",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
        "typeVersion": 1,
        "position": [
          640,
          848
        ],
        "id": "7b9e974d-fad9-4bd9-8ca3-bdff674e767a",
        "name": "ai_model",
        "retryOnFail": true,
        "waitBetweenTries": 5000,
        "notesInFlow": false,
        "credentials": {
          "googlePalmApi": {
            "id": "ohBCg8rvjDPWEVQT",
            "name": "Google Gemini(PaLM) Api account"
          }
        }
      },
      {
        "parameters": {
          "model": "={{ $('set_workflow_vars').item.json.MODEL_FALLBACK }}",
          "options": {
            "maxRetries": 5
          }
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
        "typeVersion": 1,
        "position": [
          768,
          848
        ],
        "id": "7bd27658-0245-4c37-8825-409cf89c70fe",
        "name": "ai_model_fallback",
        "credentials": {
          "openRouterApi": {
            "id": "QBmSiBlACt26uQAX",
            "name": "OpenRouter account"
          }
        }
      }
    ],
    "connections": {
      "create_post_ai": {
        "main": [
          [
            {
              "node": "parse_llm_output",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "check_rules_llm": {
        "main": [
          [
            {
              "node": "parse_llm_check_output",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "switch_check_rules_llm": {
        "main": [
          [
            {
              "node": "set_output",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "set_error_max_tries",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "create_post_ai",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "parse_llm_output": {
        "main": [
          [
            {
              "node": "if_enabled_check",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "set_workflow_vars": {
        "main": [
          [
            {
              "node": "set_variety_directives",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "download_post_prompt": {
        "main": [
          [
            {
              "node": "download_post_system_prompt",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "download_post_system_prompt": {
        "main": [
          [
            {
              "node": "create_post_ai",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "download_post_review_prompt": {
        "main": [
          [
            {
              "node": "check_rules_llm",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "download_post_rules_prompt": {
        "main": [
          [
            {
              "node": "set_workflow_vars",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "main_trigger": {
        "main": [
          [
            {
              "node": "download_post_rules_prompt",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "parse_llm_check_output": {
        "main": [
          [
            {
              "node": "switch_check_rules_llm",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "if_enabled_check": {
        "main": [
          [
            {
              "node": "download_post_review_prompt",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "set_output",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "ai_model": {
        "ai_languageModel": [
          [
            {
              "node": "check_rules_llm",
              "type": "ai_languageModel",
              "index": 0
            },
            {
              "node": "create_post_ai",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "ai_model_fallback": {
        "ai_languageModel": [
          [
            {
              "node": "check_rules_llm",
              "type": "ai_languageModel",
              "index": 1
            },
            {
              "node": "create_post_ai",
              "type": "ai_languageModel",
              "index": 1
            }
          ]
        ]
      },
      "set_variety_directives": {
        "main": [
          [
            {
              "node": "download_post_prompt",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "nodeGroups": [],
    "authors": "no name",
    "name": "Version b83ef0cd",
    "description": "",
    "autosaved": false
  },
  "activeVersionId": "b83ef0cd-09bc-4bdc-9036-72b9b5a12f7f",
  "connections": {
    "create_post_ai": {
      "main": [
        [
          {
            "node": "parse_llm_output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "check_rules_llm": {
      "main": [
        [
          {
            "node": "parse_llm_check_output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "switch_check_rules_llm": {
      "main": [
        [
          {
            "node": "set_output",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "set_error_max_tries",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "create_post_ai",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "parse_llm_output": {
      "main": [
        [
          {
            "node": "if_enabled_check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "set_workflow_vars": {
      "main": [
        [
          {
            "node": "set_variety_directives",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "download_post_prompt": {
      "main": [
        [
          {
            "node": "download_post_system_prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "download_post_system_prompt": {
      "main": [
        [
          {
            "node": "create_post_ai",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "download_post_review_prompt": {
      "main": [
        [
          {
            "node": "check_rules_llm",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "download_post_rules_prompt": {
      "main": [
        [
          {
            "node": "set_workflow_vars",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "main_trigger": {
      "main": [
        [
          {
            "node": "download_post_rules_prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "parse_llm_check_output": {
      "main": [
        [
          {
            "node": "switch_check_rules_llm",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "if_enabled_check": {
      "main": [
        [
          {
            "node": "download_post_review_prompt",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "set_output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ai_model": {
      "ai_languageModel": [
        [
          {
            "node": "check_rules_llm",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "create_post_ai",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "ai_model_fallback": {
      "ai_languageModel": [
        [
          {
            "node": "check_rules_llm",
            "type": "ai_languageModel",
            "index": 1
          },
          {
            "node": "create_post_ai",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "set_variety_directives": {
      "main": [
        [
          {
            "node": "download_post_prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-05-21T14:27:03.290Z",
  "id": "PaeHFdCsdoVbQx11",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "LinkedIn Post Creator",
  "nodeGroups": [],
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('download_post_prompt').item.json.output }}",
        "needsFallback": true,
        "messages": {
          "messageValues": [
            {
              "message": "={{ $('download_post_system_prompt').item.json.output }}"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.6,
      "position": [
        -400,
        624
      ],
      "id": "50cb2636-8c73-487d-955b-7fc5bcf9c2a0",
      "name": "create_post_ai",
      "alwaysOutputData": false,
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "maxTries": 5
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('download_post_review_prompt').item.json.output }}",
        "needsFallback": true
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.6,
      "position": [
        624,
        624
      ],
      "id": "3e043a86-d8a1-4a8e-83e9-3f0206ae46be",
      "name": "check_rules_llm",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "maxTries": 5
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "true",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "ef976d0c-a5e3-4a2f-8740-82b3edbdb3ce"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "1f7bef35-3f55-4abe-87a7-c30b8961ae2e",
                    "leftValue": "={{ $runIndex }}",
                    "rightValue": "={{ $('set_workflow_vars').item.json.MAX_TRIES }}",
                    "operator": {
                      "type": "number",
                      "operation": "gt"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1200,
        720
      ],
      "id": "a31977d0-afd5-4a83-8a5c-2e56ad81c6f5",
      "name": "switch_check_rules_llm"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6a77a0ee-e904-467b-9f9f-e04aa3ddf203",
              "name": "ERROR",
              "value": "MAX_RETRIES_EXCEEDED",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1424,
        784
      ],
      "id": "706b9faf-f555-4585-a484-2fa940f06e18",
      "name": "set_error_max_tries"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7f8f3783-1e58-470f-8731-866fff1519a3",
              "name": "text",
              "value": "={{ /<output>([\\s\\S]*?)<\\/output>/.exec($json.text)?.[1].trim().replace(\"SOME_URL\", $('set_workflow_vars').item.json.URL) || $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -48,
        496
      ],
      "id": "411a449a-d19c-44a1-887c-0fd0c4b25c87",
      "name": "parse_llm_output"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3278d703-6413-4117-95ef-f5e639096d2b",
              "name": "RULES",
              "value": "={{ $('download_post_rules_prompt').item.json.output }}",
              "type": "string"
            },
            {
              "id": "97804ec0-c646-438a-bbc8-fad3b1081264",
              "name": "MAX_TRIES",
              "value": 3,
              "type": "number"
            },
            {
              "id": "b072d171-1af0-407c-8b16-ee61278bbd52",
              "name": "ERROR",
              "value": "",
              "type": "string"
            },
            {
              "id": "b090338e-13b0-4b58-b768-6a826051edf8",
              "name": "POST_TYPE",
              "value": "={{ $('main_trigger').item.json.POST_TYPE || \"LinkedIn Post\" }}",
              "type": "string"
            },
            {
              "id": "8b1c6021-99ec-4daa-9f4a-f5d583ac2daf",
              "name": "URL",
              "value": "={{ $('main_trigger').item.json.URL || \"https://www.alvsanand.com\" }}",
              "type": "string"
            },
            {
              "id": "52b87bd1-627b-4af4-b73a-433a1b3caccd",
              "name": "MODEL",
              "value": "models/gemini-3.1-pro-preview",
              "type": "string"
            },
            {
              "id": "708efbf7-5a7f-4dd7-a5b4-1eb73ac77883",
              "name": "MODEL_FALLBACK",
              "value": "deepseek/deepseek-v4-pro",
              "type": "string"
            },
            {
              "id": "45561a7c-0cb2-4bff-a5e2-a4bbe69d14e3",
              "name": "ENABLE_CHECK",
              "value": "={{ $('main_trigger').item.json.ENABLE_CHECK || 'false' }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1296,
        624
      ],
      "id": "492a7fce-fccf-4aa2-9d05-a47fad71ca74",
      "name": "set_workflow_vars"
    },
    {
      "parameters": {
        "jsCode": "// Randomly pick variety directives so consecutive posts never share the same shape.\n// Duplicated entries act as weights.\nconst pick = (arr) => arr[Math.floor(Math.random() * arr.length)];\n\nconst hook = pick([\n  'CONTRARIAN CLAIM: open with a blunt statement that challenges accepted practice',\n  'WAR STORY: open with a concrete incident or observation from production work',\n  'HARD NUMBER: open with a specific figure, cost, or metric and why it matters',\n  'MISCONCEPTION: open by naming a common misconception and correcting it',\n  'NEWS REACTION: open with your immediate, opinionated take on the announcement or release',\n  'TRADE-OFF: open by framing the underlying trade-off most people ignore',\n]);\n\nconst format = pick([\n  'PURE PROSE: no bullet points at all, 3-5 flowing paragraphs',\n  'PURE PROSE: no bullet points at all, 3-5 flowing paragraphs',\n  'PUNCHY: several very short paragraphs, at least two of them a single sentence',\n  'PUNCHY: several very short paragraphs, at least two of them a single sentence',\n  'ONE BULLET BLOCK: exactly one bullet list of 3-4 short items, with prose before and after',\n]);\n\nconst length = pick([\n  'SHORT: aim for roughly 40% of the word limit',\n  'MEDIUM: aim for roughly 70% of the word limit',\n  'MEDIUM: aim for roughly 70% of the word limit',\n  'FULL: use most of the word limit',\n]);\n\nconst closing = pick([\n  'DIRECT QUESTION: end the body with one specific question to technical peers',\n  'DIRECT QUESTION: end the body with one specific question to technical peers',\n  'SHARED EXPERIENCE: end by inviting others to share how they handle it, phrased as a statement, no question mark',\n  'HOT TAKE: end the body on a blunt one-line statement, no question, no invitation',\n  'HOT TAKE: end the body on a blunt one-line statement, no question, no invitation',\n  'NONE: end when the argument is complete, with no closing question or invitation',\n]);\n\nconst VARIETY_DIRECTIVES = [\n  `- Hook — ${hook}.`,\n  `- Format — ${format}.`,\n  `- Length — ${length}.`,\n  `- Closing — ${closing}. The \"Source here\" line and hashtags always follow the body regardless.`,\n].join('\\n');\n\nreturn [{ json: { ...$input.first().json, VARIETY_DIRECTIVES } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1072,
        624
      ],
      "id": "357ed4ee-6ca6-491f-b12a-1cfbb8ad0771",
      "name": "set_variety_directives"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2b0bc19a-ed15-45a0-9022-a59e2c9e56d1",
              "name": "text",
              "value": "={{ $('parse_llm_output').item.json.text }}",
              "type": "string"
            },
            {
              "id": "59d2348a-a3bb-49eb-b8f6-27faa0fe801f",
              "name": "omImage ",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1424,
        416
      ],
      "id": "3e6695b8-409c-416c-9352-d76077099083",
      "name": "set_output"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "09xEuVQj207pjK4x",
          "mode": "list",
          "cachedResultUrl": "/workflow/09xEuVQj207pjK4x",
          "cachedResultName": "DownloadTemplate"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "template_vars": "={{ {\n\"RULES\": $('set_workflow_vars').item.json.RULES,\n\"EXTRA_RULES\": $('main_trigger').item.json.EXTRA_RULES,\n\"CONTENT\": $('main_trigger').item.json.CONTENT,\n\"VARIETY_DIRECTIVES\": $('set_variety_directives').item.json.VARIETY_DIRECTIVES,\n} }}",
            "template_name": "prompts/linkedin_post.md"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "template_name",
              "displayName": "template_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "template_vars",
              "displayName": "template_vars",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -848,
        624
      ],
      "id": "d41216ac-1fca-45c2-a211-20c92e8b84bb",
      "name": "download_post_prompt"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "09xEuVQj207pjK4x",
          "mode": "list",
          "cachedResultUrl": "/workflow/09xEuVQj207pjK4x",
          "cachedResultName": "DownloadTemplate"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "template_vars": "={{ {} }}",
            "template_name": "prompts/linkedin_post_system.md"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "template_name",
              "displayName": "template_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "template_vars",
              "displayName": "template_vars",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -624,
        624
      ],
      "id": "9bd956fa-7e3a-4647-89aa-cbd08e1679b9",
      "name": "download_post_system_prompt"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "09xEuVQj207pjK4x",
          "mode": "list",
          "cachedResultName": "DownloadTemplate"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "template_vars": "={{ {\n\"RULES\": $('set_workflow_vars').item.json.RULES,\n\"EXTRA_RULES\": $('main_trigger').item.json.EXTRA_RULES,\n\"URL\": $('main_trigger').item.json.URL,\n\"TEXT\": $json.text,\n\"VARIETY_DIRECTIVES\": $('set_variety_directives').item.json.VARIETY_DIRECTIVES,\n} }}",
            "template_name": "prompts/linkedin_post_review.md"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "template_name",
              "displayName": "template_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "template_vars",
              "displayName": "template_vars",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        400,
        624
      ],
      "id": "d8ed8e06-1b09-4e5b-8d5a-99e9ebd6e1d9",
      "name": "download_post_review_prompt"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "09xEuVQj207pjK4x",
          "mode": "list",
          "cachedResultName": "DownloadTemplate"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "template_vars": "={{ {\"MAX_WORDS\": $('main_trigger').item.json.MAX_WORDS || 200 } }}",
            "template_name": "prompts/linkedin_post_rules.md"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "template_name",
              "displayName": "template_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "template_vars",
              "displayName": "template_vars",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -1520,
        624
      ],
      "id": "7e089a0e-f5e9-411a-be00-5baacb08dc24",
      "name": "download_post_rules_prompt"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "EXTRA_RULES"
            },
            {
              "name": "CONTENT"
            },
            {
              "name": "URL"
            },
            {
              "name": "MAX_WORDS",
              "type": "number"
            },
            {
              "name": "ENABLE_CHECK"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1744,
        624
      ],
      "id": "95a92357-e7a8-43a4-a569-e83b4d0be200",
      "name": "main_trigger"
    },
    {
      "parameters": {
        "jsCode": "for (const item of $input.all()) {\n  const { text } = item.json;\n\n  const output = text.includes('<output>') && text.includes('</output>')\n    ? text.split('<output>')[1].split('</output>')[0]\n    : 'false';\n  \n  item.json.output = output;\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        976,
        624
      ],
      "id": "85d10ebd-caa5-4b89-9629-d0110fbe7f60",
      "name": "parse_llm_check_output"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "524e1406-ed4b-436d-90aa-59fa6cb55916",
              "leftValue": "={{ $('set_workflow_vars').item.json.ENABLE_CHECK }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        176,
        496
      ],
      "id": "1e68d709-e7c1-4bcd-9479-3b09d9c34a62",
      "name": "if_enabled_check"
    },
    {
      "parameters": {
        "modelName": "={{ $('set_workflow_vars').item.json.MODEL }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        640,
        848
      ],
      "id": "7b9e974d-fad9-4bd9-8ca3-bdff674e767a",
      "name": "ai_model",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "notesInFlow": false,
      "credentials": {
        "googlePalmApi": {
          "id": "ohBCg8rvjDPWEVQT",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "model": "={{ $('set_workflow_vars').item.json.MODEL_FALLBACK }}",
        "options": {
          "maxRetries": 5
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        768,
        848
      ],
      "id": "7bd27658-0245-4c37-8825-409cf89c70fe",
      "name": "ai_model_fallback",
      "credentials": {
        "openRouterApi": {
          "id": "QBmSiBlACt26uQAX",
          "name": "OpenRouter account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "timeSavedMode": "fixed",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "shared": [
    {
      "updatedAt": "2025-05-21T14:27:03.290Z",
      "createdAt": "2025-05-21T14:27:03.290Z",
      "role": "workflow:owner",
      "workflowId": "PaeHFdCsdoVbQx11",
      "projectId": "zcGU09G6dy4Oah3l"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-07-08T19:55:57.507Z",
  "versionId": "b83ef0cd-09bc-4bdc-9036-72b9b5a12f7f"
}