n8n/workflows/linked_in_post_sharing.workflow.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-07-08T20:14:51.039Z",
    "createdAt": "2026-07-08T20:14:49.385Z",
    "versionId": "fcae9d48-edbf-430e-bdf9-7f3b86ea7f4f",
    "workflowId": "oxARWWyxenKgmv6A",
    "nodes": [
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.data.approved }}",
                      "rightValue": "true",
                      "operator": {
                        "type": "boolean",
                        "operation": "true",
                        "singleValue": true
                      },
                      "id": "1ff89881-6b63-4c71-b452-518d97a6e351"
                    }
                  ],
                  "combinator": "and"
                }
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "ff5900ad-ed83-4755-a621-d0a21c4cbc39",
                      "leftValue": "={{ $json.data.approved }}",
                      "rightValue": "RETRY",
                      "operator": {
                        "type": "boolean",
                        "operation": "false",
                        "singleValue": true
                      }
                    }
                  ],
                  "combinator": "and"
                }
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.2,
        "position": [
          1744,
          -624
        ],
        "id": "dab2b53b-5d45-4c07-9e96-f6fc728bc01a",
        "name": "switch_user_accept"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "6a77a0ee-e904-467b-9f9f-e04aa3ddf203",
                "name": "ERROR",
                "value": "CANCELLED",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          2640,
          -800
        ],
        "id": "5ff8c36c-9749-4b1b-948a-49f92c466c23",
        "name": "set_error_cancelled"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "qUfjfWLGEjV96ljf",
            "mode": "list",
            "cachedResultUrl": "/workflow/qUfjfWLGEjV96ljf",
            "cachedResultName": "Download Content"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "URL": "={{ $('select_article_to_post').item.json.URL }}"
            },
            "matchingColumns": [
              "URL"
            ],
            "schema": [
              {
                "id": "URL",
                "displayName": "URL",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {
            "waitForSubWorkflow": true
          }
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.2,
        "position": [
          624,
          -656
        ],
        "id": "2834f481-703a-4f9c-af24-47235959363c",
        "name": "download_content"
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.ERROR || \"\" }}",
                      "rightValue": "",
                      "operator": {
                        "type": "string",
                        "operation": "empty",
                        "singleValue": true
                      },
                      "id": "fc19486a-369f-4500-9f0c-d803d0e28a33"
                    }
                  ],
                  "combinator": "and"
                }
              }
            ]
          },
          "options": {
            "fallbackOutput": "extra"
          }
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.2,
        "position": [
          1072,
          -720
        ],
        "id": "1bf7bafc-c4bf-45a9-a050-c1c0624e03fb",
        "name": "check_subworkflow_error"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "PaeHFdCsdoVbQx11",
            "mode": "list",
            "cachedResultUrl": "/workflow/PaeHFdCsdoVbQx11",
            "cachedResultName": "LinkedIn Post Creator"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "MAX_WORDS": "={{ $('select_article_to_post').item.json.MAX_WORDS || 300 }}",
              "URL": "={{ $('select_article_to_post').item.json.URL }}",
              "EXTRA_RULES": "={{ $('select_article_to_post').item.json.EXTRA_RULES }}",
              "CONTENT": "={{ $('download_content').item.json.contentMkdown }}",
              "ENABLE_CHECK": true
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "EXTRA_RULES",
                "displayName": "EXTRA_RULES",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string"
              },
              {
                "id": "CONTENT",
                "displayName": "CONTENT",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string"
              },
              {
                "id": "URL",
                "displayName": "URL",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string"
              },
              {
                "id": "MAX_WORDS",
                "displayName": "MAX_WORDS",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "number"
              },
              {
                "id": "ENABLE_CHECK",
                "displayName": "ENABLE_CHECK",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "boolean",
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {
            "waitForSubWorkflow": true
          }
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.2,
        "position": [
          848,
          -656
        ],
        "id": "fb59d2c6-3a2a-432d-9e82-d255d6e4bcd9",
        "name": "execute_post_creator",
        "notesInFlow": false
      },
      {
        "parameters": {
          "documentId": {
            "__rl": true,
            "value": "1HdJsvIaWuWu8_dDtoU-lql3ZLgbFMAe0xZ4AnYnMgPI",
            "mode": "list",
            "cachedResultName": "content_planner",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1HdJsvIaWuWu8_dDtoU-lql3ZLgbFMAe0xZ4AnYnMgPI/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": "gid=0",
            "mode": "list",
            "cachedResultName": "articles_2_linkedin",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1HdJsvIaWuWu8_dDtoU-lql3ZLgbFMAe0xZ4AnYnMgPI/edit#gid=0"
          },
          "options": {
            "dataLocationOnSheet": {
              "values": {
                "rangeDefinition": "detectAutomatically",
                "readRowsUntil": "firstEmptyRow"
              }
            }
          }
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.6,
        "position": [
          -48,
          -656
        ],
        "id": "ca44dc64-da53-4e5d-ab23-9b6702fbf10e",
        "name": "read_articles_sheet",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "pGARJmt50qz64xOo",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const priorityOrder = {\n  VERY_HIGH: 0,\n  HIGH: 1,\n  MEDIUM: 2,\n  LOW: 3\n};\nconst filteredEntries = $input.all().map(item=>item.json).filter(item => item.URL && /^(QUEUE)$/.test(item.STATUS)).toSorted((a, b) => {\n  const aPriority = priorityOrder[a.PRIORITY] ?? 4;\n  const bPriority = priorityOrder[b.PRIORITY] ?? 4;\n\n  if (aPriority !== bPriority) {\n    return aPriority - bPriority; // sort by priority\n  }\n\n  return a.row_number - b.row_number; // sort by row_number ascending\n});\n\n//console.log(filteredEntries.slice(0))\n\nreturn filteredEntries.slice(0, 1);"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          176,
          -656
        ],
        "id": "42f684c2-9691-4bad-90cd-9fa7068e53b2",
        "name": "select_article_to_post"
      },
      {
        "parameters": {
          "select": "channel",
          "channelId": {
            "__rl": true,
            "value": "C08RQNXQV3P",
            "mode": "list",
            "cachedResultName": "workflows"
          },
          "text": "=Error Publishing Post ({{ $execution.url }}) in LinkedIn: {{ $json.ERROR }}",
          "otherOptions": {
            "includeLinkToWorkflow": true
          }
        },
        "type": "n8n-nodes-base.slack",
        "typeVersion": 2.3,
        "position": [
          2864,
          -896
        ],
        "id": "877b1dba-6480-46fa-bd79-5aad974cc880",
        "name": "send_error_notification",
        "webhookId": "faa5f272-06d5-4d4d-ad75-e17f49c6fbc8",
        "credentials": {
          "slackApi": {
            "id": "DszMmPE7WwOjHQjz",
            "name": "Slack account"
          }
        }
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.data.approved }}",
                      "rightValue": "true",
                      "operator": {
                        "type": "boolean",
                        "operation": "true",
                        "singleValue": true
                      },
                      "id": "1ff89881-6b63-4c71-b452-518d97a6e351"
                    }
                  ],
                  "combinator": "and"
                }
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "ff5900ad-ed83-4755-a621-d0a21c4cbc39",
                      "leftValue": "={{ $json.data.approved }}",
                      "rightValue": "RETRY",
                      "operator": {
                        "type": "boolean",
                        "operation": "false",
                        "singleValue": true
                      }
                    }
                  ],
                  "combinator": "and"
                }
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.2,
        "position": [
          2192,
          -800
        ],
        "id": "7a35b33b-c475-4b7b-99eb-fad9374dd740",
        "name": "switch_user_retry"
      },
      {
        "parameters": {
          "operation": "sendAndWait",
          "select": "channel",
          "channelId": {
            "__rl": true,
            "value": "C08RQNXQV3P",
            "mode": "list",
            "cachedResultName": "workflows"
          },
          "message": "=Do You want to Retry or Cancel the post for URL {{ $('select_article_to_post').item.json.URL }}\"?",
          "approvalOptions": {
            "values": {
              "approvalType": "double",
              "approveLabel": "Retry",
              "disapproveLabel": "Cancel"
            }
          },
          "options": {
            "appendAttribution": true
          }
        },
        "type": "n8n-nodes-base.slack",
        "typeVersion": 2.3,
        "position": [
          1968,
          -800
        ],
        "id": "1ab6a69f-784e-44e7-be8e-776ef8fbf1a0",
        "name": "notification_retry_or_cancel",
        "webhookId": "000ae367-e34e-4ae3-97e2-8a35dd30487e",
        "credentials": {
          "slackApi": {
            "id": "DszMmPE7WwOjHQjz",
            "name": "Slack account"
          }
        }
      },
      {
        "parameters": {
          "operation": "sendAndWait",
          "select": "channel",
          "channelId": {
            "__rl": true,
            "value": "C08RQNXQV3P",
            "mode": "list",
            "cachedResultName": "workflows"
          },
          "message": "=Waiting for your approval the text  for a LinkedIn Post...\n\nURL: {{ $('select_article_to_post').item.json.URL }}\n\n## POST ##\n{{ $('execute_post_creator').item.json.text }}",
          "approvalOptions": {
            "values": {
              "approvalType": "double"
            }
          },
          "options": {
            "appendAttribution": true
          }
        },
        "type": "n8n-nodes-base.slack",
        "typeVersion": 2.3,
        "position": [
          1520,
          -624
        ],
        "id": "e8ab2146-d27a-4afb-8a49-788eb4b163f2",
        "name": "notification_accept",
        "webhookId": "000ae367-e34e-4ae3-97e2-8a35dd30487e",
        "credentials": {
          "slackApi": {
            "id": "DszMmPE7WwOjHQjz",
            "name": "Slack account"
          }
        }
      },
      {
        "parameters": {
          "operation": "update",
          "documentId": {
            "__rl": true,
            "value": "1HdJsvIaWuWu8_dDtoU-lql3ZLgbFMAe0xZ4AnYnMgPI",
            "mode": "list",
            "cachedResultName": "content_planner",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1HdJsvIaWuWu8_dDtoU-lql3ZLgbFMAe0xZ4AnYnMgPI/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": "gid=0",
            "mode": "list",
            "cachedResultName": "articles_2_linkedin",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1HdJsvIaWuWu8_dDtoU-lql3ZLgbFMAe0xZ4AnYnMgPI/edit#gid=0"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "UPDATE_DATE": "={{ (new Date()).toISOString() }}",
              "STATUS": "WAITING_APPROVAL",
              "row_number": "={{ $('select_article_to_post').item.json.row_number }}"
            },
            "matchingColumns": [
              "row_number"
            ],
            "schema": [
              {
                "id": "URL",
                "displayName": "URL",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "STATUS",
                "displayName": "STATUS",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "PRIORITY",
                "displayName": "PRIORITY",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "UPDATE_DATE",
                "displayName": "UPDATE_DATE",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "RELEASE_DATE",
                "displayName": "RELEASE_DATE",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "EXTRA_PROMPT",
                "displayName": "EXTRA_PROMPT",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "LINKEDIN_URL",
                "displayName": "LINKEDIN_URL",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "row_number",
                "displayName": "row_number",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "readOnly": true,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.6,
        "position": [
          1296,
          -624
        ],
        "id": "2c7bac05-6d9f-4e89-970c-0f306ddc1814",
        "name": "update_status_waiting_approval",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "pGARJmt50qz64xOo",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "operation": "update",
          "documentId": {
            "__rl": true,
            "value": "1HdJsvIaWuWu8_dDtoU-lql3ZLgbFMAe0xZ4AnYnMgPI",
            "mode": "list",
            "cachedResultName": "content_planner",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1HdJsvIaWuWu8_dDtoU-lql3ZLgbFMAe0xZ4AnYnMgPI/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": "gid=0",
            "mode": "list",
            "cachedResultName": "articles_2_linkedin",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1HdJsvIaWuWu8_dDtoU-lql3ZLgbFMAe0xZ4AnYnMgPI/edit#gid=0"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "UPDATE_DATE": "={{ (new Date()).toISOString() }}",
              "STATUS": "CANCELED",
              "row_number": "={{ $('select_article_to_post').item.json.row_number }}"
            },
            "matchingColumns": [
              "row_number"
            ],
            "schema": [
              {
                "id": "URL",
                "displayName": "URL",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "STATUS",
                "displayName": "STATUS",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "PRIORITY",
                "displayName": "PRIORITY",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "UPDATE_DATE",
                "displayName": "UPDATE_DATE",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "RELEASE_DATE",
                "displayName": "RELEASE_DATE",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "EXTRA_PROMPT",
                "displayName": "EXTRA_PROMPT",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "LINKEDIN_URL",
                "displayName": "LINKEDIN_URL",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "row_number",
                "displayName": "row_number",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "readOnly": true,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.6,
        "position": [
          2416,
          -800
        ],
        "id": "6da06054-47c0-4ea7-8eb6-a6e8229a408a",
        "name": "update_status_cancelled",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "pGARJmt50qz64xOo",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "operation": "update",
          "documentId": {
            "__rl": true,
            "value": "1HdJsvIaWuWu8_dDtoU-lql3ZLgbFMAe0xZ4AnYnMgPI",
            "mode": "list",
            "cachedResultName": "content_planner",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1HdJsvIaWuWu8_dDtoU-lql3ZLgbFMAe0xZ4AnYnMgPI/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": "gid=0",
            "mode": "list",
            "cachedResultName": "articles_2_linkedin",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1HdJsvIaWuWu8_dDtoU-lql3ZLgbFMAe0xZ4AnYnMgPI/edit#gid=0"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "UPDATE_DATE": "={{ (new Date()).toISOString() }}",
              "STATUS": "IN_PROGRESS",
              "row_number": "={{ $json.row_number }}",
              "EXECUTION_ID": "={{ $execution.id }}"
            },
            "matchingColumns": [
              "row_number"
            ],
            "schema": [
              {
                "id": "URL",
                "displayName": "URL",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "STATUS",
                "displayName": "STATUS",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "PRIORITY",
                "displayName": "PRIORITY",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "UPDATE_DATE",
                "displayName": "UPDATE_DATE",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "RELEASE_DATE",
                "displayName": "RELEASE_DATE",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "EXTRA_RULES",
                "displayName": "EXTRA_RULES",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "LINKEDIN_URL",
                "displayName": "LINKEDIN_URL",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "EXECUTION_ID",
                "displayName": "EXECUTION_ID",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "row_number",
                "displayName": "row_number",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": true,
                "readOnly": true,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.6,
        "position": [
          400,
          -656
        ],
        "id": "4ed38509-c5d5-422e-8db6-09d45fc3b501",
        "name": "update_status_in_progress",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "pGARJmt50qz64xOo",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "content": "## Link to the [Google Sheet](https://docs.google.com/spreadsheets/d/1HdJsvIaWuWu8_dDtoU-lql3ZLgbFMAe0xZ4AnYnMgPI)",
          "height": 376,
          "width": 852
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          160,
          -1152
        ],
        "id": "11711e47-453b-4f4a-969a-7896254f9437",
        "name": "Sticky Note",
        "disabled": true
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.manualTrigger",
        "typeVersion": 1,
        "position": [
          -272,
          -560
        ],
        "id": "903bdc99-3f96-4b57-bc92-d97cadc95bdd",
        "name": "click_trigger"
      },
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "cronExpression",
                "expression": "0 0 13 * * 1,4"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.2,
        "position": [
          -272,
          -752
        ],
        "id": "5256f53f-2ec9-4c79-a19f-77b779eedf2f",
        "name": "schedule_trigger"
      },
      {
        "parameters": {
          "operation": "update",
          "documentId": {
            "__rl": true,
            "value": "1HdJsvIaWuWu8_dDtoU-lql3ZLgbFMAe0xZ4AnYnMgPI",
            "mode": "list",
            "cachedResultName": "content_planner",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1HdJsvIaWuWu8_dDtoU-lql3ZLgbFMAe0xZ4AnYnMgPI/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": "gid=0",
            "mode": "list",
            "cachedResultName": "articles_2_linkedin",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1HdJsvIaWuWu8_dDtoU-lql3ZLgbFMAe0xZ4AnYnMgPI/edit#gid=0"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "UPDATE_DATE": "={{ (new Date()).toISOString() }}",
              "STATUS": "ERROR",
              "row_number": "={{ $('select_article_to_post').item.json.row_number }}"
            },
            "matchingColumns": [
              "row_number"
            ],
            "schema": [
              {
                "id": "URL",
                "displayName": "URL",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "STATUS",
                "displayName": "STATUS",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "PRIORITY",
                "displayName": "PRIORITY",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "UPDATE_DATE",
                "displayName": "UPDATE_DATE",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "RELEASE_DATE",
                "displayName": "RELEASE_DATE",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "EXTRA_PROMPT",
                "displayName": "EXTRA_PROMPT",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "LINKEDIN_URL",
                "displayName": "LINKEDIN_URL",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "row_number",
                "displayName": "row_number",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "readOnly": true,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.6,
        "position": [
          2416,
          -992
        ],
        "id": "70c09205-a039-4014-9d5e-4004a0a5fdc7",
        "name": "update_status_error",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "pGARJmt50qz64xOo",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "6a77a0ee-e904-467b-9f9f-e04aa3ddf203",
                "name": "ERROR",
                "value": "ERROR",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          2640,
          -992
        ],
        "id": "adc0cfdc-bbd9-47a7-bc8f-a33cd38830f5",
        "name": "set_error_error"
      },
      {
        "parameters": {
          "person": "ZK1zEXWkav",
          "text": "={{ $('execute_post_creator').item.json.text }}",
          "shareMediaCategory": "IMAGE",
          "binaryPropertyName": "={{ $('convert_image').item.binary.data }}",
          "additionalFields": {
            "visibility": "PUBLIC"
          }
        },
        "type": "n8n-nodes-base.linkedIn",
        "typeVersion": 1,
        "position": [
          3312,
          -656
        ],
        "id": "2d14d780-2f81-478f-9d1e-f732732888f1",
        "name": "send_2_linkedin_omImage",
        "credentials": {
          "linkedInOAuth2Api": {
            "id": "dNaa8BbpK1D8IDZZ",
            "name": "LinkedIn account"
          }
        }
      },
      {
        "parameters": {
          "select": "channel",
          "channelId": {
            "__rl": true,
            "value": "C08RQNXQV3P",
            "mode": "list",
            "cachedResultName": "workflows"
          },
          "text": "=Published Post ({{ $('select_article_to_post').item.json.URL }}) in LinkedIn (https://www.linkedin.com/feed/update/{{ $('send_2_linkedin_omImage').item.json.urn }})!",
          "otherOptions": {
            "includeLinkToWorkflow": true
          }
        },
        "type": "n8n-nodes-base.slack",
        "typeVersion": 2.3,
        "position": [
          3536,
          -656
        ],
        "id": "de31b4ab-fe9a-49e5-9619-4ca687364347",
        "name": "send_published_notification_a",
        "webhookId": "faa5f272-06d5-4d4d-ad75-e17f49c6fbc8",
        "credentials": {
          "slackApi": {
            "id": "DszMmPE7WwOjHQjz",
            "name": "Slack account"
          }
        }
      },
      {
        "parameters": {
          "operation": "update",
          "documentId": {
            "__rl": true,
            "value": "1HdJsvIaWuWu8_dDtoU-lql3ZLgbFMAe0xZ4AnYnMgPI",
            "mode": "list",
            "cachedResultName": "content_planner",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1HdJsvIaWuWu8_dDtoU-lql3ZLgbFMAe0xZ4AnYnMgPI/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": "gid=0",
            "mode": "list",
            "cachedResultName": "articles_2_linkedin",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1HdJsvIaWuWu8_dDtoU-lql3ZLgbFMAe0xZ4AnYnMgPI/edit#gid=0"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "RELEASE_DATE": "={{ (new Date()).toISOString() }}",
              "UPDATE_DATE": "={{ (new Date()).toISOString() }}",
              "STATUS": "PUBLISHED",
              "row_number": "={{ $('select_article_to_post').item.json.row_number }}",
              "LINKEDIN_URL": "=https://www.linkedin.com/feed/update/{{ $('send_2_linkedin_omImage').item.json.urn }}"
            },
            "matchingColumns": [
              "row_number"
            ],
            "schema": [
              {
                "id": "URL",
                "displayName": "URL",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "STATUS",
                "displayName": "STATUS",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "PRIORITY",
                "displayName": "PRIORITY",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "UPDATE_DATE",
                "displayName": "UPDATE_DATE",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "RELEASE_DATE",
                "displayName": "RELEASE_DATE",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "EXTRA_PROMPT",
                "displayName": "EXTRA_PROMPT",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "LINKEDIN_URL",
                "displayName": "LINKEDIN_URL",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "row_number",
                "displayName": "row_number",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "readOnly": true,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.6,
        "position": [
          3760,
          -656
        ],
        "id": "baa3ae57-ffd0-4131-99ae-6ebfe6fdcfbb",
        "name": "update_status_published_a",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "pGARJmt50qz64xOo",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.ERROR || \"\" }}",
                      "rightValue": "",
                      "operator": {
                        "type": "string",
                        "operation": "empty",
                        "singleValue": true
                      },
                      "id": "fc19486a-369f-4500-9f0c-d803d0e28a33"
                    }
                  ],
                  "combinator": "and"
                }
              }
            ]
          },
          "options": {
            "fallbackOutput": "extra"
          }
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.2,
        "position": [
          2192,
          -608
        ],
        "id": "92697ed0-a9a3-4c53-8f2c-e2f5f8fb7ffa",
        "name": "check_subworkflow_error_image"
      },
      {
        "parameters": {
          "operation": "sendAndWait",
          "select": "channel",
          "channelId": {
            "__rl": true,
            "value": "C08RQNXQV3P",
            "mode": "list",
            "cachedResultName": "workflows"
          },
          "message": "=Waiting for final approval of the image for a LinkedIn Post...\n\n## IMAGE PROMPT USED ##\n{{ $('execute_image_creator').item.json.prompt || \"NONE\" }}",
          "approvalOptions": {
            "values": {
              "approvalType": "double"
            }
          },
          "options": {
            "appendAttribution": true
          }
        },
        "type": "n8n-nodes-base.slack",
        "typeVersion": 2.3,
        "position": [
          2864,
          -560
        ],
        "id": "deafe59b-fe97-44f3-b4b4-f00ca90a4ac4",
        "name": "notification_accept_image",
        "webhookId": "000ae367-e34e-4ae3-97e2-8a35dd30487e",
        "credentials": {
          "slackApi": {
            "id": "DszMmPE7WwOjHQjz",
            "name": "Slack account"
          }
        }
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.data.approved }}",
                      "rightValue": "true",
                      "operator": {
                        "type": "boolean",
                        "operation": "true",
                        "singleValue": true
                      },
                      "id": "1ff89881-6b63-4c71-b452-518d97a6e351"
                    }
                  ],
                  "combinator": "and"
                }
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "ff5900ad-ed83-4755-a621-d0a21c4cbc39",
                      "leftValue": "={{ $json.data.approved }}",
                      "rightValue": "RETRY",
                      "operator": {
                        "type": "boolean",
                        "operation": "false",
                        "singleValue": true
                      }
                    }
                  ],
                  "combinator": "and"
                }
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.2,
        "position": [
          3088,
          -560
        ],
        "id": "85fdffa9-6013-4ef7-a387-9ec73981c661",
        "name": "switch_user_accept_image"
      },
      {
        "parameters": {
          "operation": "sendAndWait",
          "select": "channel",
          "channelId": {
            "__rl": true,
            "value": "C08RQNXQV3P",
            "mode": "list",
            "cachedResultName": "workflows"
          },
          "message": "=Do You want to Retry or Cancel the image for URL {{ $('select_article_to_post').item.json.URL }}\"?",
          "approvalOptions": {
            "values": {
              "approvalType": "double",
              "approveLabel": "Retry",
              "disapproveLabel": "Cancel"
            }
          },
          "options": {
            "appendAttribution": true
          }
        },
        "type": "n8n-nodes-base.slack",
        "typeVersion": 2.3,
        "position": [
          3312,
          -464
        ],
        "id": "07d3f5fc-2ba9-457d-94e8-623f516f014d",
        "name": "notification_retry_or_cancel_image",
        "webhookId": "000ae367-e34e-4ae3-97e2-8a35dd30487e",
        "credentials": {
          "slackApi": {
            "id": "DszMmPE7WwOjHQjz",
            "name": "Slack account"
          }
        }
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "a9tFFs8qkRu8taC2",
            "mode": "list",
            "cachedResultUrl": "/workflow/a9tFFs8qkRu8taC2",
            "cachedResultName": "LinkedIn Image Creator"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "POST_CONTENT": "={{ $('execute_post_creator').item.json.text }}"
            },
            "matchingColumns": [
              "POST_CONTENT"
            ],
            "schema": [
              {
                "id": "POST_CONTENT",
                "displayName": "POST_CONTENT",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          1968,
          -528
        ],
        "id": "4fa85ba4-929c-4ba1-a3c1-ead9ae6fc9f8",
        "name": "execute_image_creator"
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.data.approved }}",
                      "rightValue": "true",
                      "operator": {
                        "type": "boolean",
                        "operation": "true",
                        "singleValue": true
                      },
                      "id": "1ff89881-6b63-4c71-b452-518d97a6e351"
                    }
                  ],
                  "combinator": "and"
                }
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "ff5900ad-ed83-4755-a621-d0a21c4cbc39",
                      "leftValue": "={{ $json.data.approved }}",
                      "rightValue": "RETRY",
                      "operator": {
                        "type": "boolean",
                        "operation": "false",
                        "singleValue": true
                      }
                    }
                  ],
                  "combinator": "and"
                }
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.2,
        "position": [
          3536,
          -384
        ],
        "id": "0b0245c0-8703-410a-aadf-9a4b628d8c05",
        "name": "switch_user_retry_image"
      },
      {
        "parameters": {
          "resource": "file",
          "binaryPropertyName": "={{ $('convert_image').item.binary.data }}",
          "options": {
            "channelId": "C08RQNXQV3P"
          }
        },
        "type": "n8n-nodes-base.slack",
        "typeVersion": 2.3,
        "position": [
          2640,
          -560
        ],
        "id": "a4ef2f7e-7857-4a51-9134-fe7d1086b30d",
        "name": "notification_sent_image",
        "webhookId": "000ae367-e34e-4ae3-97e2-8a35dd30487e",
        "credentials": {
          "slackApi": {
            "id": "DszMmPE7WwOjHQjz",
            "name": "Slack account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const data = JSON.parse($input.first().json[\"omImage \"]);\nconst base64Data = data.url.split(',')[1];\nconst buffer = Buffer.from(base64Data, 'base64');\n\nreturn  [{\n  json: {},\n  binary: {\n    data: {\n      mimeType: 'image/png',\n      fileName: 'ai_image.png',\n      fileExtension: 'png',\n      data: buffer,\n    }\n  }\n}];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2416,
          -560
        ],
        "id": "fd416f3c-3abf-465a-b0d1-57a2102a7d50",
        "name": "convert_image"
      }
    ],
    "connections": {
      "switch_user_accept": {
        "main": [
          [
            {
              "node": "execute_image_creator",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "notification_retry_or_cancel",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "set_error_cancelled": {
        "main": [
          [
            {
              "node": "send_error_notification",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "download_content": {
        "main": [
          [
            {
              "node": "execute_post_creator",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "check_subworkflow_error": {
        "main": [
          [
            {
              "node": "update_status_waiting_approval",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "update_status_error",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "execute_post_creator": {
        "main": [
          [
            {
              "node": "check_subworkflow_error",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "read_articles_sheet": {
        "main": [
          [
            {
              "node": "select_article_to_post",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "select_article_to_post": {
        "main": [
          [
            {
              "node": "update_status_in_progress",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "switch_user_retry": {
        "main": [
          [
            {
              "node": "execute_post_creator",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "update_status_cancelled",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "notification_retry_or_cancel": {
        "main": [
          [
            {
              "node": "switch_user_retry",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "notification_accept": {
        "main": [
          [
            {
              "node": "switch_user_accept",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "update_status_waiting_approval": {
        "main": [
          [
            {
              "node": "notification_accept",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "update_status_in_progress": {
        "main": [
          [
            {
              "node": "download_content",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "update_status_cancelled": {
        "main": [
          [
            {
              "node": "set_error_cancelled",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "click_trigger": {
        "main": [
          [
            {
              "node": "read_articles_sheet",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "schedule_trigger": {
        "main": [
          [
            {
              "node": "read_articles_sheet",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "update_status_error": {
        "main": [
          [
            {
              "node": "set_error_error",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "set_error_error": {
        "main": [
          [
            {
              "node": "send_error_notification",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "send_2_linkedin_omImage": {
        "main": [
          [
            {
              "node": "send_published_notification_a",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "send_published_notification_a": {
        "main": [
          [
            {
              "node": "update_status_published_a",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "check_subworkflow_error_image": {
        "main": [
          [
            {
              "node": "convert_image",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "update_status_error",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "notification_accept_image": {
        "main": [
          [
            {
              "node": "switch_user_accept_image",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "switch_user_accept_image": {
        "main": [
          [
            {
              "node": "send_2_linkedin_omImage",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "notification_retry_or_cancel_image",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "notification_retry_or_cancel_image": {
        "main": [
          [
            {
              "node": "switch_user_retry_image",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "execute_image_creator": {
        "main": [
          [
            {
              "node": "check_subworkflow_error_image",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "switch_user_retry_image": {
        "main": [
          [
            {
              "node": "execute_image_creator",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "notification_sent_image": {
        "main": [
          [
            {
              "node": "notification_accept_image",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "convert_image": {
        "main": [
          [
            {
              "node": "notification_sent_image",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "nodeGroups": [],
    "authors": "no name",
    "name": "Version fcae9d48",
    "description": "",
    "autosaved": false
  },
  "activeVersionId": "fcae9d48-edbf-430e-bdf9-7f3b86ea7f4f",
  "connections": {
    "switch_user_accept": {
      "main": [
        [
          {
            "node": "execute_image_creator",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "notification_retry_or_cancel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "set_error_cancelled": {
      "main": [
        [
          {
            "node": "send_error_notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "download_content": {
      "main": [
        [
          {
            "node": "execute_post_creator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "check_subworkflow_error": {
      "main": [
        [
          {
            "node": "update_status_waiting_approval",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "update_status_error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "execute_post_creator": {
      "main": [
        [
          {
            "node": "check_subworkflow_error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "read_articles_sheet": {
      "main": [
        [
          {
            "node": "select_article_to_post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "select_article_to_post": {
      "main": [
        [
          {
            "node": "update_status_in_progress",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "switch_user_retry": {
      "main": [
        [
          {
            "node": "execute_post_creator",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "update_status_cancelled",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "notification_retry_or_cancel": {
      "main": [
        [
          {
            "node": "switch_user_retry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "notification_accept": {
      "main": [
        [
          {
            "node": "switch_user_accept",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update_status_waiting_approval": {
      "main": [
        [
          {
            "node": "notification_accept",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update_status_in_progress": {
      "main": [
        [
          {
            "node": "download_content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update_status_cancelled": {
      "main": [
        [
          {
            "node": "set_error_cancelled",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "click_trigger": {
      "main": [
        [
          {
            "node": "read_articles_sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "schedule_trigger": {
      "main": [
        [
          {
            "node": "read_articles_sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update_status_error": {
      "main": [
        [
          {
            "node": "set_error_error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "set_error_error": {
      "main": [
        [
          {
            "node": "send_error_notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "send_2_linkedin_omImage": {
      "main": [
        [
          {
            "node": "send_published_notification_a",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "send_published_notification_a": {
      "main": [
        [
          {
            "node": "update_status_published_a",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "check_subworkflow_error_image": {
      "main": [
        [
          {
            "node": "convert_image",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "update_status_error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "notification_accept_image": {
      "main": [
        [
          {
            "node": "switch_user_accept_image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "switch_user_accept_image": {
      "main": [
        [
          {
            "node": "send_2_linkedin_omImage",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "notification_retry_or_cancel_image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "notification_retry_or_cancel_image": {
      "main": [
        [
          {
            "node": "switch_user_retry_image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "execute_image_creator": {
      "main": [
        [
          {
            "node": "check_subworkflow_error_image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "switch_user_retry_image": {
      "main": [
        [
          {
            "node": "execute_image_creator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "notification_sent_image": {
      "main": [
        [
          {
            "node": "notification_accept_image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "convert_image": {
      "main": [
        [
          {
            "node": "notification_sent_image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-05-26T15:30:12.395Z",
  "id": "oxARWWyxenKgmv6A",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "LinkedIn Post Sharing",
  "nodeGroups": [],
  "nodes": [
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.data.approved }}",
                    "rightValue": "true",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "id": "1ff89881-6b63-4c71-b452-518d97a6e351"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "ff5900ad-ed83-4755-a621-d0a21c4cbc39",
                    "leftValue": "={{ $json.data.approved }}",
                    "rightValue": "RETRY",
                    "operator": {
                      "type": "boolean",
                      "operation": "false",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1744,
        -624
      ],
      "id": "dab2b53b-5d45-4c07-9e96-f6fc728bc01a",
      "name": "switch_user_accept"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6a77a0ee-e904-467b-9f9f-e04aa3ddf203",
              "name": "ERROR",
              "value": "CANCELLED",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2640,
        -800
      ],
      "id": "5ff8c36c-9749-4b1b-948a-49f92c466c23",
      "name": "set_error_cancelled"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "qUfjfWLGEjV96ljf",
          "mode": "list",
          "cachedResultUrl": "/workflow/qUfjfWLGEjV96ljf",
          "cachedResultName": "Download Content"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "URL": "={{ $('select_article_to_post').item.json.URL }}"
          },
          "matchingColumns": [
            "URL"
          ],
          "schema": [
            {
              "id": "URL",
              "displayName": "URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        624,
        -656
      ],
      "id": "2834f481-703a-4f9c-af24-47235959363c",
      "name": "download_content"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.ERROR || \"\" }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "empty",
                      "singleValue": true
                    },
                    "id": "fc19486a-369f-4500-9f0c-d803d0e28a33"
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1072,
        -720
      ],
      "id": "1bf7bafc-c4bf-45a9-a050-c1c0624e03fb",
      "name": "check_subworkflow_error"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "PaeHFdCsdoVbQx11",
          "mode": "list",
          "cachedResultUrl": "/workflow/PaeHFdCsdoVbQx11",
          "cachedResultName": "LinkedIn Post Creator"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "MAX_WORDS": "={{ $('select_article_to_post').item.json.MAX_WORDS || 300 }}",
            "URL": "={{ $('select_article_to_post').item.json.URL }}",
            "EXTRA_RULES": "={{ $('select_article_to_post').item.json.EXTRA_RULES }}",
            "CONTENT": "={{ $('download_content').item.json.contentMkdown }}",
            "ENABLE_CHECK": true
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "EXTRA_RULES",
              "displayName": "EXTRA_RULES",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "CONTENT",
              "displayName": "CONTENT",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "URL",
              "displayName": "URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "MAX_WORDS",
              "displayName": "MAX_WORDS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number"
            },
            {
              "id": "ENABLE_CHECK",
              "displayName": "ENABLE_CHECK",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "boolean",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        848,
        -656
      ],
      "id": "fb59d2c6-3a2a-432d-9e82-d255d6e4bcd9",
      "name": "execute_post_creator",
      "notesInFlow": false
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1HdJsvIaWuWu8_dDtoU-lql3ZLgbFMAe0xZ4AnYnMgPI",
          "mode": "list",
          "cachedResultName": "content_planner",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1HdJsvIaWuWu8_dDtoU-lql3ZLgbFMAe0xZ4AnYnMgPI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "articles_2_linkedin",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1HdJsvIaWuWu8_dDtoU-lql3ZLgbFMAe0xZ4AnYnMgPI/edit#gid=0"
        },
        "options": {
          "dataLocationOnSheet": {
            "values": {
              "rangeDefinition": "detectAutomatically",
              "readRowsUntil": "firstEmptyRow"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -48,
        -656
      ],
      "id": "ca44dc64-da53-4e5d-ab23-9b6702fbf10e",
      "name": "read_articles_sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "pGARJmt50qz64xOo",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const priorityOrder = {\n  VERY_HIGH: 0,\n  HIGH: 1,\n  MEDIUM: 2,\n  LOW: 3\n};\nconst filteredEntries = $input.all().map(item=>item.json).filter(item => item.URL && /^(QUEUE)$/.test(item.STATUS)).toSorted((a, b) => {\n  const aPriority = priorityOrder[a.PRIORITY] ?? 4;\n  const bPriority = priorityOrder[b.PRIORITY] ?? 4;\n\n  if (aPriority !== bPriority) {\n    return aPriority - bPriority; // sort by priority\n  }\n\n  return a.row_number - b.row_number; // sort by row_number ascending\n});\n\n//console.log(filteredEntries.slice(0))\n\nreturn filteredEntries.slice(0, 1);"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        176,
        -656
      ],
      "id": "42f684c2-9691-4bad-90cd-9fa7068e53b2",
      "name": "select_article_to_post"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C08RQNXQV3P",
          "mode": "list",
          "cachedResultName": "workflows"
        },
        "text": "=Error Publishing Post ({{ $execution.url }}) in LinkedIn: {{ $json.ERROR }}",
        "otherOptions": {
          "includeLinkToWorkflow": true
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        2864,
        -896
      ],
      "id": "877b1dba-6480-46fa-bd79-5aad974cc880",
      "name": "send_error_notification",
      "webhookId": "faa5f272-06d5-4d4d-ad75-e17f49c6fbc8",
      "credentials": {
        "slackApi": {
          "id": "DszMmPE7WwOjHQjz",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.data.approved }}",
                    "rightValue": "true",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "id": "1ff89881-6b63-4c71-b452-518d97a6e351"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "ff5900ad-ed83-4755-a621-d0a21c4cbc39",
                    "leftValue": "={{ $json.data.approved }}",
                    "rightValue": "RETRY",
                    "operator": {
                      "type": "boolean",
                      "operation": "false",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        2192,
        -800
      ],
      "id": "7a35b33b-c475-4b7b-99eb-fad9374dd740",
      "name": "switch_user_retry"
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C08RQNXQV3P",
          "mode": "list",
          "cachedResultName": "workflows"
        },
        "message": "=Do You want to Retry or Cancel the post for URL {{ $('select_article_to_post').item.json.URL }}\"?",
        "approvalOptions": {
          "values": {
            "approvalType": "double",
            "approveLabel": "Retry",
            "disapproveLabel": "Cancel"
          }
        },
        "options": {
          "appendAttribution": true
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        1968,
        -800
      ],
      "id": "1ab6a69f-784e-44e7-be8e-776ef8fbf1a0",
      "name": "notification_retry_or_cancel",
      "webhookId": "000ae367-e34e-4ae3-97e2-8a35dd30487e",
      "credentials": {
        "slackApi": {
          "id": "DszMmPE7WwOjHQjz",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C08RQNXQV3P",
          "mode": "list",
          "cachedResultName": "workflows"
        },
        "message": "=Waiting for your approval the text  for a LinkedIn Post...\n\nURL: {{ $('select_article_to_post').item.json.URL }}\n\n## POST ##\n{{ $('execute_post_creator').item.json.text }}",
        "approvalOptions": {
          "values": {
            "approvalType": "double"
          }
        },
        "options": {
          "appendAttribution": true
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        1520,
        -624
      ],
      "id": "e8ab2146-d27a-4afb-8a49-788eb4b163f2",
      "name": "notification_accept",
      "webhookId": "000ae367-e34e-4ae3-97e2-8a35dd30487e",
      "credentials": {
        "slackApi": {
          "id": "DszMmPE7WwOjHQjz",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1HdJsvIaWuWu8_dDtoU-lql3ZLgbFMAe0xZ4AnYnMgPI",
          "mode": "list",
          "cachedResultName": "content_planner",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1HdJsvIaWuWu8_dDtoU-lql3ZLgbFMAe0xZ4AnYnMgPI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "articles_2_linkedin",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1HdJsvIaWuWu8_dDtoU-lql3ZLgbFMAe0xZ4AnYnMgPI/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "UPDATE_DATE": "={{ (new Date()).toISOString() }}",
            "STATUS": "WAITING_APPROVAL",
            "row_number": "={{ $('select_article_to_post').item.json.row_number }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "URL",
              "displayName": "URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "STATUS",
              "displayName": "STATUS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "PRIORITY",
              "displayName": "PRIORITY",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "UPDATE_DATE",
              "displayName": "UPDATE_DATE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "RELEASE_DATE",
              "displayName": "RELEASE_DATE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "EXTRA_PROMPT",
              "displayName": "EXTRA_PROMPT",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "LINKEDIN_URL",
              "displayName": "LINKEDIN_URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        1296,
        -624
      ],
      "id": "2c7bac05-6d9f-4e89-970c-0f306ddc1814",
      "name": "update_status_waiting_approval",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "pGARJmt50qz64xOo",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1HdJsvIaWuWu8_dDtoU-lql3ZLgbFMAe0xZ4AnYnMgPI",
          "mode": "list",
          "cachedResultName": "content_planner",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1HdJsvIaWuWu8_dDtoU-lql3ZLgbFMAe0xZ4AnYnMgPI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "articles_2_linkedin",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1HdJsvIaWuWu8_dDtoU-lql3ZLgbFMAe0xZ4AnYnMgPI/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "UPDATE_DATE": "={{ (new Date()).toISOString() }}",
            "STATUS": "CANCELED",
            "row_number": "={{ $('select_article_to_post').item.json.row_number }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "URL",
              "displayName": "URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "STATUS",
              "displayName": "STATUS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "PRIORITY",
              "displayName": "PRIORITY",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "UPDATE_DATE",
              "displayName": "UPDATE_DATE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "RELEASE_DATE",
              "displayName": "RELEASE_DATE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "EXTRA_PROMPT",
              "displayName": "EXTRA_PROMPT",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "LINKEDIN_URL",
              "displayName": "LINKEDIN_URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        2416,
        -800
      ],
      "id": "6da06054-47c0-4ea7-8eb6-a6e8229a408a",
      "name": "update_status_cancelled",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "pGARJmt50qz64xOo",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1HdJsvIaWuWu8_dDtoU-lql3ZLgbFMAe0xZ4AnYnMgPI",
          "mode": "list",
          "cachedResultName": "content_planner",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1HdJsvIaWuWu8_dDtoU-lql3ZLgbFMAe0xZ4AnYnMgPI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "articles_2_linkedin",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1HdJsvIaWuWu8_dDtoU-lql3ZLgbFMAe0xZ4AnYnMgPI/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "UPDATE_DATE": "={{ (new Date()).toISOString() }}",
            "STATUS": "IN_PROGRESS",
            "row_number": "={{ $json.row_number }}",
            "EXECUTION_ID": "={{ $execution.id }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "URL",
              "displayName": "URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "STATUS",
              "displayName": "STATUS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "PRIORITY",
              "displayName": "PRIORITY",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "UPDATE_DATE",
              "displayName": "UPDATE_DATE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "RELEASE_DATE",
              "displayName": "RELEASE_DATE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "EXTRA_RULES",
              "displayName": "EXTRA_RULES",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "LINKEDIN_URL",
              "displayName": "LINKEDIN_URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "EXECUTION_ID",
              "displayName": "EXECUTION_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        400,
        -656
      ],
      "id": "4ed38509-c5d5-422e-8db6-09d45fc3b501",
      "name": "update_status_in_progress",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "pGARJmt50qz64xOo",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Link to the [Google Sheet](https://docs.google.com/spreadsheets/d/1HdJsvIaWuWu8_dDtoU-lql3ZLgbFMAe0xZ4AnYnMgPI)",
        "height": 376,
        "width": 852
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        160,
        -1152
      ],
      "id": "11711e47-453b-4f4a-969a-7896254f9437",
      "name": "Sticky Note",
      "disabled": true
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -272,
        -560
      ],
      "id": "903bdc99-3f96-4b57-bc92-d97cadc95bdd",
      "name": "click_trigger"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 0 13 * * 1,4"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -272,
        -752
      ],
      "id": "5256f53f-2ec9-4c79-a19f-77b779eedf2f",
      "name": "schedule_trigger"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1HdJsvIaWuWu8_dDtoU-lql3ZLgbFMAe0xZ4AnYnMgPI",
          "mode": "list",
          "cachedResultName": "content_planner",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1HdJsvIaWuWu8_dDtoU-lql3ZLgbFMAe0xZ4AnYnMgPI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "articles_2_linkedin",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1HdJsvIaWuWu8_dDtoU-lql3ZLgbFMAe0xZ4AnYnMgPI/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "UPDATE_DATE": "={{ (new Date()).toISOString() }}",
            "STATUS": "ERROR",
            "row_number": "={{ $('select_article_to_post').item.json.row_number }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "URL",
              "displayName": "URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "STATUS",
              "displayName": "STATUS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "PRIORITY",
              "displayName": "PRIORITY",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "UPDATE_DATE",
              "displayName": "UPDATE_DATE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "RELEASE_DATE",
              "displayName": "RELEASE_DATE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "EXTRA_PROMPT",
              "displayName": "EXTRA_PROMPT",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "LINKEDIN_URL",
              "displayName": "LINKEDIN_URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        2416,
        -992
      ],
      "id": "70c09205-a039-4014-9d5e-4004a0a5fdc7",
      "name": "update_status_error",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "pGARJmt50qz64xOo",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6a77a0ee-e904-467b-9f9f-e04aa3ddf203",
              "name": "ERROR",
              "value": "ERROR",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2640,
        -992
      ],
      "id": "adc0cfdc-bbd9-47a7-bc8f-a33cd38830f5",
      "name": "set_error_error"
    },
    {
      "parameters": {
        "person": "ZK1zEXWkav",
        "text": "={{ $('execute_post_creator').item.json.text }}",
        "shareMediaCategory": "IMAGE",
        "binaryPropertyName": "={{ $('convert_image').item.binary.data }}",
        "additionalFields": {
          "visibility": "PUBLIC"
        }
      },
      "type": "n8n-nodes-base.linkedIn",
      "typeVersion": 1,
      "position": [
        3312,
        -656
      ],
      "id": "2d14d780-2f81-478f-9d1e-f732732888f1",
      "name": "send_2_linkedin_omImage",
      "credentials": {
        "linkedInOAuth2Api": {
          "id": "dNaa8BbpK1D8IDZZ",
          "name": "LinkedIn account"
        }
      }
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C08RQNXQV3P",
          "mode": "list",
          "cachedResultName": "workflows"
        },
        "text": "=Published Post ({{ $('select_article_to_post').item.json.URL }}) in LinkedIn (https://www.linkedin.com/feed/update/{{ $('send_2_linkedin_omImage').item.json.urn }})!",
        "otherOptions": {
          "includeLinkToWorkflow": true
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        3536,
        -656
      ],
      "id": "de31b4ab-fe9a-49e5-9619-4ca687364347",
      "name": "send_published_notification_a",
      "webhookId": "faa5f272-06d5-4d4d-ad75-e17f49c6fbc8",
      "credentials": {
        "slackApi": {
          "id": "DszMmPE7WwOjHQjz",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1HdJsvIaWuWu8_dDtoU-lql3ZLgbFMAe0xZ4AnYnMgPI",
          "mode": "list",
          "cachedResultName": "content_planner",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1HdJsvIaWuWu8_dDtoU-lql3ZLgbFMAe0xZ4AnYnMgPI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "articles_2_linkedin",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1HdJsvIaWuWu8_dDtoU-lql3ZLgbFMAe0xZ4AnYnMgPI/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "RELEASE_DATE": "={{ (new Date()).toISOString() }}",
            "UPDATE_DATE": "={{ (new Date()).toISOString() }}",
            "STATUS": "PUBLISHED",
            "row_number": "={{ $('select_article_to_post').item.json.row_number }}",
            "LINKEDIN_URL": "=https://www.linkedin.com/feed/update/{{ $('send_2_linkedin_omImage').item.json.urn }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "URL",
              "displayName": "URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "STATUS",
              "displayName": "STATUS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "PRIORITY",
              "displayName": "PRIORITY",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "UPDATE_DATE",
              "displayName": "UPDATE_DATE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "RELEASE_DATE",
              "displayName": "RELEASE_DATE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "EXTRA_PROMPT",
              "displayName": "EXTRA_PROMPT",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "LINKEDIN_URL",
              "displayName": "LINKEDIN_URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        3760,
        -656
      ],
      "id": "baa3ae57-ffd0-4131-99ae-6ebfe6fdcfbb",
      "name": "update_status_published_a",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "pGARJmt50qz64xOo",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.ERROR || \"\" }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "empty",
                      "singleValue": true
                    },
                    "id": "fc19486a-369f-4500-9f0c-d803d0e28a33"
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        2192,
        -608
      ],
      "id": "92697ed0-a9a3-4c53-8f2c-e2f5f8fb7ffa",
      "name": "check_subworkflow_error_image"
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C08RQNXQV3P",
          "mode": "list",
          "cachedResultName": "workflows"
        },
        "message": "=Waiting for final approval of the image for a LinkedIn Post...\n\n## IMAGE PROMPT USED ##\n{{ $('execute_image_creator').item.json.prompt || \"NONE\" }}",
        "approvalOptions": {
          "values": {
            "approvalType": "double"
          }
        },
        "options": {
          "appendAttribution": true
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        2864,
        -560
      ],
      "id": "deafe59b-fe97-44f3-b4b4-f00ca90a4ac4",
      "name": "notification_accept_image",
      "webhookId": "000ae367-e34e-4ae3-97e2-8a35dd30487e",
      "credentials": {
        "slackApi": {
          "id": "DszMmPE7WwOjHQjz",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.data.approved }}",
                    "rightValue": "true",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "id": "1ff89881-6b63-4c71-b452-518d97a6e351"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "ff5900ad-ed83-4755-a621-d0a21c4cbc39",
                    "leftValue": "={{ $json.data.approved }}",
                    "rightValue": "RETRY",
                    "operator": {
                      "type": "boolean",
                      "operation": "false",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        3088,
        -560
      ],
      "id": "85fdffa9-6013-4ef7-a387-9ec73981c661",
      "name": "switch_user_accept_image"
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C08RQNXQV3P",
          "mode": "list",
          "cachedResultName": "workflows"
        },
        "message": "=Do You want to Retry or Cancel the image for URL {{ $('select_article_to_post').item.json.URL }}\"?",
        "approvalOptions": {
          "values": {
            "approvalType": "double",
            "approveLabel": "Retry",
            "disapproveLabel": "Cancel"
          }
        },
        "options": {
          "appendAttribution": true
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        3312,
        -464
      ],
      "id": "07d3f5fc-2ba9-457d-94e8-623f516f014d",
      "name": "notification_retry_or_cancel_image",
      "webhookId": "000ae367-e34e-4ae3-97e2-8a35dd30487e",
      "credentials": {
        "slackApi": {
          "id": "DszMmPE7WwOjHQjz",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "a9tFFs8qkRu8taC2",
          "mode": "list",
          "cachedResultUrl": "/workflow/a9tFFs8qkRu8taC2",
          "cachedResultName": "LinkedIn Image Creator"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "POST_CONTENT": "={{ $('execute_post_creator').item.json.text }}"
          },
          "matchingColumns": [
            "POST_CONTENT"
          ],
          "schema": [
            {
              "id": "POST_CONTENT",
              "displayName": "POST_CONTENT",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1968,
        -528
      ],
      "id": "4fa85ba4-929c-4ba1-a3c1-ead9ae6fc9f8",
      "name": "execute_image_creator"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.data.approved }}",
                    "rightValue": "true",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "id": "1ff89881-6b63-4c71-b452-518d97a6e351"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "ff5900ad-ed83-4755-a621-d0a21c4cbc39",
                    "leftValue": "={{ $json.data.approved }}",
                    "rightValue": "RETRY",
                    "operator": {
                      "type": "boolean",
                      "operation": "false",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        3536,
        -384
      ],
      "id": "0b0245c0-8703-410a-aadf-9a4b628d8c05",
      "name": "switch_user_retry_image"
    },
    {
      "parameters": {
        "resource": "file",
        "binaryPropertyName": "={{ $('convert_image').item.binary.data }}",
        "options": {
          "channelId": "C08RQNXQV3P"
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        2640,
        -560
      ],
      "id": "a4ef2f7e-7857-4a51-9134-fe7d1086b30d",
      "name": "notification_sent_image",
      "webhookId": "000ae367-e34e-4ae3-97e2-8a35dd30487e",
      "credentials": {
        "slackApi": {
          "id": "DszMmPE7WwOjHQjz",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const data = JSON.parse($input.first().json[\"omImage \"]);\nconst base64Data = data.url.split(',')[1];\nconst buffer = Buffer.from(base64Data, 'base64');\n\nreturn  [{\n  json: {},\n  binary: {\n    data: {\n      mimeType: 'image/png',\n      fileName: 'ai_image.png',\n      fileExtension: 'png',\n      data: buffer,\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2416,
        -560
      ],
      "id": "fd416f3c-3abf-465a-b0d1-57a2102a7d50",
      "name": "convert_image"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "executionTimeout": 3600,
    "errorWorkflow": "yOLSrRQsp4rv1Wjv",
    "timeSavedMode": "fixed",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "shared": [
    {
      "updatedAt": "2025-05-26T15:30:12.395Z",
      "createdAt": "2025-05-26T15:30:12.395Z",
      "role": "workflow:owner",
      "workflowId": "oxARWWyxenKgmv6A",
      "projectId": "zcGU09G6dy4Oah3l"
    }
  ],
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    },
    "node:schedule_trigger": {
      "recurrenceRules": [
        null
      ],
      "recurrenceRuleSignatures": [
        null
      ]
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-07-08T20:14:49.381Z",
  "versionId": "fcae9d48-edbf-430e-bdf9-7f3b86ea7f4f"
}