n8n/workflows/linked_in_post_creator.workflow.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-07-14T20:44:07.854Z",
    "createdAt": "2026-07-14T20:44:03.162Z",
    "versionId": "c9f333c2-6ed7-476e-977d-4e4720ce2ae4",
    "workflowId": "PaeHFdCsdoVbQx11",
    "nodes": [
      {
        "parameters": {
          "promptType": "define",
          "text": "={{ $('download_post_prompt').item.json.output }}",
          "needsFallback": true,
          "messages": {
            "messageValues": [
              {
                "message": "={{ $('download_post_system_prompt').item.json.output }}"
              }
            ]
          }
        },
        "type": "@n8n/n8n-nodes-langchain.chainLlm",
        "typeVersion": 1.6,
        "position": [
          1696,
          1296
        ],
        "id": "aa9911e9-19b7-4009-8d4a-1fd8c7f7ebf1",
        "name": "create_post_ai",
        "alwaysOutputData": false,
        "retryOnFail": true,
        "waitBetweenTries": 5000,
        "maxTries": 5
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "={{ $('download_post_review_prompt').item.json.output }}",
          "needsFallback": true
        },
        "type": "@n8n/n8n-nodes-langchain.chainLlm",
        "typeVersion": 1.6,
        "position": [
          2720,
          1312
        ],
        "id": "8ae93e8e-16f3-4e79-8d69-f8c658d48972",
        "name": "check_rules_llm",
        "retryOnFail": true,
        "waitBetweenTries": 5000,
        "maxTries": 5
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.output }}",
                      "rightValue": "true",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      },
                      "id": "ef976d0c-a5e3-4a2f-8740-82b3edbdb3ce"
                    }
                  ],
                  "combinator": "and"
                }
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "1f7bef35-3f55-4abe-87a7-c30b8961ae2e",
                      "leftValue": "={{ $runIndex }}",
                      "rightValue": "={{ $('set_workflow_vars').item.json.MAX_TRIES }}",
                      "operator": {
                        "type": "number",
                        "operation": "gt"
                      }
                    }
                  ],
                  "combinator": "and"
                }
              }
            ]
          },
          "options": {
            "fallbackOutput": "extra"
          }
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.2,
        "position": [
          3296,
          1360
        ],
        "id": "c3d1b698-18c9-4562-9fc2-41068b7f6db4",
        "name": "switch_check_rules_llm"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "6a77a0ee-e904-467b-9f9f-e04aa3ddf203",
                "name": "ERROR",
                "value": "MAX_RETRIES_EXCEEDED",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          3520,
          1424
        ],
        "id": "48a63a8f-fb86-4a4e-bbc8-0afa8b22e490",
        "name": "set_error_max_tries"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "7f8f3783-1e58-470f-8731-866fff1519a3",
                "name": "text",
                "value": "={{ /<output>([\\s\\S]*?)<\\/output>/.exec($json.text)?.[1].trim().replace(\"SOME_URL\", $('set_workflow_vars').item.json.URL) || $json.text }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          2048,
          1232
        ],
        "id": "22c901c4-23e6-4737-a813-2cd9d5c995e1",
        "name": "parse_llm_output"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "3278d703-6413-4117-95ef-f5e639096d2b",
                "name": "RULES",
                "value": "={{ $('download_post_rules_prompt').item.json.output }}",
                "type": "string"
              },
              {
                "id": "97804ec0-c646-438a-bbc8-fad3b1081264",
                "name": "MAX_TRIES",
                "value": 3,
                "type": "number"
              },
              {
                "id": "b072d171-1af0-407c-8b16-ee61278bbd52",
                "name": "ERROR",
                "value": "",
                "type": "string"
              },
              {
                "id": "b090338e-13b0-4b58-b768-6a826051edf8",
                "name": "POST_TYPE",
                "value": "={{ $('main_trigger').item.json.POST_TYPE || \"LinkedIn Post\" }}",
                "type": "string"
              },
              {
                "id": "8b1c6021-99ec-4daa-9f4a-f5d583ac2daf",
                "name": "URL",
                "value": "={{ $('main_trigger').item.json.URL || \"https://www.alvsanand.com\" }}",
                "type": "string"
              },
              {
                "id": "52b87bd1-627b-4af4-b73a-433a1b3caccd",
                "name": "MODEL",
                "value": "xiaomi/mimo-v2.5",
                "type": "string"
              },
              {
                "id": "708efbf7-5a7f-4dd7-a5b4-1eb73ac77883",
                "name": "MODEL_FALLBACK",
                "value": "deepseek/deepseek-v4-pro",
                "type": "string"
              },
              {
                "id": "45561a7c-0cb2-4bff-a5e2-a4bbe69d14e3",
                "name": "ENABLE_CHECK",
                "value": "={{ $('main_trigger').item.json.ENABLE_CHECK || 'false' }}",
                "type": "string"
              }
            ]
          },
          "includeOtherFields": true,
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          224,
          1296
        ],
        "id": "4e0caaaf-bd45-4832-bb6c-8b8c298c0195",
        "name": "set_workflow_vars"
      },
      {
        "parameters": {
          "jsCode": "// Randomly pick variety directives so consecutive posts never share the same shape.\n// Duplicated entries act as weights.\nconst pick = (arr) => arr[Math.floor(Math.random() * arr.length)];\n\n// Content-aware hook eligibility. Some hook archetypes presuppose material that\n// isn't in every source: NEWS REACTION needs an actual announcement, HARD NUMBER\n// needs a concrete figure. classify_content inspects the source and flags both,\n// so a hook the content cannot support is never assigned (which would otherwise\n// force the writer off-source and get the post rejected by the reviewer).\nconst classification = $('classify_content').item.json.text || '';\nconst flag = (name) => new RegExp('\"' + name + '\"\\\\s*:\\\\s*true').test(classification);\nconst isNews = flag('is_news');\nconst hasHardNumber = flag('has_hard_number');\n\n// These four archetypes work on any content.\nconst hooks = [\n  'CONTRARIAN CLAIM: open with a blunt statement that challenges accepted practice',\n  'WAR STORY: open with a concrete incident or observation from production work',\n  'MISCONCEPTION: open by naming a common misconception and correcting it',\n  'TRADE-OFF: open by framing the underlying trade-off most people ignore',\n];\n// These two are only eligible when the source actually supports them.\nif (isNews) hooks.push('NEWS REACTION: open with your immediate, opinionated take on the announcement or release');\nif (hasHardNumber) hooks.push('HARD NUMBER: open with a specific figure, cost, or metric and why it matters');\n\nconst hook = pick(hooks);\n\nconst format = pick([\n  'PURE PROSE: no bullet points at all, 3-5 flowing paragraphs',\n  'PURE PROSE: no bullet points at all, 3-5 flowing paragraphs',\n  'PUNCHY: several very short paragraphs, at least two of them a single sentence',\n  'PUNCHY: several very short paragraphs, at least two of them a single sentence',\n  'ONE BULLET BLOCK: exactly one bullet list of 3-4 short items, with prose before and after',\n]);\n\nconst length = pick([\n  'SHORT: aim for roughly 40% of the word limit',\n  'MEDIUM: aim for roughly 70% of the word limit',\n  'MEDIUM: aim for roughly 70% of the word limit',\n  'FULL: use most of the word limit',\n]);\n\nconst closing = pick([\n  'DIRECT QUESTION: end the body with one specific question to technical peers',\n  'DIRECT QUESTION: end the body with one specific question to technical peers',\n  'SHARED EXPERIENCE: end by inviting others to share how they handle it, phrased as a statement, no question mark',\n  'HOT TAKE: end the body on a blunt one-line statement, no question, no invitation',\n  'HOT TAKE: end the body on a blunt one-line statement, no question, no invitation',\n  'NONE: end when the argument is complete, with no closing question or invitation',\n]);\n\nconst VARIETY_DIRECTIVES = [\n  `- Hook — ${hook}.`,\n  `- Format — ${format}.`,\n  `- Length — ${length}.`,\n  `- Closing — ${closing}. The \"Source here\" line and hashtags always follow the body regardless.`,\n].join('\\n');\n\nreturn [{ json: { ...$input.first().json, VARIETY_DIRECTIVES } }];\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1024,
          1296
        ],
        "id": "96b89d50-7425-428e-bc94-1d86922e3f17",
        "name": "set_variety_directives"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "2b0bc19a-ed15-45a0-9022-a59e2c9e56d1",
                "name": "text",
                "value": "={{ $('parse_llm_output').item.json.text }}",
                "type": "string"
              },
              {
                "id": "59d2348a-a3bb-49eb-b8f6-27faa0fe801f",
                "name": "omImage ",
                "value": "",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          3520,
          1200
        ],
        "id": "39655756-5d75-4c50-b585-f5107519a7cd",
        "name": "set_output"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "09xEuVQj207pjK4x",
            "mode": "list",
            "cachedResultUrl": "/workflow/09xEuVQj207pjK4x",
            "cachedResultName": "DownloadTemplate"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "template_vars": "={{ {\n\"RULES\": $('set_workflow_vars').item.json.RULES,\n\"EXTRA_RULES\": $('main_trigger').item.json.EXTRA_RULES,\n\"CONTENT\": $('main_trigger').item.json.CONTENT,\n\"VARIETY_DIRECTIVES\": $('set_variety_directives').item.json.VARIETY_DIRECTIVES,\n} }}",
              "template_name": "prompts/linkedin_post.md"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "template_name",
                "displayName": "template_name",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string"
              },
              {
                "id": "template_vars",
                "displayName": "template_vars",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "object"
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.2,
        "position": [
          1248,
          1296
        ],
        "id": "5866e0e2-6b0c-4feb-8662-69146df43e35",
        "name": "download_post_prompt"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "09xEuVQj207pjK4x",
            "mode": "list",
            "cachedResultUrl": "/workflow/09xEuVQj207pjK4x",
            "cachedResultName": "DownloadTemplate"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "template_vars": "={{ {} }}",
              "template_name": "prompts/linkedin_post_system.md"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "template_name",
                "displayName": "template_name",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string"
              },
              {
                "id": "template_vars",
                "displayName": "template_vars",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "object"
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.2,
        "position": [
          1472,
          1296
        ],
        "id": "fc5abb22-6611-46ce-ae77-96095df69950",
        "name": "download_post_system_prompt"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "09xEuVQj207pjK4x",
            "mode": "list",
            "cachedResultName": "DownloadTemplate"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "template_vars": "={{ {\n\"RULES\": $('set_workflow_vars').item.json.RULES,\n\"EXTRA_RULES\": $('main_trigger').item.json.EXTRA_RULES,\n\"URL\": $('main_trigger').item.json.URL,\n\"TEXT\": $json.text,\n\"VARIETY_DIRECTIVES\": $('set_variety_directives').item.json.VARIETY_DIRECTIVES,\n} }}",
              "template_name": "prompts/linkedin_post_review.md"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "template_name",
                "displayName": "template_name",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string"
              },
              {
                "id": "template_vars",
                "displayName": "template_vars",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "object"
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.2,
        "position": [
          2496,
          1312
        ],
        "id": "20b93712-635f-4600-a70f-25e82cf613dd",
        "name": "download_post_review_prompt"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "09xEuVQj207pjK4x",
            "mode": "list",
            "cachedResultName": "DownloadTemplate"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "template_vars": "={{ {\"MAX_WORDS\": $('main_trigger').item.json.MAX_WORDS || 200 } }}",
              "template_name": "prompts/linkedin_post_rules.md"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "template_name",
                "displayName": "template_name",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string"
              },
              {
                "id": "template_vars",
                "displayName": "template_vars",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "object"
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.2,
        "position": [
          0,
          1296
        ],
        "id": "ab965150-c4fc-4745-82e6-fc63660abdb9",
        "name": "download_post_rules_prompt"
      },
      {
        "parameters": {
          "workflowInputs": {
            "values": [
              {
                "name": "EXTRA_RULES"
              },
              {
                "name": "CONTENT"
              },
              {
                "name": "URL"
              },
              {
                "name": "MAX_WORDS",
                "type": "number"
              },
              {
                "name": "ENABLE_CHECK"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          -224,
          1296
        ],
        "id": "9f5081ce-1487-45f8-843a-d786802dae3f",
        "name": "main_trigger"
      },
      {
        "parameters": {
          "jsCode": "for (const item of $input.all()) {\n  const { text } = item.json;\n\n  const output = text.includes('<output>') && text.includes('</output>')\n    ? text.split('<output>')[1].split('</output>')[0]\n    : 'false';\n  \n  item.json.output = output;\n}\n\nreturn $input.all();"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          3072,
          1312
        ],
        "id": "8677078c-4a42-4203-8b15-addd7ae8c972",
        "name": "parse_llm_check_output"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "loose",
              "version": 2
            },
            "conditions": [
              {
                "id": "524e1406-ed4b-436d-90aa-59fa6cb55916",
                "leftValue": "={{ $('set_workflow_vars').item.json.ENABLE_CHECK }}",
                "rightValue": "true",
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "looseTypeValidation": true,
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          2272,
          1232
        ],
        "id": "9ab98ce1-7463-4033-ab52-f19a29691f4e",
        "name": "if_enabled_check"
      },
      {
        "parameters": {
          "model": "={{ $('set_workflow_vars').item.json.MODEL_FALLBACK }}",
          "options": {
            "maxRetries": 5
          }
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
        "typeVersion": 1,
        "position": [
          816,
          1520
        ],
        "id": "70e1372c-3b7d-440b-950b-4ba4817b6872",
        "name": "ai_model_fallback",
        "credentials": {
          "openRouterApi": {
            "id": "QBmSiBlACt26uQAX",
            "name": "OpenRouter account"
          }
        }
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "09xEuVQj207pjK4x",
            "mode": "list",
            "cachedResultName": "DownloadTemplate",
            "cachedResultUrl": "/workflow/09xEuVQj207pjK4x"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "template_name": "prompts/linkedin_post_classify.md",
              "template_vars": "={{ {\n\"CONTENT\": $('main_trigger').item.json.CONTENT,\n} }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "template_name",
                "displayName": "template_name",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string"
              },
              {
                "id": "template_vars",
                "displayName": "template_vars",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "object"
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.2,
        "position": [
          448,
          1296
        ],
        "id": "a1593f30-6068-42d0-bdc7-cf9152c7cb4f",
        "name": "download_post_classify_prompt"
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "={{ $('download_post_classify_prompt').item.json.output }}",
          "needsFallback": true
        },
        "type": "@n8n/n8n-nodes-langchain.chainLlm",
        "typeVersion": 1.6,
        "position": [
          672,
          1296
        ],
        "id": "9111cd11-0f7b-46bd-928c-3cc2ee4a170e",
        "name": "classify_content",
        "retryOnFail": true,
        "maxTries": 5,
        "waitBetweenTries": 5000
      },
      {
        "parameters": {
          "model": "={{ $('set_workflow_vars').item.json.MODEL }}",
          "options": {
            "maxRetries": 5
          }
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
        "typeVersion": 1,
        "position": [
          688,
          1520
        ],
        "id": "05bd59d9-f7f4-4465-a53a-f364ed7bfa8b",
        "name": "ai_model",
        "credentials": {
          "openRouterApi": {
            "id": "QBmSiBlACt26uQAX",
            "name": "OpenRouter account"
          }
        }
      }
    ],
    "connections": {
      "create_post_ai": {
        "main": [
          [
            {
              "node": "parse_llm_output",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "check_rules_llm": {
        "main": [
          [
            {
              "node": "parse_llm_check_output",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "switch_check_rules_llm": {
        "main": [
          [
            {
              "node": "set_output",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "set_error_max_tries",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "create_post_ai",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "parse_llm_output": {
        "main": [
          [
            {
              "node": "if_enabled_check",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "set_workflow_vars": {
        "main": [
          [
            {
              "node": "download_post_classify_prompt",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "download_post_prompt": {
        "main": [
          [
            {
              "node": "download_post_system_prompt",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "download_post_system_prompt": {
        "main": [
          [
            {
              "node": "create_post_ai",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "download_post_review_prompt": {
        "main": [
          [
            {
              "node": "check_rules_llm",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "download_post_rules_prompt": {
        "main": [
          [
            {
              "node": "set_workflow_vars",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "main_trigger": {
        "main": [
          [
            {
              "node": "download_post_rules_prompt",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "parse_llm_check_output": {
        "main": [
          [
            {
              "node": "switch_check_rules_llm",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "if_enabled_check": {
        "main": [
          [
            {
              "node": "download_post_review_prompt",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "set_output",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "ai_model_fallback": {
        "ai_languageModel": [
          [
            {
              "node": "check_rules_llm",
              "type": "ai_languageModel",
              "index": 1
            },
            {
              "node": "create_post_ai",
              "type": "ai_languageModel",
              "index": 1
            },
            {
              "node": "classify_content",
              "type": "ai_languageModel",
              "index": 1
            }
          ]
        ]
      },
      "set_variety_directives": {
        "main": [
          [
            {
              "node": "download_post_prompt",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "download_post_classify_prompt": {
        "main": [
          [
            {
              "node": "classify_content",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "classify_content": {
        "main": [
          [
            {
              "node": "set_variety_directives",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "ai_model": {
        "ai_languageModel": [
          [
            {
              "node": "classify_content",
              "type": "ai_languageModel",
              "index": 0
            },
            {
              "node": "create_post_ai",
              "type": "ai_languageModel",
              "index": 0
            },
            {
              "node": "check_rules_llm",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      }
    },
    "nodeGroups": [],
    "authors": "no name",
    "name": "Version c9f333c2",
    "description": "",
    "autosaved": true
  },
  "activeVersionId": "c9f333c2-6ed7-476e-977d-4e4720ce2ae4",
  "connections": {
    "create_post_ai": {
      "main": [
        [
          {
            "node": "parse_llm_output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "check_rules_llm": {
      "main": [
        [
          {
            "node": "parse_llm_check_output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "switch_check_rules_llm": {
      "main": [
        [
          {
            "node": "set_output",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "set_error_max_tries",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "create_post_ai",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "parse_llm_output": {
      "main": [
        [
          {
            "node": "if_enabled_check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "set_workflow_vars": {
      "main": [
        [
          {
            "node": "download_post_classify_prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "download_post_prompt": {
      "main": [
        [
          {
            "node": "download_post_system_prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "download_post_system_prompt": {
      "main": [
        [
          {
            "node": "create_post_ai",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "download_post_review_prompt": {
      "main": [
        [
          {
            "node": "check_rules_llm",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "download_post_rules_prompt": {
      "main": [
        [
          {
            "node": "set_workflow_vars",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "main_trigger": {
      "main": [
        [
          {
            "node": "download_post_rules_prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "parse_llm_check_output": {
      "main": [
        [
          {
            "node": "switch_check_rules_llm",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "if_enabled_check": {
      "main": [
        [
          {
            "node": "download_post_review_prompt",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "set_output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ai_model_fallback": {
      "ai_languageModel": [
        [
          {
            "node": "check_rules_llm",
            "type": "ai_languageModel",
            "index": 1
          },
          {
            "node": "create_post_ai",
            "type": "ai_languageModel",
            "index": 1
          },
          {
            "node": "classify_content",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "set_variety_directives": {
      "main": [
        [
          {
            "node": "download_post_prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "download_post_classify_prompt": {
      "main": [
        [
          {
            "node": "classify_content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "classify_content": {
      "main": [
        [
          {
            "node": "set_variety_directives",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ai_model": {
      "ai_languageModel": [
        [
          {
            "node": "classify_content",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "create_post_ai",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "check_rules_llm",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-05-21T14:27:03.290Z",
  "id": "PaeHFdCsdoVbQx11",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "LinkedIn Post Creator",
  "nodeGroups": [],
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('download_post_prompt').item.json.output }}",
        "needsFallback": true,
        "messages": {
          "messageValues": [
            {
              "message": "={{ $('download_post_system_prompt').item.json.output }}"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.6,
      "position": [
        1696,
        1296
      ],
      "id": "aa9911e9-19b7-4009-8d4a-1fd8c7f7ebf1",
      "name": "create_post_ai",
      "alwaysOutputData": false,
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "maxTries": 5
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('download_post_review_prompt').item.json.output }}",
        "needsFallback": true
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.6,
      "position": [
        2720,
        1312
      ],
      "id": "8ae93e8e-16f3-4e79-8d69-f8c658d48972",
      "name": "check_rules_llm",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "maxTries": 5
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "true",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "ef976d0c-a5e3-4a2f-8740-82b3edbdb3ce"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "1f7bef35-3f55-4abe-87a7-c30b8961ae2e",
                    "leftValue": "={{ $runIndex }}",
                    "rightValue": "={{ $('set_workflow_vars').item.json.MAX_TRIES }}",
                    "operator": {
                      "type": "number",
                      "operation": "gt"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        3296,
        1360
      ],
      "id": "c3d1b698-18c9-4562-9fc2-41068b7f6db4",
      "name": "switch_check_rules_llm"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6a77a0ee-e904-467b-9f9f-e04aa3ddf203",
              "name": "ERROR",
              "value": "MAX_RETRIES_EXCEEDED",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3520,
        1424
      ],
      "id": "48a63a8f-fb86-4a4e-bbc8-0afa8b22e490",
      "name": "set_error_max_tries"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7f8f3783-1e58-470f-8731-866fff1519a3",
              "name": "text",
              "value": "={{ /<output>([\\s\\S]*?)<\\/output>/.exec($json.text)?.[1].trim().replace(\"SOME_URL\", $('set_workflow_vars').item.json.URL) || $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2048,
        1232
      ],
      "id": "22c901c4-23e6-4737-a813-2cd9d5c995e1",
      "name": "parse_llm_output"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3278d703-6413-4117-95ef-f5e639096d2b",
              "name": "RULES",
              "value": "={{ $('download_post_rules_prompt').item.json.output }}",
              "type": "string"
            },
            {
              "id": "97804ec0-c646-438a-bbc8-fad3b1081264",
              "name": "MAX_TRIES",
              "value": 3,
              "type": "number"
            },
            {
              "id": "b072d171-1af0-407c-8b16-ee61278bbd52",
              "name": "ERROR",
              "value": "",
              "type": "string"
            },
            {
              "id": "b090338e-13b0-4b58-b768-6a826051edf8",
              "name": "POST_TYPE",
              "value": "={{ $('main_trigger').item.json.POST_TYPE || \"LinkedIn Post\" }}",
              "type": "string"
            },
            {
              "id": "8b1c6021-99ec-4daa-9f4a-f5d583ac2daf",
              "name": "URL",
              "value": "={{ $('main_trigger').item.json.URL || \"https://www.alvsanand.com\" }}",
              "type": "string"
            },
            {
              "id": "52b87bd1-627b-4af4-b73a-433a1b3caccd",
              "name": "MODEL",
              "value": "xiaomi/mimo-v2.5",
              "type": "string"
            },
            {
              "id": "708efbf7-5a7f-4dd7-a5b4-1eb73ac77883",
              "name": "MODEL_FALLBACK",
              "value": "deepseek/deepseek-v4-pro",
              "type": "string"
            },
            {
              "id": "45561a7c-0cb2-4bff-a5e2-a4bbe69d14e3",
              "name": "ENABLE_CHECK",
              "value": "={{ $('main_trigger').item.json.ENABLE_CHECK || 'false' }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        1296
      ],
      "id": "4e0caaaf-bd45-4832-bb6c-8b8c298c0195",
      "name": "set_workflow_vars"
    },
    {
      "parameters": {
        "jsCode": "// Randomly pick variety directives so consecutive posts never share the same shape.\n// Duplicated entries act as weights.\nconst pick = (arr) => arr[Math.floor(Math.random() * arr.length)];\n\n// Content-aware hook eligibility. Some hook archetypes presuppose material that\n// isn't in every source: NEWS REACTION needs an actual announcement, HARD NUMBER\n// needs a concrete figure. classify_content inspects the source and flags both,\n// so a hook the content cannot support is never assigned (which would otherwise\n// force the writer off-source and get the post rejected by the reviewer).\nconst classification = $('classify_content').item.json.text || '';\nconst flag = (name) => new RegExp('\"' + name + '\"\\\\s*:\\\\s*true').test(classification);\nconst isNews = flag('is_news');\nconst hasHardNumber = flag('has_hard_number');\n\n// These four archetypes work on any content.\nconst hooks = [\n  'CONTRARIAN CLAIM: open with a blunt statement that challenges accepted practice',\n  'WAR STORY: open with a concrete incident or observation from production work',\n  'MISCONCEPTION: open by naming a common misconception and correcting it',\n  'TRADE-OFF: open by framing the underlying trade-off most people ignore',\n];\n// These two are only eligible when the source actually supports them.\nif (isNews) hooks.push('NEWS REACTION: open with your immediate, opinionated take on the announcement or release');\nif (hasHardNumber) hooks.push('HARD NUMBER: open with a specific figure, cost, or metric and why it matters');\n\nconst hook = pick(hooks);\n\nconst format = pick([\n  'PURE PROSE: no bullet points at all, 3-5 flowing paragraphs',\n  'PURE PROSE: no bullet points at all, 3-5 flowing paragraphs',\n  'PUNCHY: several very short paragraphs, at least two of them a single sentence',\n  'PUNCHY: several very short paragraphs, at least two of them a single sentence',\n  'ONE BULLET BLOCK: exactly one bullet list of 3-4 short items, with prose before and after',\n]);\n\nconst length = pick([\n  'SHORT: aim for roughly 40% of the word limit',\n  'MEDIUM: aim for roughly 70% of the word limit',\n  'MEDIUM: aim for roughly 70% of the word limit',\n  'FULL: use most of the word limit',\n]);\n\nconst closing = pick([\n  'DIRECT QUESTION: end the body with one specific question to technical peers',\n  'DIRECT QUESTION: end the body with one specific question to technical peers',\n  'SHARED EXPERIENCE: end by inviting others to share how they handle it, phrased as a statement, no question mark',\n  'HOT TAKE: end the body on a blunt one-line statement, no question, no invitation',\n  'HOT TAKE: end the body on a blunt one-line statement, no question, no invitation',\n  'NONE: end when the argument is complete, with no closing question or invitation',\n]);\n\nconst VARIETY_DIRECTIVES = [\n  `- Hook — ${hook}.`,\n  `- Format — ${format}.`,\n  `- Length — ${length}.`,\n  `- Closing — ${closing}. The \"Source here\" line and hashtags always follow the body regardless.`,\n].join('\\n');\n\nreturn [{ json: { ...$input.first().json, VARIETY_DIRECTIVES } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1024,
        1296
      ],
      "id": "96b89d50-7425-428e-bc94-1d86922e3f17",
      "name": "set_variety_directives"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2b0bc19a-ed15-45a0-9022-a59e2c9e56d1",
              "name": "text",
              "value": "={{ $('parse_llm_output').item.json.text }}",
              "type": "string"
            },
            {
              "id": "59d2348a-a3bb-49eb-b8f6-27faa0fe801f",
              "name": "omImage ",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3520,
        1200
      ],
      "id": "39655756-5d75-4c50-b585-f5107519a7cd",
      "name": "set_output"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "09xEuVQj207pjK4x",
          "mode": "list",
          "cachedResultUrl": "/workflow/09xEuVQj207pjK4x",
          "cachedResultName": "DownloadTemplate"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "template_vars": "={{ {\n\"RULES\": $('set_workflow_vars').item.json.RULES,\n\"EXTRA_RULES\": $('main_trigger').item.json.EXTRA_RULES,\n\"CONTENT\": $('main_trigger').item.json.CONTENT,\n\"VARIETY_DIRECTIVES\": $('set_variety_directives').item.json.VARIETY_DIRECTIVES,\n} }}",
            "template_name": "prompts/linkedin_post.md"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "template_name",
              "displayName": "template_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "template_vars",
              "displayName": "template_vars",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1248,
        1296
      ],
      "id": "5866e0e2-6b0c-4feb-8662-69146df43e35",
      "name": "download_post_prompt"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "09xEuVQj207pjK4x",
          "mode": "list",
          "cachedResultUrl": "/workflow/09xEuVQj207pjK4x",
          "cachedResultName": "DownloadTemplate"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "template_vars": "={{ {} }}",
            "template_name": "prompts/linkedin_post_system.md"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "template_name",
              "displayName": "template_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "template_vars",
              "displayName": "template_vars",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1472,
        1296
      ],
      "id": "fc5abb22-6611-46ce-ae77-96095df69950",
      "name": "download_post_system_prompt"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "09xEuVQj207pjK4x",
          "mode": "list",
          "cachedResultName": "DownloadTemplate"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "template_vars": "={{ {\n\"RULES\": $('set_workflow_vars').item.json.RULES,\n\"EXTRA_RULES\": $('main_trigger').item.json.EXTRA_RULES,\n\"URL\": $('main_trigger').item.json.URL,\n\"TEXT\": $json.text,\n\"VARIETY_DIRECTIVES\": $('set_variety_directives').item.json.VARIETY_DIRECTIVES,\n} }}",
            "template_name": "prompts/linkedin_post_review.md"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "template_name",
              "displayName": "template_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "template_vars",
              "displayName": "template_vars",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        2496,
        1312
      ],
      "id": "20b93712-635f-4600-a70f-25e82cf613dd",
      "name": "download_post_review_prompt"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "09xEuVQj207pjK4x",
          "mode": "list",
          "cachedResultName": "DownloadTemplate"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "template_vars": "={{ {\"MAX_WORDS\": $('main_trigger').item.json.MAX_WORDS || 200 } }}",
            "template_name": "prompts/linkedin_post_rules.md"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "template_name",
              "displayName": "template_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "template_vars",
              "displayName": "template_vars",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        0,
        1296
      ],
      "id": "ab965150-c4fc-4745-82e6-fc63660abdb9",
      "name": "download_post_rules_prompt"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "EXTRA_RULES"
            },
            {
              "name": "CONTENT"
            },
            {
              "name": "URL"
            },
            {
              "name": "MAX_WORDS",
              "type": "number"
            },
            {
              "name": "ENABLE_CHECK"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -224,
        1296
      ],
      "id": "9f5081ce-1487-45f8-843a-d786802dae3f",
      "name": "main_trigger"
    },
    {
      "parameters": {
        "jsCode": "for (const item of $input.all()) {\n  const { text } = item.json;\n\n  const output = text.includes('<output>') && text.includes('</output>')\n    ? text.split('<output>')[1].split('</output>')[0]\n    : 'false';\n  \n  item.json.output = output;\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3072,
        1312
      ],
      "id": "8677078c-4a42-4203-8b15-addd7ae8c972",
      "name": "parse_llm_check_output"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "524e1406-ed4b-436d-90aa-59fa6cb55916",
              "leftValue": "={{ $('set_workflow_vars').item.json.ENABLE_CHECK }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2272,
        1232
      ],
      "id": "9ab98ce1-7463-4033-ab52-f19a29691f4e",
      "name": "if_enabled_check"
    },
    {
      "parameters": {
        "model": "={{ $('set_workflow_vars').item.json.MODEL_FALLBACK }}",
        "options": {
          "maxRetries": 5
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        816,
        1520
      ],
      "id": "70e1372c-3b7d-440b-950b-4ba4817b6872",
      "name": "ai_model_fallback",
      "credentials": {
        "openRouterApi": {
          "id": "QBmSiBlACt26uQAX",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "09xEuVQj207pjK4x",
          "mode": "list",
          "cachedResultName": "DownloadTemplate",
          "cachedResultUrl": "/workflow/09xEuVQj207pjK4x"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "template_name": "prompts/linkedin_post_classify.md",
            "template_vars": "={{ {\n\"CONTENT\": $('main_trigger').item.json.CONTENT,\n} }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "template_name",
              "displayName": "template_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "template_vars",
              "displayName": "template_vars",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        448,
        1296
      ],
      "id": "a1593f30-6068-42d0-bdc7-cf9152c7cb4f",
      "name": "download_post_classify_prompt"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('download_post_classify_prompt').item.json.output }}",
        "needsFallback": true
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.6,
      "position": [
        672,
        1296
      ],
      "id": "9111cd11-0f7b-46bd-928c-3cc2ee4a170e",
      "name": "classify_content",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "model": "={{ $('set_workflow_vars').item.json.MODEL }}",
        "options": {
          "maxRetries": 5
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        688,
        1520
      ],
      "id": "05bd59d9-f7f4-4465-a53a-f364ed7bfa8b",
      "name": "ai_model",
      "credentials": {
        "openRouterApi": {
          "id": "QBmSiBlACt26uQAX",
          "name": "OpenRouter account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "timeSavedMode": "fixed",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "shared": [
    {
      "updatedAt": "2025-05-21T14:27:03.290Z",
      "createdAt": "2025-05-21T14:27:03.290Z",
      "role": "workflow:owner",
      "workflowId": "PaeHFdCsdoVbQx11",
      "projectId": "zcGU09G6dy4Oah3l"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-07-14T20:44:03.158Z",
  "versionId": "c9f333c2-6ed7-476e-977d-4e4720ce2ae4"
}