n8n/2025/05/linkedinpostsharing.json
{
  "active": false,
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Puppeteer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Puppeteer": {
      "main": [
        [
          {
            "node": "Markdown",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Markdown": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-05-17T19:28:23.598Z",
  "fileName": "linkedinpostsharing.json",
  "id": "ly0hy9UadcLEcp7W",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "LinkedInPostSharing",
  "nodes": [
    {
      "parameters": {
        "formTitle": "LinkedIn Post Worflow",
        "formFields": {
          "values": [
            {
              "fieldLabel": "URL",
              "placeholder": "some_url",
              "requiredField": true
            },
            {
              "fieldLabel": "EXTRA_PROMPT",
              "fieldType": "textarea"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        -360,
        -40
      ],
      "id": "7e699ae3-3801-4a64-9c7c-b9b4d72937fb",
      "name": "On form submission",
      "webhookId": "e9400822-40ab-4a0f-a01f-a191dd52a960"
    },
    {
      "parameters": {
        "url": "={{ $json.URL }}",
        "options": {
          "browserWSEndpoint": "ws://datahub-local-core-automation-n8n-chromium:3000?token=TOKEN-1234567890"
        }
      },
      "type": "n8n-nodes-puppeteer.puppeteer",
      "typeVersion": 1,
      "position": [
        -100,
        -40
      ],
      "id": "277e518a-d28b-46a4-b822-c41b43b4f9b2",
      "name": "Puppeteer"
    },
    {
      "parameters": {
        "html": "={{ $json.body }}",
        "destinationKey": "mkdown",
        "options": {}
      },
      "type": "n8n-nodes-base.markdown",
      "typeVersion": 1,
      "position": [
        520,
        -40
      ],
      "id": "0b296aa6-d54c-4f66-90f0-372cfbf46e09",
      "name": "Markdown"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=# LinkedIn Post Prompt Template\n\n---\n\n## Task\nGenerate an engaging LinkedIn post to share the following document (provided in markdown).\n\n## Requirements\n\n- Summarize the key points or value of the document.\n- The document is a website dump. Skip data \\such as menus, header, footer. Find and focus on the article content\n- Add relevant LinkedIn topic hashtags (e.g., #DataScience, #Tech, etc.).\n- Include emojis to enhance visual appeal and engagement.\n- Use formatting tricks (like bold, ALL CAPS, or line breaks) to improve attractiveness.\n- Include a call-to-action (e.g., \"Check it out!\" or \"Let me know your thoughts!\").\n- Provide a direct link to the document.\n- Return only the post. Skip any other text.\n\n## Extra Requirements\n\n{{ $('On form submission').item.json.EXTRA_PROMPT }}\n\n## INPUT\n\n<document>\n{{ $json.mkdown }}\n</document>\n\n<link>{{ $json.url }}</link>\n\n## Example Input\n\n<document>\nA markdown document about \"Best Practices for Data Engineering in 2025\".\n</document>\n\n<link>https://example.com/aaa</link>\n\n## Example Output\n\n🚀 NEW RESOURCE ALERT! 🚀\n\nJust published: *Best Practices for Data Engineering in 2025*\n\nUnlock the latest strategies to boost your data workflows and stay ahead in the tech game!\n\n👉 Read the full guide here: <https://example.com/aaa>\n\n#DataEngineering #TechTrends #Innovation"
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.6,
      "position": [
        960,
        -40
      ],
      "id": "59d69b26-164b-4a2c-bb4e-6c7916eba5b2",
      "name": "Basic LLM Chain",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "model": "phi4-mini:3.8b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmOllama",
      "typeVersion": 1,
      "position": [
        1180,
        -40
      ],
      "id": "2d4c1f5f-efea-4d97-b353-76c63bdc36d7",
      "name": "Ollama Model",
      "credentials": {
        "ollamaApi": {
          "id": "w7dU7nKm7FYuEJdd",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C08RQNXQV3P",
          "mode": "list",
          "cachedResultName": "workflows"
        },
        "message": "=Waiting for approval to share in LinkedIn:\n\n- URL: {{ $('On form submission').item.json.URL }}\n- POST:\n\n{{ $json.text }}",
        "options": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        1320,
        -40
      ],
      "id": "47bd0b7c-6d65-4f71-a571-c70b71178409",
      "name": "Slack",
      "webhookId": "9b312988-a3b0-4385-a7a7-2ca3e66c8f7f",
      "credentials": {
        "slackApi": {
          "id": "DszMmPE7WwOjHQjz",
          "name": "Slack account"
        }
      }
    }
  ],
  "pinData": {},
  "repo_name": "datahub-local-workflows",
  "repo_owner": "datahub-local",
  "repo_path": "n8n/",
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-05-18T17:54:16.571Z",
  "versionId": "e5217e67-23ca-4436-831d-9dc91deda277"
}